<ion-modal-view>
    <ion-header-bar class=" gray-bg border-bottom-gray" align-title="center">
        <h1 class="title">Week {{activityDetail.week}} | Day {{activityDetail.day}}</h1>
        <div class="buttons">
            <button class="button button-icon icon ion-android-close "
                    ng-click="activityDetail.hideFilters()"></button>
        </div>
    </ion-header-bar>
    <ion-header-bar class="bar-stable bar-subheader" align-title="center">
        <h1 class="title sparup-orange bold">{{activityDetail.activityInModal.activityName}}</h1>
    </ion-header-bar>

    <ion-content class="has-header  stable-bg">
        <div class="row row-no-padding border-bottom-gray" ng-if="!activityDetail.isYoutubeVideo">
            <div id="videoPlayerdiv"></div>
        </div>
        <div class="row row-no-padding" ng-if="activityDetail.isYoutubeVideo">
            <div class="col video-frame">
                <iframe ng-style="activityDetail.videoFrame" ng-src="{{activityDetail.trustedLink}}"
                        frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="search-list list card margin-bottom-0 margin-top-10">
            <div class="padding">


                <div class="row row-no-padding padding-bottom-10 padding-horizontal">
                    <div class="col text-center text-large sparup-orange ">
                        {{activityDetail.activityInModal.round}} {{activityDetail.activityInModal.unit1}} / {{activityDetail.activityInModal.unit2}}
                    </div>
                </div>
                <div class="row row-no-padding padding-bottom-10 padding-horizontal">
                    <div class="col">
                        {{activityDetail.activityInModal.description}}

                    </div>
                </div>


                <!--<div class="row row-no-padding border-bottom-gray" ng-if="!activityDetail.isYoutubeVideo ">-->
                    <!--<div id="videoPlayerdiv" ng-if="activityDetail.activityInModal.videoId"></div>-->
                <!--</div>-->
                <!--<div class="row row-no-padding"-->
                     <!--ng-if="activityDetail.isYoutubeVideo && activityDetail.activityInModal.videoId">-->
                    <!--<div class="col video-frame" ng-if="activityDetail.activityInModal.videoId">-->
                        <!--<iframe ng-style="activityDetail.videoFrame" ng-src="{{activityDetail.trustedLink}}"-->
                                <!--frameborder="0" allowfullscreen></iframe>-->
                    <!--</div>-->
                <!--</div>-->

            </div>
        </div>


    </ion-content>
</ion-modal-view>
