<ion-view view-title={{activityDetail.trainingPlanDetails.trainingName|capitalize}} hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-back" ui-sref="sidemenu.tabs.trainingDetail"></button>
    </ion-nav-buttons>
    <ion-header-bar class="bar-subheader bar-stable border-bottom-gray" align-title="center">
        <h1 class="title">Week {{activityDetail.week}} | Day {{activityDetail.day}}</h1>
    </ion-header-bar>
    <ion-content class=" stable-bg has-subheader">
        <div class="search-list list card margin-bottom-0 margin-top-10"
             ng-repeat="activity in activityDetail.activityList">
            <div class="padding">
                <div class="row row-no-padding padding-horizontal">
                    <div class="col text-large" ng-click="activityDetail.openActivityDetailModal(activity)">
                        {{activity.activityName}}
                    </div>
                </div>
            </div>
        </div>
        <div class="padding" ng-if="activityDetail.activityList.length==0">
            <div class="row padding-top-30 margin-top-30">
                <div class="col gray text-center">
                    There are no activities for today
                </div>
            </div>
            <div class="row">
                <div class="col gray bold text-x-large text-center">
                    Take rest
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
