<div class="row row-no-padding padding-horizontal">
  <div class="col">
    <div class="list list-inset margin-0 transparent-bg">
      <label class="item item-input video-detail-label">
        <input type="text" placeholder="CLUB NAME" ng-model="academy.name">
      </label>
      <div class="errors" ng-if="academyNameError">Name is required</div>
    </div>
  </div>
</div>
<div class="row row-no-padding padding-horizontal">
  <div class="col">
    <div class="list list-inset margin-0 transparent-bg">
      <label class="item item-input video-detail-label">
        <input type="text" placeholder="LOCATION" ng-model="academy.location">
      </label>
      <div class="errors" ng-if="academyLocationError">Location is required</div>
    </div>
  </div>
</div>
<div class="row row-no-padding padding-horizontal">
  <div class="col col-50 margin-right-5">
    <div class="list list-inset margin-0 transparent-bg">
      <label class="item item-input video-detail-label">
        <input type="date" placeholder="FROM" ng-model="academy.from">
      </label>
      <div class="errors" ng-if="academyFromError">From Date is required</div>
    </div>
  </div>
  <div class="col col-50 margin-right-5">
    <div class="list list-inset margin-0 transparent-bg">
      <label class="item item-input video-detail-label">
        <input type="date" placeholder="TO" ng-model="academy.to">
      </label>
      <div class="errors" ng-if="academyToError">End Date is required</div>
    </div>
  </div>
</div>

<ion-checkbox ng-model="academy.current" class="item-borderless checkbox-sparup signup-bg">
Currently playing here
</ion-checkbox>
<div class="row row-no-padding div-centered-60 padding-top-10">
  <div class="col text-center">
    <button class="button button-block button-small button-sparup-orange button-small-rounded" ng-click="addAcademy()">Add</button>
  </div>
</div>