<ion-modal-view>
    <ion-header-bar class="bar-dark" align-title="center">

        <h1 class="title dark">Select Tags</h1>
        <div class="buttons">
            <button class="button button-icon icon ion-android-close"
                    ng-click="hideTagsModal()"></button>
        </div>
    </ion-header-bar>

    <ion-content class="stable-bg has-header has-footer" overflow-scroll="true">
        <div class="row row-no-padding">
            <div class="col tabbed-tag text-center bold" ng-repeat="tag in level1tags"
                 ng-click="getLevel2Tags(tag,false)" ng-class="{'tag-selected':tag.selected}">
                {{tag.tagLevel1|capitalize}}
            </div>
        </div>
        <ion-list>
            <!--<ion-item class="stable-bg padding-bottom-0">-->
            <!--<div class="row row-no-padding">-->
            <!--<div class="col gray text-small" ng-repeat="tag in level1tags"-->
            <!--ng-click="getLevel2Tags(tag,false)" ng-class="{'tag-selected':tag.selected}">-->
            <!--{{tag.tagLevel1|capitalize}}-->
            <!--</div>-->
            <!--</div>-->
            <!--</ion-item>-->


            <ion-scroll direction="x" zooming="false" style="width: 100%">
                <div class="text-center nowrap" style="height: 50px">
                <span class="gray uploadTags" ng-repeat="tagLevel2 in level2tags"
                      ng-click="getLevel3Tags(tagLevel2,false)"
                      ng-class="{'tag-selected':tagLevel2.selected}"
                      ng-if="showLevel2Div">
                    {{tagLevel2.tagLevel2|capitalize}}
                </span>
                </div>
            </ion-scroll>


            <!--<div class="row row-no-padding row-wrap" ng-if="showLevel3Div">-->
            <!--<div class="col gray uploadTags text-small" ng-repeat="tagLevel3 in level3tags"-->
            <!--ng-click="highlightLevel3Tag(tagLevel3)"-->
            <!--ng-class="{'tag-selected':tagLevel3.selected}">-->
            <!--{{tagLevel3.tagLevel3|capitalize}}-->
            <!--</div>-->
            <!--</div>-->
            <ion-scroll direction="x" zooming="false" style="width: 100%">
                <div class="text-center padding-bottom-5 padding-top-5 border-top-lightgray nowrap"
                     style="height: 60px">
                    <span class="gray uploadTags text-small" ng-repeat="tagLevel3 in level3tags"
                          ng-click="highlightLevel3Tag(tagLevel3)"
                          ng-class="{'tag-selected':tagLevel3.selected}"
                          ng-if="showLevel3Div">
                    {{tagLevel3.tagLevel3|capitalize}}
                    </span>
                </div>
            </ion-scroll>
            <div class="row bottom-shadow">
                <div class="col margin-left-30 margin-right-30">
                    <button ng-if="currentLevel==1||currentLevel==0" class="button button-block button-sparup-orange"
                            ng-click="getLevel2Tags(tag,true)" ng-disabled="currentLevel==0">Add
                    </button>
                    <button ng-if="currentLevel==2" class="button button-block button-sparup-orange"
                            ng-click="getLevel3Tags(tag,true)" ng-disabled="currentLevel==0">Add
                    </button>
                    <button ng-if="currentLevel==3" class="button button-block button-sparup-orange"
                            ng-click="addLevel3Tag()" ng-disabled="currentLevel==0">Add
                    </button>
                </div>
            </div>
            <div class="row margin-0">
                <div class="col text-center bold">
                    Selected tags
                </div>
            </div>

            <ion-item class="stable-bg padding-top-0 border-bottom-none border-top-none">
                <div class="row row-center row-no-padding margin-0" ng-repeat="level1 in deltaSelectedTags"
                     ng-class="{'border-bottom-lightgray padding-top-5 padding-bottom-5':!level1.level2TagsList||level1.level2TagsList.length==0}">
                    <div class="col">
                            <span ng-if="!level1.level2TagsList||level1.level2TagsList.length==0">
                                  {{level1.level1Tag|capitalize}}>
                            </span>
                        <div class="row row-no-padding margin-0" ng-repeat="level2 in level1.level2TagsList">
                            <div class="col">
                                <div class="row row-center row-no-padding border-bottom-lightgray margin-0"
                                     ng-if="!level2.level3TagsList||level2.level3TagsList.length==0">
                                    <div class="col padding-top-5 padding-bottom-5">
                                        {{level1.level1Tag|capitalize}}> {{level2.level2Tag|capitalize}}>
                                    </div>
                                    <div class="col col-10"
                                         ng-if="!level2.level3TagsList||level2.level3TagsList.length==0">
                                        <i class="icon ion-close-circled text-large"
                                           ng-click="removeLevel2Tags(level1.level1,level2.level2)"></i>
                                    </div>
                                </div>
                                <div class="row row-center row-no-padding border-bottom-lightgray margin-0"
                                     ng-repeat="level3 in level2.level3TagsList">
                                    <div class="col padding-top-5 padding-bottom-5">
                                        {{level1.level1Tag|capitalize}}> {{level2.level2Tag|capitalize}}>
                                        {{level3.level3Tag|capitalize}}
                                    </div>
                                    <div class="col col-10">
                                        <i class="icon ion-close-circled text-large"
                                           ng-click="removeLevel3Tags(level1.level1,level2.level2,level3.level3)"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-10" ng-if="!level1.level2TagsList||level1.level2TagsList.length==0">
                        <i class="icon ion-close-circled text-large" ng-click="removeLevel1Tags(level1.level1)"></i>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-sparup-orange">
        <button class="button button-block button-clear margin-0" ng-click="applyTags()">Apply</button>
    </ion-footer-bar>
</ion-modal-view>
