<div class="row row-no-padding padding-horizontal padding-top-5">
  <div class="col">
    <div class="list list-inset margin-0 transparent-bg">
      <label class="item item-input ">
        <textarea type="text" placeholder="Your question here" class="question-area"></textarea>
      </label>
    </div>
  </div>
</div>
<div class="row row-no-padding div-centered-60 padding-top-10">
  <div class="col text-center">
    <button class="button button-block button-small button-sparup-orange button-small-rounded">Submit</button>
  </div>
</div>