<div class="row row-no-padding padding-bottom-15 padding-top-15 popup-separator text-center" ng-click="videoLib.recordVideo()">
  <div class="col sparup-orange text-medium" >
    Record a video
  </div>
</div>
<div class="row row-no-padding padding-bottom-15 padding-top-15 popup-separator text-center" ng-if="android" ng-click="videoLib.getVideoFromGallery()">
  <div class="col sparup-orange text-medium" >
    Pick from Gallery
  </div>
</div>
<div class="row row-no-padding padding-bottom-15 padding-top-15 text-center margin-0" ng-click="videoLib.fromYoutube()">
  <div class="col sparup-orange text-medium" >
    From Youtube
  </div>
</div>
