<div class="row row-no-padding padding-bottom-15 padding-top-15 popup-separator text-center" ng-click="afterSportChosen()">
  <div class="col sparup-orange text-medium" >
    Football
  </div>
</div>
<div class="row row-no-padding padding-bottom-15 padding-top-15 text-center margin-0" ng-click="afterSportChosen()">
  <div class="col sparup-orange text-medium" >
    Badminton
  </div>
</div>
