<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar-light" align-title="center" ng-if="choose.showCloseButton">

        <div class="buttons">
            <button class="button button-icon icon ion-android-close sparup-orange"
                    ng-click="choose.return()"></button>
        </div>
    </ion-header-bar>
    <ion-content scroll="false" class="signup-bg">
        <div ng-style="choose.fullHeight" class="valign-parent padding-bottom-30">
            <div class="valign-child ">
                <div class="row" ng-style="choose.title">
                    <div class="col text-center text-xx-large">
                        Choose a sport
                    </div>
                </div>
                <div class="row row-no-padding div-centered-80" ng-style="choose.subtitle">
                    <div class="col gray text-center">
                        You will answer few simple questions for each sport
                    </div>
                </div>
                <div class="grid">
                    <div class="row" >
                        <div class="col col-33" ng-repeat="sport in choose.sportsList" ng-if="$index<3">
                            <img ng-src="{{backend}}/sportImages/{{sport.image}}" class="full-image" ng-class="{'selected-sport-image':sport.selected,'sport-image':!sport.selected}"
                                 ng-click="choose.sport(sport._id)" ng-disabled="sport.selected" >
                            <h5 class="text-center margin-0 gray">{{sport.sportName |capitalize}}</h5>
                        </div>
                        <!--<div class="col">-->
                            <!--<img src="img/ionic.png" class="full-image sport-image" ng-click="choose.sport('57c006afc6740498040294ba')" >-->
                            <!--<h5 class="text-center margin-0 gray">Cricket</h5>-->
                        <!--</div>-->
                        <!--<div class="col">-->
                            <!--<img src="img/ionic.png" class="full-image sport-image" ng-click="choose.sport('57c006e7c6740498040294be')">-->
                            <!--<h5 class="text-center margin-0 gray">Lawn Tennis</h5>-->
                        <!--</div>-->
                    </div>
                    <div class="row " >
                        <!--<div class="col">-->
                            <!--<img src="img/ionic.png" class="full-image sport-image" ng-click="choose.sport('57c006e1c6740498040294bd')" >-->
                            <!--<h5 class="text-center margin-0 gray">BasketBall</h5>-->
                        <!--</div>-->
                        <!--<div class="col">-->
                            <!--<img src="img/ionic.png" class="full-image sport-image" ng-click="choose.sport('57c006d4c6740498040294bc')">-->
                            <!--<h5 class="text-center margin-0 gray">VolleyBall</h5>-->
                        <!--</div>-->
                        <div class="col col-33" ng-repeat="sport in choose.sportsList" ng-if="$index>=3 && $index<6">
                            <img ng-src="{{backend}}/sportImages/{{sport.image}}" class="full-image" ng-class="{'selected-sport-image':sport.selected,'sport-image':!sport.selected}" ng-click="choose.sport(sport._id)" ng-disabled="sport.selected">
                            <h5 class="text-center margin-0 gray">{{sport.sportName|capitalize}}</h5>
                        </div>
                    </div>
                    <!--<div class="row ">-->
                    <!--<div class="col">-->
                    <!--<img src="img/ionic.png" class="full-image sport-image" >-->
                    <!--<h5 class="text-center margin-0 gray">Sport</h5>-->
                    <!--</div>-->
                    <!--<div class="col">-->
                    <!--<img src="img/ionic.png" class="full-image sport-image" >-->
                    <!--<h5 class="text-center margin-0 gray">Sport</h5>-->
                    <!--</div>-->
                    <!--<div class="col">-->
                    <!--<img src="img/ionic.png" class="full-image sport-image" >-->
                    <!--<h5 class="text-center margin-0 gray">Sport</h5>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
