<ion-view hide-nav-bar="true" hide-back-button="true">
    <ion-header-bar class="bar-clear">
        <div class="buttons">
            <button class="button button-icon icon ion-ios-arrow-left"
                    ng-click="coachProfile.return()"></button>
        </div>
    </ion-header-bar>
    <ion-content class="no-header has-tabs has-subfooter stable-bg" style="top:0;">
        <div class="parent">
            <div class="row row-no-padding">
                <div class="col cover-picture">
                </div>
            </div>
            <div class="row profile-basic">
                <div class="col col-25 text-center">
                    <img src="img/adam.jpg" class="profile-picture">
                </div>
                <div class="col">
                    <div class="row row-no-padding padding-vertical">
                        <div class="col text-large light bold">
                            {{coachProfile.coachInfo.firstName}} {{coachProfile.coachInfo.lastName}}
                        </div>
                    </div>
                    <div class="row row-no-padding ">
                        <div class="col light">
                            <span ng-if="!coachProfile.coachInfo.player"> Coaches</span>
                           <span ng-if="coachProfile.coachInfo.player"> Player</span> {{sportSelected.sportName}}
                        </div>
                    </div>
                </div>

                <!--<div class="col col-20 text-center">-->
                    <!--<button class="button icon ion-social-rss light translucent-bg"></button>-->
                <!--</div>-->
            </div>
        </div>
        <div class="row row-center row-no-padding padding-left-10
                        border-bottom-gray border-top-gray">
            <div class="col">
                <button class="button button-block button-sparup-orange" ng-if="!coachProfile.coachInfo.follow" ng-click="coachProfile.followUser(coachProfile.coachInfo._id)">Follow</button>
                <button class="button button-block button-sparup-orange" ng-if="coachProfile.coachInfo.follow" ng-click="coachProfile.unFollowUser(coachProfile.coachInfo._id)">Unfollow</button>
            </div>
            <div class="col text-center  ">
                <i class="icon ion-android-chat text-xx-large sparup-orange"></i>
                <div class="gray">Start chat</div>
            </div>

        </div>
        <div class="bar bar-light relative tabs-shadow" align-title="left">
            <div class="row row-center row-no-padding">
                <div class="col text-center"
                     ng-class="{'selected-sub-tab':coachProfile.status==1||coachProfile.status==0}"
                     ng-click="coachProfile.changePrevStatus(1)">
                    Info
                </div>
                <!--<div class="col text-center" ng-class="{'selected-sub-tab':coachProfile.status==2}"-->
                     <!--ng-click="coachProfile.changePrevStatus(2)">-->
                    <!--Exp-->
                <!--</div>-->
                <div class="col text-center" ng-class="{'selected-sub-tab':coachProfile.status==3}"
                     ng-click="coachProfile.changePrevStatus(3)">
                    Videos
                </div>
            </div>
        </div>

        <ion-scroll direction="y" ng-style="coachProfile.scrollerHeight">
            <div id="info" class="inner-tab z-9 light-bg" ng-style="coachProfile.info"
                 ng-class="{
                 'z-11':coachProfile.status==1 && coachProfile.prevStatus==1,
                 'z-11 slideInFromLeft':coachProfile.status==1 && coachProfile.prevStatus==2,
                 'slideInFromLeft z-11':coachProfile.status==1 && coachProfile.prevStatus==3,
                 'z-10 slideOutToLeft':coachProfile.status==2 && coachProfile.prevStatus==1,
                 'slideOutToLeft z-10':coachProfile.status==3 && coachProfile.prevStatus==1}">

                <!--<div class="row row-center padding-top-5 ">-->
                    <!--<div class="col col-25 text-center padding-bottom-15">-->
                        <!--<i class="icon ion-android-star sparup-orange text-xxx-large"></i>-->
                    <!--</div>-->
                    <!--<div class="col padding-right-10 border-bottom-gray padding-bottom-15 item-text-wrap dark-gray">-->
                        <!--<div class="row row-no-padding row-center ">-->
                            <!--<div class="col text-large">-->
                                <!--4.3-->
                            <!--</div>-->
                            <!--<div class="col text-center">-->
                                <!--<i class="icon ion-thumbsup sparup-orange text-xxx-large"></i>-->
                            <!--</div>-->
                            <!--<div class="col text-large">-->
                                <!--50-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col text-center padding-bottom-15 border-bottom-gray">-->
                    <!--</div>-->
                    <!--<div class="col padding-right-10 border-bottom-gray padding-bottom-15 item-text-wrap dark-gray text-large">-->
                        <!---->
                    <!--</div>-->
                <!--</div>-->
                <div class="row div-centered-90 border-bottom-gray">
                    <div class="col">
                        <div class="row">
                            <div class="col bold text-large text-center">
                                4.3 <i class="icon ion-android-star sparup-orange"></i>
                            </div>
                        </div>
                        <div class="row row-no-padding">
                            <div class="col gray text-center">
                                rating
                            </div>
                        </div>
                    </div>
                    <div class="col" ng-click="coachProfile.goToFollowers()">
                        <div class="row">
                            <div class="col bold text-large text-center">
                                {{coachProfile.coachInfo.followerCount}}
                            </div>
                        </div>
                        <div class="row row-no-padding">
                            <div class="col gray text-center">
                                followers
                            </div>
                        </div>
                    </div>
                    <div class="col" ng-click="coachProfile.goToFollowing()">
                        <div class="row">
                            <div class="col bold text-large text-center">
                                {{coachProfile.coachInfo.followingCount}}
                            </div>
                        </div>
                        <div class="row row-no-padding">
                            <div class="col gray text-center">
                                following
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row padding-top-5">
                    <div class="col col-25 text-center">
                        <i class="icon ion-ios-location-outline sparup-orange text-xxx-large"></i>
                    </div>
                    <div class="col border-bottom-gray padding-bottom-0">
                        <div class="dark-gray">5 miles away</div>
                        <img src="img/map.png" class="profile-details-map">
                    </div>
                </div>

                <div class="row row-center padding-top-5 ">
                    <div class="col col-25 text-center padding-bottom-15">
                        <i class="icon ion-social-usd-outline sparup-orange text-xxx-large"></i>
                    </div>
                    <div class="col padding-right-10 border-bottom-gray padding-bottom-15 item-text-wrap dark-gray">
                        $20 per hour of field training
                    </div>
                </div>
                <div class="row row-center padding-top-5 ">
                    <div class="col col-25 text-center padding-bottom-15">
                        <i class="icon ion-ios-body-outline sparup-orange text-xxx-large"></i>
                    </div>
                    <div class="col padding-right-10 padding-bottom-15 item-text-wrap dark-gray">
                        Training {{coachProfile.coachInfo.currentlyTraining}} people currently
                    </div>
                </div>
                <!--<div class="row row-center padding-top-5 ">-->
                <!--<div class="col col-25 text-center padding-bottom-15">-->
                <!--<i class="icon ion-thumbsup sparup-orange text-xxx-large"></i>-->
                <!--</div>-->
                <!--<div class="col padding-right-10 padding-bottom-15 item-text-wrap dark-gray">-->
                <!--500 upvotes-->
                <!--</div>-->
                <!--</div>-->
            </div>

            <!--<div id="exp" class="inner-tab z-9 light-bg" ng-style="coachProfile.exp"-->
                 <!--ng-class="{-->
                 <!--'z-11':coachProfile.status==2 && coachProfile.prevStatus==2,-->
                 <!--'z-10 slideOutToRight':coachProfile.status==1 && coachProfile.prevStatus==2,-->
                 <!--'z-11 slideInFromRight':coachProfile.status==2 && coachProfile.prevStatus==1,-->
                 <!--'z-11 slideInFromLeft':coachProfile.status==2 && coachProfile.prevStatus==3,-->
                 <!--'z-10 slideOutToLeft':coachProfile.status==3 && coachProfile.prevStatus==2}">-->
                <!--<div class="bar bar-light relative ">-->
                    <!--<div class="row row-center row-no-padding">-->
                        <!--<div class="col-mod padding-left-10 profile-sportname"-->
                             <!--ng-class="{'v-fast-fadeout':coachProfile.searchOpen,'v-slow-fadeIn':!coachProfile.searchOpen}"-->
                             <!--ng-click="coachProfile.dropMenu()">-->
                            <!--<span class=" bold " ng-click="videoLib.dropMenu()">-->
                              <!--Table-tennis</span>-->
                            <!--<i class="icon ion-chevron-down light"-->
                            <!--&gt;</i>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="profile-sport-dropdown dark-translucent-bg z-49" ng-style="coachProfile.info" ng-if="coachProfile.backdrop && coachProfile.status==2"-->
                     <!--ng-click="coachProfile.hideMenu()">-->
                <!--</div>-->
                <!--<ion-list class="z-50 profile-sport-dropdown v-fast-animated" ng-if="coachProfile.backdrop && coachProfile.status==2"-->
                          <!--ng-class="{'slideInDown_mod':coachProfile.menuDropped,'slideOutUp_mod':!coachProfile.menuDropped}">-->
                    <!--<ion-item class="item-input-inset dropmenu-content bold gray width-60 margin-left-10">-->
                        <!--<div class="text-left">Badminton</div>-->
                    <!--</ion-item>-->
                <!--</ion-list>-->
                <!--<ion-list class="z-50 profile-sport-dropdown2 v-fast-animated" ng-if="coachProfile.backdrop && coachProfile.status==3"-->
                          <!--ng-class="{'slideInDown':coachProfile.menuDropped,'slideOutUp':!coachProfile.menuDropped}">-->
                    <!--<ion-item class="item-input-inset dropmenu-content bold gray width-60 margin-left-10">-->
                        <!--<div class="text-left">Tennis</div>-->
                    <!--</ion-item>-->
                <!--</ion-list>-->

                <!--<div class="row row-center padding-top-10 ">-->
                    <!--<div class="col col-25 text-center padding-bottom-15">-->
                        <!--<i class="icon ion-ios-star-outline sparup-orange text-xxx-large "></i>-->
                    <!--</div>-->
                    <!--<div class="col padding-right-10 border-bottom-gray padding-bottom-15 item-text-wrap dark-gray">-->
                        <!--5 years experience at state level-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="row row-no-padding div-centered-90 border-bottom-dark padding-top-20 padding-bottom-10">-->
                    <!--<div class="col bold">-->
                        <!--TOURNAMENTS PLAYED-->
                    <!--</div>-->
                <!--</div>-->
                <!--<ion-list>-->
                    <!--<ion-item class="activity-list item-borderless padding-bottom-1">-->
                        <!--<div class="row row-no-padding padding-bottom-5">-->
                            <!--<div class="col item-text-wrap bold">-->
                                <!--National Champions League-->
                            <!--</div>-->
                            <!--<div class="col col-20 gray text-12 text-right">-->
                                <!--Aug 15-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row row-no-padding padding-bottom-5">-->
                            <!--<div class="col item-text-wrap gray text-12 ">-->
                                <!--Boston-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row row-no-padding padding-bottom-16 border-bottom-gray">-->
                            <!--<div class="col item-text-wrap gray text-12">-->
                                <!--Played as <span class="dark">defender</span>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</ion-item>-->
                    <!--<ion-item class="activity-list item-borderless padding-bottom-1">-->
                        <!--<div class="row row-no-padding padding-bottom-5">-->
                            <!--<div class="col item-text-wrap bold">-->
                                <!--Regional Champions League-->
                            <!--</div>-->
                            <!--<div class="col col-20 gray text-12 text-right">-->
                                <!--Dec 14-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row row-no-padding padding-bottom-5">-->
                            <!--<div class="col item-text-wrap gray text-12 ">-->
                                <!--Chicago-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row row-no-padding padding-bottom-16 border-bottom-gray">-->
                            <!--<div class="col item-text-wrap gray text-12">-->
                                <!--Played as <span class="dark">defender</span>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</ion-item>-->
                    <!--<ion-item class="activity-list item-borderless padding-bottom-1">-->
                        <!--<div class="row row-no-padding padding-bottom-5">-->
                            <!--<div class="col item-text-wrap bold">-->
                                <!--College Champions League-->
                            <!--</div>-->
                            <!--<div class="col col-20 gray text-12 text-right">-->
                                <!--Mar 14-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row row-no-padding padding-bottom-5">-->
                            <!--<div class="col item-text-wrap gray text-12 ">-->
                                <!--Chicago-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row row-no-padding padding-bottom-16 border-bottom-gray">-->
                            <!--<div class="col item-text-wrap gray text-12">-->
                                <!--Played as <span class="dark">defender</span>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</ion-item>-->
                <!--</ion-list>-->
            <!--</div>-->

            <div id="videos" class="inner-tab z-9 light-bg" ng-style="coachProfile.videos"
                 ng-class="{
                 'z-11':coachProfile.status==3 && coachProfile.prevStatus==3,
                 'z-9':coachProfile.status==2 && coachProfile.prevStatus==1,
                 'z-10 slideOutToRight':coachProfile.status==1 && coachProfile.prevStatus==3,
                 'slideOutToRight z-10':coachProfile.status==2 && coachProfile.prevStatus==3,
                 'z-11 slideInFromRight':coachProfile.status==3 && coachProfile.prevStatus==1,
                 'slideInFromRight z-11':coachProfile.status==3 && coachProfile.prevStatus==2}">
                <ion-list>
                    <ion-item class="item-thumbnail-left parent" ng-if="coachProfile.coachVideoList.length!=0" ng-repeat="video in coachProfile.coachVideoList" ng-click="coachProfile.playVideo(video)">
                        <img ng-src="{{video.thumbnail}}">
                        <h2>{{video.title}}</h2>
                        <p class="ellipsis">{{video.description}}</p>
                        <div class="row row-center row-no-padding video-duration">
                            <div class="col gray text-small">
                                <div class="row row-center row-no-padding">
                                    <div class="col padding-right-5">
                                        <i class="icon ion-eye text-large padding-right-5 valign-middle"></i>
                                        {{video.numberOfViews}}
                                    </div>
                                    <div class="col ">
                                        <i class="icon ion-heart text-large padding-right-5 valign-middle"></i>
                                        {{video.likes}}
                                    </div>
                                </div>
                            </div>
                            <div class="col text-right gray text-small">
                                {{video.duration|secondsToHMS}}
                            </div>
                        </div>
                    </ion-item>

                    <ion-item class="item-thumbnail-left parent" ng-if="coachProfile.coachVideoList.length==0" >
                        <div class="row row-center row-no-padding">
                            <div class="col gray text-large margin-top-10">
                                No Videos
                            </div>
                        </div>
                    </ion-item>
                    <!--<ion-item class="item-thumbnail-left parent">-->
                        <!--<img src="img/goal.jpeg">-->
                        <!--<h2>Goal</h2>-->
                        <!--<p class="ellipsis">How to hit a straight goal</p>-->
                        <!--<div class="row row-no-padding video-duration">-->
                            <!--<div class="col gray text-small">-->
                                <!--<div class="row row-center row-no-padding">-->
                                    <!--<div class="col padding-right-5">-->
                                        <!--<i class="icon ion-eye text-large padding-right-5 valign-middle"></i>-->
                                        <!--3000-->
                                    <!--</div>-->
                                    <!--<div class="col ">-->
                                        <!--<i class="icon ion-heart text-large padding-right-5 valign-middle"></i>-->
                                        <!--50-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col text-right gray text-small ">-->
                                <!--2:10-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</ion-item>-->
                    <!--<ion-item class="item-thumbnail-left parent">-->
                        <!--<img src="img/penalty.jpg">-->
                        <!--<h2>Penalty</h2>-->
                        <!--<p class="ellipsis">How to take a penalty</p>-->
                        <!--<div class="row row-no-padding video-duration">-->
                            <!--<div class="col gray text-small">-->
                                <!--<div class="row row-center row-no-padding">-->
                                    <!--<div class="col padding-right-5">-->
                                        <!--<i class="icon ion-eye text-large padding-right-5 valign-middle"></i>-->
                                        <!--5000-->
                                    <!--</div>-->
                                    <!--<div class="col ">-->
                                        <!--<i class="icon ion-heart text-large padding-right-5 valign-middle"></i>-->
                                        <!--200-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col text-right gray text-small">-->
                                <!--5:10-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</ion-item>-->
                </ion-list>
            </div>
        </ion-scroll>

    </ion-content>
</ion-view>
