<div class="row row-no-padding padding-horizontal">
  <div class="col">
    <div class="list list-inset margin-0 transparent-bg">
      <label class="item item-input video-detail-label">
        <input type="text" placeholder="TOURNAMENT TITLE" ng-model="tournament.name">
      </label>
      <div class="errors" ng-if="tournamentTitleError">Title is required</div>
    </div>
  </div>
</div>
<div class="row row-no-padding padding-horizontal">
  <div class="col col-50 margin-right-5">
    <div class="list list-inset margin-0 transparent-bg">
      <label class="item item-input video-detail-label">
        <input type="date" ng-model="tournament.date" placeholder="DATE">
      </label>

      <div class="errors" ng-if="tournamentDateError">Date is required</div>
    </div>
  </div>
  <div class="col col-50">
    <div class="list list-inset margin-0 transparent-bg">
      <label class="item item-input video-detail-label">
        <input type="text" placeholder="LOCATION" ng-model="tournament.location">
      </label>

      <div class="errors" ng-if="tournamentLocationError">Location is required</div>
    </div>
  </div>
</div>
<div class="row row-no-padding padding-horizontal">
  <div class="col col-50 margin-right-5">
    <div class="list list-inset margin-0 transparent-bg">
      <label class="item item-input video-detail-label">
        <input type="text" placeholder="TEAM" ng-model="tournament.team">
      </label>

      <div class="errors" ng-if="tournamentTeamError">Team is required</div>
    </div>
  </div>
  <div class="col col-50">
    <div class="list list-inset margin-0 transparent-bg">
      <label class="item item-input video-detail-label">
        <input type="text" placeholder="ROLE" ng-model="tournament.role">
      </label>

      <div class="errors" ng-if="tournamentRoleError">Role is required</div>
    </div>
  </div>
</div>
<div class="row row-no-padding div-centered-60 padding-top-10">
  <div class="col text-center">
    <button class="button button-block button-small button-sparup-orange button-small-rounded" ng-click="addTournament()">Add</button>
  </div>
</div>
