<ion-view hide-back-button="true" view-title="FAQ">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-navicon" ng-click="showLeftMenu()"></button>
    </ion-nav-buttons>
    <!--<ion-header-bar class="bar-sparup-orange">-->
        <!--<div class="buttons">-->
            <!--<button class="button button-icon icon ion-android-home"-->
                    <!--ng-click="faq.return()"></button>-->
        <!--</div>-->
        <!--<h1 class="title">FAQ</h1>-->
    <!--</ion-header-bar>-->
    <ion-content class="has-header">
        <ion-list>
            <div ng-repeat="question in faq.questions">
                <ion-item class="item-stable item-icon-right"
                          ng-click="faq.toggleQuestion(question)"
                          ng-class="{active: faq.isQuestionShown(question)}">
                    <i class="icon" ng-class="faq.isQuestionShown(question) ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i>
                    &nbsp;
                    question {{question.name}}
                </ion-item>
                <ion-item class="item-accordion item-text-wrap"
                          ng-show="faq.isQuestionShown(question)">
                    Sample answer to the question which goes into multiple lines just for testing
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
    <div class=" animated floatButton2 button button-icon button-sparup-orange icon ion-help"
         ng-click="faq.askQuestion()">
    </div>
</ion-view>
