<ion-view view-title="Find Player" hide-back-button="true">
    <!--<ion-header-bar align-title="center" class="bar-sparup-orange">-->
    <!--<div class="buttons">-->
    <!--<button class="button button-icon icon ion-navicon" ng-click="showLeftMenu()"></button>-->
    <!--</div>-->
    <!--<h1 class="title">Find Player</h1>-->
    <!--</ion-header-bar>-->
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-navicon" ng-click="showLeftMenu()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <!--<button class="button button-icon icon ion-levels" ng-click="findPlayer.showFilters()">-->
        <!--</button>-->
    </ion-nav-buttons>
    <ion-header-bar class="bar-subheader bar-stable item-input-inset" align-title="left"
                    ng-if="sportSelected">
        <div class="row row-center row-no-padding">
            <div class="col-mod padding-left-10 animate-maxwidth full-maxwidth bar-sportname"
                 ng-class="{'zero-maxwidth':findPlayer.searchOpen,'sportname-vanish':findPlayer.searchOpenLate}"
                 ng-click="findPlayer.dropMenu()">
                <span class=" bold " ng-click="findPlayer.dropMenu()">
                   {{sportSelected.sportName|capitalize}}</span>
                <i class="icon ion-chevron-down light"
                ></i>
            </div>
            <label class="item-input-wrapper bar-search-box">
                <input type="search" placeholder="Search for players" class="padding-0" ng-focus="findPlayer.showSearch()"
                       ng-blur="findPlayer.hideSearch()" ng-model="findPlayer.searchText">
                <i class="icon ion-ios-close placeholder-icon text-16" ng-if="findPlayer.searchOpenLate"></i>

            </label>
            <div class="col-mod text-right" >
                <button class="button button-icon icon ion-ios-search dark padding-right-0" ng-click="findPlayer.findSearchResults(findPlayer.searchText)"></button>
            </div>
        </div>
    </ion-header-bar>
    <ion-content class="has-header stable-bg" ng-class="{'has-subheader':sportSelected,'tabs-item-hide':!$rootScope.registerAsCoach}">
        <ion-list class="z-50 slider-element fast-animated margin-top-m10" ng-if="findPlayer.backdrop"
                  ng-class="{'slideInDown':findPlayer.menuDropped,'slideOutUp':!findPlayer.menuDropped}">

            <ion-item class="item-input-inset dropmenu-content width-60 margin-left-10"
                      ng-repeat="sport in findPlayer.mySports"
                      ng-click="findPlayer.selectSport(sport);">
                <span>{{sport.sportName|capitalize}} </span>
            </ion-item>
        </ion-list>
        <div class="slider-element dark-translucent-bg z-49" ng-style="findPlayer.general" ng-if="findPlayer.backdrop"
             ng-click="findPlayer.hideMenu()">

        </div>
        <div ng-if="!sportSelected" ng-style="findPlayer.placeholder">
            <div class="row">
                <div class="col gray bold text-x-large text-center" >
                    Select a sport
                </div>
            </div>
            <div class="grid">
                <div class="row row-mod">
                    <div class="col col-33 col-mod" ng-repeat="sport in findPlayer.mySports">
                        <img ng-src="{{backend}}/sportImages/{{sport.image}}" class="full-image sport-image"
                             ng-click="findPlayer.selectSport(sport)">
                        <h5 class="text-center margin-0 gray">{{sport.sportName|capitalize}}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="sportSelected">
            <div class="search-list list card margin-bottom-0 margin-top-10" ng-if="findPlayer.playerSearchList.length==0" 
                 ng-repeat="player in findPlayer.playerList" ng-click="findPlayer.goToPlayerProfile(player)">
                <div>
                    <div class="item item-avatar border-bottom-light ">
                        <img src="img/max.png">
                        <h2>{{player.firstName}}</h2>
                        <p>{{sportSelected.sportName}} coach</p>
                        <div class="ion-star gray search-person-likes">&nbsp;4.2</div>
                    </div>
                    <div class="row row-no-padding padding-bottom-5 padding-horizontal-16">
                        <div class="col">
                            <div class="row row-no-padding  details">
                                <div class="col">

                                    <div ng-repeat="exp in player.sportsExperience|filterExperienceBySportId:sportSelected._id">
                                        <i class="ion-person gray padding-horizontal-3"></i>{{exp.experience}}
                                    </div>
                                </div>
                            </div>
                            <!--<div class="row row-no-padding details">-->
                            <!--<div class="col">-->
                            <!--<i class="ion-social-usd gray padding-horizontal-3"></i>-->
                            <!--$10/hour-->
                            <!--</div>-->
                            <!--</div>-->
                            <div class="row row-no-padding details">
                                <div class="col">
                                    <i class="ion-ios-location gray padding-horizontal-3"></i>
                                    5 miles away
                                </div>
                            </div>
                        </div>
                        <div class="col text-right padding-top-15">
                            <button class="button button-small button-sparup-orange chat-button button-small-rounded">
                                Chat
                            </button>
                        </div>
                    </div>

                </div>
            </div>



            <div class="item border-bottom-light " ng-if="findPlayer.playerSearchList.length!=0">
                <span> Showing results for {{findPlayer.searchText}}<i class="ion-close-circled text-right gray padding-horizontal-3" ng-click="findPlayer.clearSearch()"></i></span>
            </div>
            <div class="search-list list card margin-bottom-0 margin-top-10" ng-if="findPlayer.playerSearchList.length!=0" ng-repeat="player in findPlayer.playerSearchList" ng-click="findPlayer.goToPlayerProfile(player)">
                <div>

                    <div class="item item-avatar border-bottom-light ">
                        <img src="img/max.png">
                        <h2>{{player.firstName}}</h2>
                        <p>{{sportSelected.sportName}} coach</p>
                        <div class="ion-star gray search-person-likes">&nbsp;4.2</div>
                    </div>
                    <div class="row row-no-padding padding-bottom-5 padding-horizontal-16">
                        <div class="col">
                            <div class="row row-no-padding  details">
                                <div class="col">

                                    <div ng-repeat="exp in player.sportsExperience|filterExperienceBySportId:sportSelected._id">
                                        <i class="ion-person gray padding-horizontal-3"></i>{{exp.experience}}
                                    </div>
                                </div>
                            </div>
                            <!--<div class="row row-no-padding details">-->
                            <!--<div class="col">-->
                            <!--<i class="ion-social-usd gray padding-horizontal-3"></i>-->
                            <!--$10/hour-->
                            <!--</div>-->
                            <!--</div>-->
                            <div class="row row-no-padding details">
                                <div class="col">
                                    <i class="ion-ios-location gray padding-horizontal-3"></i>
                                    5 miles away
                                </div>
                            </div>
                        </div>
                        <div class="col text-right padding-top-15">
                            <button class="button button-small button-sparup-orange chat-button button-small-rounded">
                                Chat
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
