<ion-modal-view>
    <ion-header-bar class="bar-stable" align-title="center">

        <h1 class="title dark">Filter player for Football</h1>
        <div class="buttons">
            <button class="button button-icon icon ion-android-close sparup-orange"
                    ng-click="findPlayer.hideFilters()"></button>
        </div>
    </ion-header-bar>

    <ion-content class="stable-bg has-header has-footer">
        <!--<ion-list>-->
            <!--<ion-item class="stable-bg padding-bottom-0 sport-filter">-->
                <!--<div class="row row-no-padding">-->
                    <!--<div class="col gray text-small">-->
                        <!--SELECT SPORT-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="row">-->
                    <!--<div class="col">-->
                        <!--<ion-checkbox class="filter-checkbox checkbox-sparup-orange text-small">Football</ion-checkbox>-->
                    <!--</div>-->
                    <!--<div class="col">-->
                        <!--<ion-checkbox class="filter-checkbox checkbox-sparup-orange text-small">Badminton</ion-checkbox>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</ion-item>-->
            <ion-item class="stable-bg">
                <div class="row row-no-padding padding-bottom-20">
                    <div class="col gray text-small">
                        SORT BY
                    </div>
                </div>
                <div class="row filter-sort-row">
                    <div class="col">
                        <div class="row row-no-padding padding-bottom-5 padding-top-5">
                            <div class="col text-center">
                                <i class="icon ion-navigate text-large"></i>
                            </div>
                        </div>
                        <div class="row row-no-padding">
                            <div class="col text-center text-small">
                                Distance
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row row-no-padding padding-bottom-5 padding-top-5">
                            <div class="col text-center">
                                <i class="icon ion-android-star-outline text-large"></i>
                            </div>
                        </div>
                        <div class="row row-no-padding">
                            <div class="col text-center text-small">
                                Ratings
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>
            <ion-item class="stable-bg">
                <div class="row row-no-padding padding-bottom-20">
                    <div class="col gray text-small">
                        EXPERIENCE
                    </div>
                </div>
                <div class="row filter-sort-row padding-top-5">
                    <div class="col">
                        <div class="row row-no-padding">
                            <div class="col text-center sparup-orange text-small">
                                0-2 years
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row row-no-padding">
                            <div class="col text-center text-small">
                                2-4 years
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row row-no-padding">
                            <div class="col text-center text-small">
                                4+ years
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-sparup-orange">
        <button class="button button-block button-clear margin-0">Apply</button>
    </ion-footer-bar>
</ion-modal-view>
