<ion-modal-view>
    <ion-header-bar class="bar-stable" align-title="center">

        <h1 class="title dark">Filter coach for Football</h1>
        <div class="buttons">
            <button class="button button-icon icon ion-android-close sparup-orange"
                    ng-click="findPerson.hideFilters()"></button>
        </div>
    </ion-header-bar>

    <ion-content class="stable-bg has-header has-footer">
        <ion-list>
            <!--<ion-item class="stable-bg padding-bottom-0 sport-filter">-->
            <!--<div class="row row-no-padding">-->
            <!--<div class="col gray text-small">-->
            <!--SELECT SPORT-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
            <!--<div class="col">-->
            <!--<ion-checkbox class="filter-checkbox checkbox-sparup-orange text-small">Football</ion-checkbox>-->
            <!--</div>-->
            <!--<div class="col">-->
            <!--<ion-checkbox class="filter-checkbox checkbox-sparup-orange text-small">Badminton</ion-checkbox>-->
            <!--</div>-->
            <!--</div>-->
            <!--</ion-item>-->
            <ion-item class="stable-bg">
                <div class="row row-no-padding padding-bottom-20">
                    <div class="col gray text-small">
                        SORT BY
                    </div>
                </div>
                <div class="row filter-sort-row">
                    <div class="col">
                        <div class="row row-no-padding padding-bottom-5 padding-top-5">
                            <div class="col text-center">
                                <i class="icon ion-social-usd-outline sparup-orange text-large"></i>
                            </div>
                        </div>
                        <div class="row row-no-padding">
                            <div class="col text-center sparup-orange text-small">
                                Cost
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row row-no-padding padding-bottom-5 padding-top-5">
                            <div class="col text-center">
                                <i class="icon ion-navigate text-large"></i>
                            </div>
                        </div>
                        <div class="row row-no-padding">
                            <div class="col text-center text-small">
                                Distance
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row row-no-padding padding-bottom-5 padding-top-5">
                            <div class="col text-center">
                                <i class="icon ion-android-star-outline text-large"></i>
                            </div>
                        </div>
                        <div class="row row-no-padding">
                            <div class="col text-center text-small">
                                Ratings
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>

            <ion-item class="stable-bg border-bottom-none padding-bottom-5">
                <div class="row row-no-padding  ">
                    <div class="col gray text-small">
                        FILTER BY
                    </div>
                </div>
            </ion-item>
            <ion-item class="item range range-positive stable-bg border-top-none padding-top-5 relative">
                <span class="filter-label gray text-small">Cost</span>
                <i class="icon ion-social-usd-outline"></i>
                <input id="costSlider" type="range" name="volume" min="20" max="100" ng-model="findPerson.cost.value">
                <i class="icon ion-social-usd"></i>
                <span class="slider-min" ng-style="findPerson.slidermin">$20</span>
                <span class="slider-value" ng-style="findPerson.slidervalue">${{findPerson.cost.value}}</span>
            </ion-item>
            <ion-item class="item range range-positive stable-bg border-top-none padding-top-5">
                <span class="filter-label gray text-small">Distance</span>
                <i class="icon ion-ios-navigate-outline"></i>
                <input type="range" name="volume" min="5" max="100" ng-model="findPerson.distance.value">
                <i class="icon ion-ios-navigate"></i>
                <span class="slider-min" ng-style="findPerson.slidermin">5km</span>
                <span class="slider-value" ng-style="findPerson.slidervalue2">{{findPerson.distance.value}}km</span>
            </ion-item>
            <ion-item class="stable-bg border-top-none padding-top-5">
                <div class="row row-center row-no-padding padding-vertical">
                    <div class="col col-20 gray text-small">Rating</div>
                    <div class="col col-80">
                        <div class="row row-no-padding">
                            <div class="col text-center text-x-large" ng-click="findPerson.selectRating(1)">
                                <i class="icon sparup-orange ion-ios-star" ></i>
                            </div>
                            <div class="col text-center text-x-large" ng-click="findPerson.selectRating(2)">
                                <i class="icon sparup-orange"
                                   ng-class="{'ion-ios-star':findPerson.selectedRating>=2,'ion-ios-star-outline':findPerson.selectedRating<2}"></i>
                            </div>
                            <div class="col text-center text-x-large" ng-click="findPerson.selectRating(3)">
                                <i class="icon sparup-orange"
                                   ng-class="{'ion-ios-star':findPerson.selectedRating>=3,'ion-ios-star-outline':findPerson.selectedRating<3}"></i>
                            </div>
                            <div class="col text-center text-x-large" ng-click="findPerson.selectRating(4)">
                                <i class="icon sparup-orange"
                                   ng-class="{'ion-ios-star':findPerson.selectedRating>=4,'ion-ios-star-outline':findPerson.selectedRating<4}"></i>
                            </div>
                            <div class="col text-center text-x-large" ng-click="findPerson.selectRating(5)">
                                <i class="icon sparup-orange"
                                   ng-class="{'ion-ios-star':findPerson.selectedRating==5,'ion-ios-star-outline':findPerson.selectedRating<5}"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-no-padding">
                    <div ng-if="findPerson.selectedRating<5"
                            class="col col-offset-20 text-center text-small">Show rating {{findPerson.selectedRating}} and above</div>
                    <div ng-if="findPerson.selectedRating==5"
                            class="col col-offset-20 text-center text-small">Show rating {{findPerson.selectedRating}} only</div>
                </div>
            </ion-item>
            <ion-item class="stable-bg">
                <div class="row row-no-padding padding-bottom-20">
                    <div class="col gray text-small">
                        AVAILABILITY
                    </div>
                </div>
                <div class="row filter-sort-row padding-top-5">
                    <div class="col">
                        <div class="row row-no-padding">
                            <div class="col text-center sparup-orange text-small">
                                SUN
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row row-no-padding">
                            <div class="col text-center text-small">
                                MON
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row row-no-padding">
                            <div class="col text-center text-small">
                                TUE
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row row-no-padding">
                            <div class="col text-center text-small">
                                WED
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row row-no-padding">
                            <div class="col text-center text-small">
                                THU
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row row-no-padding">
                            <div class="col text-center text-small">
                                FRI
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row row-no-padding">
                            <div class="col text-center text-small">
                                SAT
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>
            <ion-item class="stable-bg">
                <div class="row row-no-padding padding-bottom-20">
                    <div class="col gray text-small">
                        EXPERIENCE
                    </div>
                </div>
                <div class="row filter-sort-row padding-top-5">
                    <div class="col">
                        <div class="row row-no-padding">
                            <div class="col text-center sparup-orange text-small">
                                0-2 years
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row row-no-padding">
                            <div class="col text-center text-small">
                                2-4 years
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row row-no-padding">
                            <div class="col text-center text-small">
                                4+ years
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>
            <ion-item class="stable-bg padding-0">
                <div class="item item-toggle text-small stable-bg gray item-text-wrap">
                    ONLY WITH REVIEW AVAILABLE
                    <label class="toggle toggle-sparup-orange">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-sparup-orange">
        <button class="button button-block button-clear margin-0">Apply</button>
    </ion-footer-bar>
</ion-modal-view>
