<ion-view hide-back-button="true" view-title="Inbox">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-navicon" ng-click="showLeftMenu()"></button>
    </ion-nav-buttons>
    <!--<ion-header-bar class="bar-sparup-orange">-->
        <!--<div class="buttons">-->
            <!--<button class="button button-icon icon ion-android-home"-->
                    <!--ng-click="inbox.return()"></button>-->
        <!--</div>-->
        <!--<h1 class="title">Inbox</h1>-->
    <!--</ion-header-bar>-->
    <ion-content scroll="false" class="has-header">
        <ion-list class="feed-list" ng-click="inbox.openChat()">
            <ion-item class="item-avatar-left ">
                <img src="img/football.jpeg">
                <h2 class="ellipsis">Coach Marty</h2>
                <!--<p class="ellipsis">Last message</p>-->
                <div class="row row-no-padding padding-bottom-10 border-bottom-gray">
                    <div class="col ellipsis text-small gray">
                        Last message
                    </div>
                    <div class="col col-33 text-small text-right gray">9:20</div>
                </div>
            </ion-item>
            <ion-item class="item-avatar-left ">
                <img src="img/ben.png">
                <h2 class="ellipsis">Coach Wayne</h2>
                <!--<p class="ellipsis">Last message</p>-->
                <div class="row row-no-padding padding-bottom-10 border-bottom-gray">
                    <div class="col ellipsis text-small gray">
                        Last message
                    </div>
                    <div class="col col-33 text-small text-right gray">Yesterday</div>
                </div>
            </ion-item>
            <ion-item class="item-avatar-left ">
                <img src="img/adam.jpg">
                <h2 class="ellipsis">Coach Kent</h2>
                <!--<p class="ellipsis">Last message</p>-->
                <div class="row row-no-padding padding-bottom-10 border-bottom-gray">
                    <div class="col ellipsis text-small gray">
                        Last message
                    </div>
                    <div class="col col-33 text-small text-right gray">5/8/16</div>
                </div>
            </ion-item>
    </ion-content>
</ion-view>
