<ion-view hide-nav-bar="true">
    <ion-content>
        <div ng-style="login.fullHeight" class=" valign-parent">
            <div class="valign-child">
                <div class="row row-no-padding">
                    <div class="col text-center">
                        <img src="img/icon.png" ng-style="login.logoDiv" class="limitLogoHeight">
                    </div>
                </div>
                <form name="loginForm" novalidate ng-submit="!loginForm.$valid||login.loginFunction()">
                <div class="limitWidth">
                    <div ng-style="login.formDiv" class="padding-horizontal">
                        <div class="list list-inset margin-top-0 margin-bottom-0">
                            <label class="item item-input login-label">
                                <input class="login-input" type="email" placeholder="Email" name="email" ng-required="true" ng-model="login.user.email">
                            </label>

                            <div class="errors-light-bg ">
                                <p ng-if="loginForm.email.$error.required && submitted">Email is required</p>
                            </div>
                        </div>
                        <div class="list list-inset margin-top-0 margin-bottom-0">
                            <label class="item item-input login-label">
                                <input class="login-input" type="password" placeholder="Password" name="password" ng-required="true" ng-model="login.user.password">
                            </label>

                            <div class="errors-light-bg ">
                                <p ng-if="loginForm.password.$error.required && submitted">Password is required</p>
                                <p ng-if="login.invalidPasswordError">Invalid Id or Password</p>
                            </div>
                        </div>
                    </div>

                    <div class=" padding-horizontal-20" ng-style="login.forgotDiv">
                        <div class="row row-no-padding ">
                            <div class="col">
                                <button class="button button-block button-sparup-orange login-button" ng-click="submitted=true">Login
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row row-no-padding padding-horizontal-20" ng-style="login.forgotMargin">
                        <div class="col gray text-center">
                            Forgot Password?
                        </div>
                    </div>
                    <div class="row padding-top-20">
                        <div class="col text-center">
                            or Log in with
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-right">
                            <img src="img/fbIcon.png" ng-style="login.socialLoginButton" ng-click="login.facebookSignIn()">
                        </div>
                        <div class="col">
                            <img src="img/googleIcon.png" ng-style="login.socialLoginButton" ng-click="login.googleLogin()">
                        </div>
                    </div>

                    <!--<div class="list list-inset margin-top-0 margin-bottom-0">-->

                        <!--<div class="errors-light-bg ">-->
                            <!--<p ng-if="login.invalidPasswordError">Invalid Id or Password</p>-->
                        <!--</div>-->
                    <!--</div>-->

                    <div class="row row-no-padding padding-horizontal-20" ng-style="login.signup">
                        <div class="col sparup-orange" ng-click="login.goToSignup('player')">
                            Register as Player
                        </div>
                        <div class="col text-right sparup-orange" ng-click="login.goToSignup('coach')">
                            Register as Coach
                        </div>
                    </div>
                </div>
                    </form>
            </div>
        </div>
    </ion-content>
</ion-view>
