<ion-modal-view>

    <ion-header-bar class="gray-bg border-bottom-gray" align-title="center">
        <h1 class="title">Week {{myActivityDetail.week}} | Day {{myActivityDetail.day}}</h1>
        <div class="buttons">
            <button class="button button-icon icon ion-android-close"
                    ng-click="myActivityDetail.hideFilters()"></button>
        </div>
    </ion-header-bar>
    <ion-header-bar class="bar-subheader bar-stable border-bottom-gray" align-title="center">
        <h1 class="title sparup-orange bold">{{myActivityDetail.activityInModal.activityName|capitalize}}</h1>
    </ion-header-bar>
    <ion-content class="has-header stable-bg ">
        <img src="img/coach.jpg" class="full-image" ng-if="!myActivityDetail.activityInModal.videoId">

        <div class="row row-no-padding border-bottom-gray" ng-if="!myActivityDetail.isYoutubeVideo ">
            <div id="videoPlayerdiv" ng-if="myActivityDetail.activityInModal.videoId"></div>
        </div>
        <div class="row row-no-padding" ng-if="myActivityDetail.isYoutubeVideo">
            <div class="col video-frame" ng-if="myActivityDetail.activityInModal.videoId">
                <iframe ng-style="myActivityDetail.videoFrame" ng-src="{{myActivityDetail.trustedLink}}"
                        frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="search-list list card margin-bottom-0 margin-top-10">
            <div class="padding">
                <div class="row row-no-padding padding-bottom-10 padding-horizontal">
                    <div class="col text-large text-center bold sparup-orange">
                        {{myActivityDetail.activityInModal.round}} {{myActivityDetail.activityInModal.unit1}} / {{myActivityDetail.activityInModal.unit2}}
                    </div>
                </div>
                <div class="row row-no-padding padding-bottom-10 padding-horizontal">
                    <div class="col">
                        {{myActivityDetail.activityInModal.activityDescription}}

                    </div>
                </div>

            </div>
        </div>


    </ion-content>
    <ion-footer-bar class="bar-sparup-orange padding-0" align-title="center" >
        <button class="button button-block button-sparup-orange margin-0 text-large" ng-disabled="myActivityDetail.activityInModal.status"
                ng-click="myActivityDetail.changeActivityStatus(myActivityDetail.modalActivity)">
            <span ng-if="!myActivityDetail.activityInModal.status">Complete Activity</span>
            <span ng-if="myActivityDetail.activityInModal.status">Completed</span>
        </button>
    </ion-footer-bar>
</ion-modal-view>
