<ion-view view-title={{myActivityDetail.planDetails.trainingName|capitalize}} hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-back" ui-sref="sidemenu.tabs.mytrainingDetail"></button>
    </ion-nav-buttons>
    <ion-header-bar class="bar-subheader bar-stable border-bottom-gray" align-title="center">
        <h1 class="title">Week {{myActivityDetail.week}} | Day {{myActivityDetail.day}}</h1>
    </ion-header-bar>
    <ion-content class="stable-bg has-subheader">
        <div class="search-list list card margin-bottom-0 margin-top-10"
             ng-repeat="activity in myActivityDetail.activityList">
            <div class="padding">
                <div class="row row-no-padding padding-horizontal">
                    <div class="col text-large" ng-click="myActivityDetail.openActivityDetailModal(activity)">
                        {{activity.activityName}}
                    </div>
                    <div class="col col-10 text-right text-xxx-large"
                         ng-if="myActivityDetail.planStatus=='started' && myActivityDetail.lastIndex+1>=activity.index"
                         ng-click="myActivityDetail.changeActivityStatus(activity)" ng-disabled="activity.status">

                        <i ng-if="!activity.status" class="icon ion-ios-circle-outline gray"></i>
                        <i ng-if="activity.status" class="icon ion-ios-checkmark balanced"></i>
                    </div>
                </div>
                <div class="row  padding-horizontal">
                    <div class="col gray" ng-click="myActivityDetail.openActivityDetailModal(activity)">
                        {{activity.activityDescription}}
                    </div>
                </div>
                <div class="row padding-horizontal">
                    <div class="col text-center bold sparup-orange">
                        {{activity.round}} {{activity.unit1}} / {{activity.unit2}}
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
