<ion-view view-title="{{myTraining.trainingDetails.trainingName|capitalize}}" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-back" ng-click="myTraining.return()"></button>
    </ion-nav-buttons>

    <ion-content scroll="false" class="has-header has-footer">

        <div class="bar relative bar-stable border-bottom-lightgray">
            <h1 class="title">DETAILS</h1>
            <div class="buttons">
                <button class="button icon border-radius-50"
                        ng-class="{'ion-ios-arrow-up':myTraining.showDetails,'ion-ios-arrow-down':!myTraining.showDetails}"
                        ng-click="myTraining.toggleDetails()"></button>
            </div>
        </div>
        <div class="animate-maxheight zero-maxheight "
             ng-class="{'full-maxheight':myTraining.showDetails}">
            <div id="description" class="row padding-horizontal-16 padding-bottom-0">
                <div class="col description">

                    <div class="row row-no-padding bold">
                        <div class="col text-center text-large">
                            <i class="icon ion-android-calendar"></i>
                            {{myTraining.trainingDetails.duration}} week plan
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center text-medium gray">
                            <i class="icon ion-connection-bars"></i>
                            {{myTraining.trainingDetails.level|capitalize}}
                        </div>
                    </div>
                    <div class="row row-no-padding padding-top-5 border-bottom-lightgray">
                        <div class="col text-center">
                            {{myTraining.trainingDetails.description|capitalize}}
                        </div>
                    </div>
                </div>
            </div>
            <ion-list class="feed-list" ng-click="myTraining.openChat()">
                <ion-item id="coachInfo" class="item-avatar-left ">
                    <img src="img/adam.jpg">
                    <h2 class="ellipsis sparup-orange">{{myTraining.trainingDetails.coachName|capitalize}}</h2>
                    <div class="row row-no-padding padding-bottom-5">
                        <div class="col ellipsis text-small gray">
                            {{myTraining.trainingDetails.trainingName|capitalize}}
                        </div>
                        <div class="col text-right">

                        </div>
                    </div>
                    <div class="row row-no-padding padding-bottom-10 ">
                        <div class="col energized">
                            <rating-directive average-rating="plan.trainingPlanId.rating"></rating-directive>
                        </div>
                        <div class="col text-right text-small gray">
                            {{myTraining.trainingDetails.noOfSubscriber}} subscribers
                        </div>
                    </div>
                </ion-item>

            </ion-list>

        </div>
        <div class="bar relative bar-stable border-bottom-lightgray">
            <h1 class="title">ACTIVITIES</h1>
            <div class="buttons">
                <button class="button icon border-radius-50"
                        ng-class="{'ion-ios-arrow-up':myTraining.showActivities,'ion-ios-arrow-down':!myTraining.showActivities}"
                        ng-click="myTraining.toggleActivities()"></button>
            </div>
        </div>
        <div class="animate-maxheight zero-maxheight "
             ng-class="{'full-maxheight':myTraining.showActivities}">
            <ion-scroll zooming="true" direction="x" scrollbar-x="false"
                        class="categories-filter border-bottom-gray margin-top-0">
			<span>
				<button class="button button-light filter-button border-lightgray "
                        ng-class="{'sparup-orange bold':$index== myTraining.week}"
                        ng-repeat="activity in myTraining.activityList" ng-click="myTraining.selectWeek($index)">
					Week {{$index+1}}
				</button>
			</span>
            </ion-scroll>
            <ion-scroll delegate-handle="activity" direction="y" ng-style="myTraining.activityScroller" class="gray-bg">
                <div ng-style="myTraining.activities" class="margin-10">
                    <ion-list id="activityList" ng-repeat="activity in myTraining.activityList[myTraining.week]">
                        <ion-item class="item-icon-right" ng-click="myTraining.goToMyActivityDetails(activity,$index)">
                            <i class="icon ion-ios-checkmark balanced"
                               ng-if="activity.completed==activity.allActivity"></i>
                            <div class="row row-no-padding padding-top-5">
                                <div class="col">

                                    <p>{{($index+1)+(myTraining.week*7)}} Day</p>

                                </div>
                                <div class="col  text-right gray"
                                     ng-class="{'balanced':activity.completed==activity.allActivity}">
                                    {{activity.completed}} / {{activity.allActivity}} completed
                                </div>
                            </div>
                        </ion-item>

                    </ion-list>
                </div>
            </ion-scroll>
        </div>
        <!--<div class="col text-center border-top-gray sparup-orange padding-top-10">-->
        <!--<button class="button button-assertive button-small-rounded" >{{myTraining.trainingDetails.statusText}}</button>-->
        <!--<button class="button button-assertive button-small-rounded" </button>-->
        <!--<button class="button button-assertive button-small-rounded" </button>-->
        <!--<button class="button button-assertive button-small-rounded" </button>-->
        <!--<span >Ended</span>-->
        <!--</div>-->
    </ion-content>


    <ion-footer-bar class="button-bar padding-0">
        <div class="row row-no-padding" ng-if="myTraining.trainingDetails.status=='notStarted'">
            <div class="col text-center bold text-large white line-height-40" ng-click="myTraining.statusUpdate(myTraining.trainingDetails,'started',true,$event)">
                {{myTraining.trainingDetails.statusText|capitalize}}
            </div>
        </div>

        <div class="row row-no-padding" ng-if="myTraining.trainingDetails.status=='started'||myTraining.trainingDetails.status=='paused'||myTraining.trainingDetails.status!='notStarted' && myTraining.trainingDetails.status!='ended'">
            <div class="col text-center bold text-large border-dark line-height-40" ng-if="myTraining.trainingDetails.status=='started'"
                 ng-click="myTraining.statusUpdate(myTraining.trainingDetails,'paused',false,$event)">
                {{myTraining.trainingDetails.statusText|capitalize}}
            </div>
            <div class="col text-center bold text-large border-dark line-height-40" ng-if="myTraining.trainingDetails.status=='paused'"
                 ng-click="myTraining.statusUpdate(myTraining.trainingDetails,'started',false,$event)">
                {{myTraining.trainingDetails.statusText|capitalize}}
            </div>
            <div class="col text-center bold text-large border-dark line-height-40 "
                 ng-if="myTraining.trainingDetails.status!='notStarted' && myTraining.trainingDetails.status!='ended'"
                 ng-click="myTraining.statusUpdate(myTraining.trainingDetails,'ended',false,$event)">End
            </div>
            </div>

        <div class="row row-no-padding" ng-if="myTraining.trainingDetails.status=='ended'">
            <div class="col text-center bold text-large  border-dark line-height-40">Ended
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
