<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar-clear" align-title="center">
        <div class="buttons">
            <button class="button button-icon icon ion-ios-arrow-left translucent-bg"
                    ng-click="playVideo.return()"></button>
        </div>
    </ion-header-bar>
    <ion-content scroll="false" class="no-header" style="top:0;">
        <div class="row row-no-padding border-bottom-gray" ng-if="!playVideo.isYoutubeVideo">
            <div id="videoPlayerdiv" ng-style="playVideo.player" class="dark-bg"></div>
        </div>
        <div class="row row-no-padding" ng-if="playVideo.isYoutubeVideo">
            <div class="col video-frame">
                <iframe ng-style="playVideo.videoFrame" ng-src="{{playVideo.trustedLink}}"
                        frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <ion-scroll delegate-handle="commentsScroll" direction="y" ng-style="playVideo.scrollHeight">
            <div>
                <div class="row row-no-padding">
                    <div class="col video-title">
                        {{ playVideo.videoInfo.title|capitalize}}
                    </div>
                </div>
                <div class="row row-no-padding padding-horizontal-20">
                    <div class="col gray">
                        {{ playVideo.videoInfo.numberOfViews}} views
                    </div>
                    <div class="col gray text-right">
                        <span class="padding-right-5"
                              ng-click="playVideo.likeThisVideo(playVideo.videoInfo._id,playVideo.likeHighlight)"><i
                                class="icon ion-heart padding-right-5"
                                ng-class="{'sparup-orange':playVideo.likeHighlight}"></i>{{playVideo.likes}}</span>
                        <!--<span class="padding-right-5" ng-if="!playVideo.likeHighlight" ng-click="playVideo.likeThisVideo(playVideo.videoInfo._id,false)"><i class="icon ion-heart padding-right-5"></i>{{ playVideo.videoInfo.likes}}</span>-->
                        <span class="padding-right-5"
                              ng-click="playVideo.dislikeThisVideo(playVideo.videoInfo._id,playVideo.dislikeHighlight)"><i
                                class="icon ion-heart-broken padding-right-5"
                                ng-class="{'sparup-orange':playVideo.dislikeHighlight}"></i>{{playVideo.dislikes}}</span>
                        <!--<span class="padding-right-5" ng-if="!playVideo.dislikeHighlight" ng-click="playVideo.dislikeThisVideo(playVideo.videoInfo._id,false)"><i class="icon ion-heart-broken padding-right-5"></i>{{ playVideo.videoInfo.dislikes}}</span>-->

                        <!--<span class="padding-right-5" ng-click="playVideo.likeThisVideo(playVideo.videoInfo._id,!playVideo.likeHighlight)"><i class="icon ion-heart padding-right-5" ng-class="{'sparup-orange':!playVideo.likeHighlight}"></i>{{playVideo.likes}}</span>-->
                        <!--&lt;!&ndash;<span class="padding-right-5" ng-if="!playVideo.likeHighlight" ng-click="playVideo.likeThisVideo(playVideo.videoInfo._id,false)"><i class="icon ion-heart padding-right-5"></i>{{ playVideo.videoInfo.likes}}</span>&ndash;&gt;-->
                        <!--<span class="padding-right-5" ng-click="playVideo.dislikeThisVideo(playVideo.videoInfo._id,!playVideo.dislikeHighlight)"><i class="icon ion-heart-broken padding-right-5" ng-class="{'sparup-orange':!playVideo.dislikeHighlight}"></i>{{playVideo.dislikes}}</span>-->
                        <!--&lt;!&ndash;<span class="padding-right-5" ng-if="!playVideo.dislikeHighlight" ng-click="playVideo.dislikeThisVideo(playVideo.videoInfo._id,false)"><i class="icon ion-heart-broken padding-right-5"></i>{{ playVideo.videoInfo.dislikes}}</span>&ndash;&gt;-->
                    </div>
                </div>

                <div class="row row-center row-no-padding padding-horizontal-20
                        border-bottom-gray border-top-gray margin-top-10 ">
                    <div class="col sparup-orange">
                        <span class="bold">{{playVideo.videoInfo.videoBy.firstName|capitalize}}</span> <br> <span
                            class="gray">{{ playVideo.videoInfo.accountType|capitalize}}</span>
                    </div>
                    <div class="col">
                        <button class="button button-block button-sparup-orange"
                                ng-disabled="playVideo.thisUserId==playVideo.videoInfo.videoBy._id"
                                ng-click="playVideo.showPopup()">
                            <span ng-if="!playVideo.isSubscribed">Subscribe</span>
                            <span ng-if="playVideo.isSubscribed">Unsubscribe</span>

                        </button>
                    </div>
                </div>
                <!--<div class="row row-center  padding-horizontal-20 margin-top-10 "-->
                <!--ng-if="playVideo.showReviewList">-->
                <!--<div class="col">-->
                <!--Coach Feedback-->
                <!--</div>-->
                <!--</div>-->
                <div class="stable-bg padding-bottom-10" ng-if="playVideo.showReviewList">
                    <div class="row row-no-padding padding-horizontal-20 padding-bottom-10 padding-top-20">
                        <div class="col gray bold">
                            Coach Feedback
                        </div>
                        <div class="col col-10 gray text-right" ng-click="playVideo.feedbackInstructions()">
                            <i class="icon ion-information-circled sparup-orange text-large"></i>
                        </div>
                    </div>
                    <div class="border-gray div-centered-90">
                        <div class="row border-bottom-gray margin-0"
                             ng-if="playVideo.showReviewList" ng-repeat="review in playVideo.reviewList">
                            <div class="col">
                                <div class="row">
                                    <div class="col ">
                                        <span class="bold sparup-orange">{{review.coachId.firstName}}</span> -
                                        {{review.review }}
                                        <span ng-if="!review.review && !review.audioUrl">Hasn\'t reviewed yet</span>
                                    </div>

                                    <div class="col " ng-if="review.audioUrl && playVideo.showListenButton"
                                         ng-click="playVideo.showListenButton=false">
                                        <span class="bold sparup-orange">Listen to review</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col " ng-if="review.audioUrl && !playVideo.showListenButton">
                                        <audio ng-src="{{review.audioUrl}}" controls style="width: 95%"></audio>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row row-no-padding padding-vertical padding-horizontal-20">
                    <div class="col gray">
                        Comments
                    </div>
                </div>
                <ion-list class="feed-list">
                    <ion-item class="item-avatar-left" ng-repeat="comment in playVideo.commentsList">
                        <img src="img/football.jpeg">
                        <h2>{{comment.userId.firstName}}</h2>
                        <p>{{comment.comment}}</p>
                        <div class="row row-no-padding padding-bottom-5 border-bottom-gray">
                            <div class="col text-small">
                                {{comment.createdAt|date:'hh:mm a'}}
                            </div>
                        </div>
                    </ion-item>
                </ion-list>
            </div>
        </ion-scroll>
    </ion-content>

    <ion-footer-bar class="bar-light row row-no-padding border-top-gray">
        <div class="row row-no-padding">

            <div class="col col-80">
                <label class="item item-input no-border-right">
                    <input type="text" placeholder="Comment"
                           ng-model="playVideo.comment">
                </label>
            </div>
            <div class="col col-20 button button-icon icon ion-android-send sparup-orange comment-icon"
                 ng-click="playVideo.postComment()">
            </div>
        </div>

    </ion-footer-bar>
</ion-view>
