<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar-stable signup-bg profile-header">
        <div class="buttons">
            <button class="button button-clear sparup-orange" ng-click="profile.skip()">Skip</button>
        </div>
        <h1 class="title create-profile">Create Profile</h1>
        <div class="buttons">
            <button class="button button-icon icon ion-ios-close-empty sparup-orange" ng-click="profile.goToChooseSport()"></button>
        </div>
    </ion-header-bar>
    <ion-content scroll="false" class="signup-bg has-conditional-footer relative">
        <ion-slide-box show-pager="true" on-slide-changed="slideChange($index)">
            <ion-slide>
                <div ng-style="profile.fullHeight" class="valign-parent padding-bottom-50 tournament">
                    <div class="valign-child">
                        <div class="row" ng-style="profile.title">
                            <div class="col text-center text-xx-large">
                                Objective
                            </div>
                        </div>
                        <ion-list class="div-centered-90 list-borderless">
                            <ion-checkbox class="checkbox-sparup" ng-model="obj.radioButtonVal" ng-click="profile.addPreviousExperience(obj)" ng-repeat="obj in profile.previousExperience">{{obj.previousExperience}}</ion-checkbox>
                        </ion-list>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div ng-style="profile.fullHeight" class="valign-parent padding-bottom-50 ">
                    <div class="valign-child ">
                        <div class="row" ng-style="profile.title">
                            <div class="col text-center text-xx-large">
                                Experience
                            </div>
                        </div>

                        <ion-list class="div-centered-90 list-borderless experience">
                            <ion-checkbox class="checkbox-sparup" ng-model="obj.radioButtonVal" ng-click="profile.addExperience(obj)" ng-repeat="obj in profile.experience">{{obj.experience}}</ion-checkbox>
                        </ion-list>
                    </div>
                </div>
            </ion-slide>
            <!--<ion-slide>-->
                <!--<div ng-style="profile.fullHeight" class="valign-parent padding-bottom-30 tournament">-->
                    <!--<div class="valign-child padding-horizontal-20">-->
                        <!--<div id="addTournament" class="gray-border margin-bottom-5">-->
                            <!--<div class="row" ng-style="profile.title">-->
                                <!--<div class="col text-center text-xx-large">-->
                                    <!--Tournaments Played-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="row row-no-padding">-->
                                <!--<div class="col">-->
                                    <!--<div class="list list-inset margin-0 transparent-bg">-->
                                        <!--<label class="item item-input video-detail-label">-->
                                            <!--<input type="text" placeholder="TOURNAMENT TITLE" ng-model="profile.tournament.name">-->
                                        <!--</label>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="row row-no-padding">-->
                                <!--<div class="col col-50 margin-right-5">-->
                                    <!--<div class="list list-inset margin-0 transparent-bg">-->
                                        <!--<label class="item item-input video-detail-label">-->
                                            <!--<input type="date" placeholder="DATE" ng-model="profile.tournament.date">-->
                                        <!--</label>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col col-50">-->
                                    <!--<div class="list list-inset margin-0 transparent-bg">-->
                                        <!--<label class="item item-input video-detail-label">-->
                                            <!--<input type="text" placeholder="LOCATION" ng-model="profile.tournament.location">-->
                                        <!--</label>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="row row-no-padding">-->
                                <!--<div class="col col-50 margin-right-5">-->
                                    <!--<div class="list list-inset margin-0 transparent-bg">-->
                                        <!--<label class="item item-input video-detail-label">-->
                                            <!--<input type="text" placeholder="TEAM" ng-model="profile.tournament.team">-->
                                        <!--</label>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col col-50">-->
                                    <!--<div class="list list-inset margin-0 transparent-bg">-->
                                        <!--<label class="item item-input video-detail-label">-->
                                            <!--<input type="text" placeholder="ROLE" ng-model="profile.tournament.role">-->
                                        <!--</label>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="row row-no-padding div-centered-60 padding-top-10">-->
                                <!--<div class="col text-center">-->
                                    <!--<button class="button button-block button-small button-sparup-orange" ng-click="profile.addTournament()">Add T</button>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<ion-scroll direction="y" ng-style="profile.scrollerHeight">-->
                            <!--<ion-list>-->
                                <!--<ion-item class="activity-list item-borderless padding-bottom-1 signup-bg" ng-repeat="tournament in profile.details.refToTournament">-->
                                    <!--<div class="row row-no-padding padding-bottom-5">-->
                                        <!--<div class="col item-text-wrap bold">-->
                                            <!--{{tournament.name}}-->
                                        <!--</div>-->
                                        <!--<div class="col col-20 gray text-12 text-right">-->

                                            <!--{{tournament.date|date:'MMM yy'}}-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="row row-no-padding padding-bottom-5">-->
                                        <!--<div class="col item-text-wrap gray text-12 ">-->
                                            <!--{{tournament.location}}-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="row row-no-padding padding-bottom-16 border-bottom-gray">-->
                                        <!--<div class="col item-text-wrap gray text-12">-->

                                            <!--{{tournament.team}} | Played as <span class="dark">{{tournament.role}}</span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</ion-item>-->
                            <!--</ion-list>-->
                        <!--</ion-scroll>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</ion-slide>-->
            <!--<ion-slide>-->
                <!--<div ng-style="profile.fullHeight" class="valign-parent padding-bottom-30 tournament">-->
                    <!--<div class="valign-child padding-horizontal-20" ng-style="profile.maxWidth">-->
                        <!--<div id="addAcademy" class="gray-border margin-bottom-5">-->
                            <!--<div class="row" ng-style="profile.title">-->
                                <!--<div class="col text-center text-xx-large">-->
                                    <!--Clubs Played For-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="row row-no-padding">-->
                                <!--<div class="col">-->
                                    <!--<div class="list list-inset margin-0 transparent-bg">-->
                                        <!--<label class="item item-input video-detail-label">-->
                                            <!--<input type="text" placeholder="CLUB NAME" ng-model="profile.academy.name">-->
                                        <!--</label>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="row row-no-padding">-->
                                <!--<div class="col">-->
                                    <!--<div class="list list-inset margin-0 transparent-bg">-->
                                        <!--<label class="item item-input video-detail-label">-->
                                            <!--<input type="text" placeholder="LOCATION" ng-model="profile.academy.location">-->
                                        <!--</label>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="row row-no-padding row-center margin-bottom-5">-->
                                <!--<div class="col col-45">-->
                                    <!--<div class="list list-inset margin-0 transparent-bg">-->
                                        <!--<label class="item item-input video-detail-label padding-left-0">-->
                                            <!--<input type="date" placeholder="DATE" ng-model="profile.academy.from"-->
                                                   <!--class="padding-right-0 padding-left-10 text-center">-->
                                        <!--</label>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col col-10 padding-top-5 text-center">-->
                                    <!--to-->
                                <!--</div>-->
                                <!--<div class="col col-45">-->
                                    <!--<div class="list list-inset margin-0 transparent-bg">-->
                                        <!--<label class="item item-input video-detail-label padding-left-0">-->
                                            <!--<input type="date" placeholder="DATE" ng-model="profile.academy.to"-->
                                                   <!--class="padding-right-0 padding-left-10 text-center">-->
                                        <!--</label>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<ion-checkbox ng-model="profile.academy.current" class="item-borderless checkbox-sparup signup-bg">-->
                                <!--Currently playing here-->
                            <!--</ion-checkbox>-->
                            <!--<div class="row row-no-padding div-centered-60 padding-top-0">-->
                                <!--<div class="col text-center">-->
                                    <!--<button class="button button-block button-small button-sparup-orange margin-top-0" ng-click="profile.addAcademy()">Add</button>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<ion-scroll direction="y" ng-style="profile.scroller2Height" >-->
                            <!--<ion-list>-->
                                <!--<ion-item class="activity-list item-borderless padding-bottom-1 signup-bg border-bottom-gray" ng-repeat="academy in profile.details.refToAcademy">-->
                                    <!--<div class="row row-no-padding padding-bottom-5">-->
                                        <!--<div class="col item-text-wrap bold">-->
                                            <!--{{academy.name}}-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="row row-no-padding padding-bottom-5">-->
                                        <!--<div class="col item-text-wrap gray text-12 ">-->
                                            <!--{{academy.location}}-->
                                        <!--</div>-->
                                        <!--<div class="col gray text-12 text-right">-->
                                            <!--{{academy.from|date:'MMM yy'}}-<span ng-if="!academy.current">{{academy.to|date:'MMM yy'}}</span><span ng-if="academy.current">Present</span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</ion-item>-->
                            <!--</ion-list>-->
                        <!--</ion-scroll>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</ion-slide>-->
            <ion-slide>
                <div ng-style="profile.fullHeight" class="valign-parent padding-bottom-30 tournament">
                    <div class="valign-child ">
                        <div class="row" ng-style="profile.title">
                            <div class="col text-center text-xx-large">
                                Done !
                            </div>
                        </div>
                        <div class="row div-centered-90">
                            <div class="col text-center gray">
                                You have answered all the question for the chosen sport.
                                You can choose another sport or finish creating your profile here.
                            </div>
                        </div>
                        <div>
                            <div class="row row-no-padding div-centered-80">
                                <div class="col">
                                    <button class="button button-block no-border-radius text-large"
                                            ng-click="submitted=true;profile.addSportExperience(true)">Choose another sport
                                    </button>
                                </div>
                            </div>
                            <div class="row row-no-padding div-centered-80">
                                <div class="col">
                                    <button class="button button-block button-sparup-orange no-border-radius text-large"
                                            ng-click="profile.addSportExperience(false)">Done
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-slide>
        </ion-slide-box>

    </ion-content>
    <ion-footer-bar class="bar-transparent hide-on-keyboard-open">
        <div class="profile-navicons">
            <div class="row row-center row-no-padding padding-horizontal-20">
                <div class="col text-x-large">
                    <button class="button button-outline button-sparup-orange icon-left ion-ios-arrow-left profile-nav-buttons"
                            ng-click="profile.prevSlide()" ng-if="profile.currentSlide!=1">Prev</button>
                </div>
                <div class="col text-right text-x-large" >
                    <button class="button button-outline button-sparup-orange icon-right ion-ios-arrow-right profile-nav-buttons"
                            ng-click="profile.nextSlide()" ng-if="profile.currentSlide!=5">Next</button>
                </div>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
