<i class="icon ion-android-star" ng-if="averageRating>=1"></i>
<i class="icon ion-android-star" ng-if="averageRating>=2"></i>
<i class="icon ion-android-star" ng-if="averageRating>=3"></i>
<i class="icon ion-android-star" ng-if="averageRating>=4"></i>
<i class="icon ion-android-star" ng-if="averageRating==5"></i>
<i class="icon ion-android-star-half" ng-if="averageRating%1!=0"></i>