<ion-modal-view>
    <div class="valign-parent popup-overlay" ng-style="myTraining.fullDim"
         ng-class="{'zoomConfirmationIn':myTraining.animate,'zoomConfirmationOut':!myTraining.animate}">
        <div class="valign-child" ng-style="myTraining.confirmation">
            <div class="div-centered-80 light-bg border-radius-popup">
                <div class="row row-no-padding padding-top-10 padding-bottom-5">
                    <div class="col z-50 text-large text-center valign-parent radius-5">
                        <div class="valign-child sparup-orange padding-horizontal">
                            <div>Rate Your Experience</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <img ng-src="{{myTraining.planInModal.serviceProviderImage}}.jpg" class="image-border">
                    </div>
                </div>
                <div class="row row-no-padding padding-vertical">
                    <div class="col text-center gray text-xx-large rating-provider-name">
                        {{myTraining.planInModal.trainingName}}
                    </div>
                </div>
                <div class="row row-no-padding padding-vertical">
                    <div class="col text-center text-medium padding-left-5 input-box-gray">

                        By:{{myTraining.planInModal.coachName}}
                    </div>
                </div>

                <div class="row row-no-padding div-centered-80 padding-top-10 padding-bottom-30">
                    <div class="col">
                        <button class="button button-icon icon ion-android-star"
                                ng-class="{'gray':!myTraining.rate1,'sparup-orange':myTraining.rate1}"
                                ng-click="myTraining.rateSP(1)"></button>
                    </div>
                    <div class="col">
                        <button class="button button-icon icon ion-android-star"
                                ng-class="{'gray':!myTraining.rate2,'sparup-orange':myTraining.rate2}"
                                ng-click="myTraining.rateSP(2)"></button>
                    </div>
                    <div class="col">
                        <button class="button button-icon icon ion-android-star"
                                ng-class="{'gray':!myTraining.rate3,'sparup-orange':myTraining.rate3}"
                                ng-click="myTraining.rateSP(3)"></button>
                    </div>
                    <div class="col">
                        <button class="button button-icon icon ion-android-star"
                                ng-class="{'gray':!myTraining.rate4,'sparup-orange':myTraining.rate4}"
                                ng-click="myTraining.rateSP(4)"></button>
                    </div>
                    <div class="col">
                        <button class="button button-icon icon ion-android-star"
                                ng-class="{'gray':!myTraining.rate5,'sparup-orange':myTraining.rate5}"
                                ng-click="myTraining.rateSP(5)"></button>
                    </div>
                </div>
                <div class="row row-no-padding div-centered-80 padding-top-10 padding-bottom-30">
                    <div class="col">
                        <textarea class="textarea review-box" placeholder="Your Feedback"
                            ng-model="myTraining.planInModal.feedback"></textarea>
                    </div>
                </div>
                <div class="row row-no-padding">
                    <div class="col">
                        <button class="button button-block button-sparup-orange no-border-radius margin-0"
                                ng-click="myTraining.submitRating()">
                            Submit
                        </button>
                    </div>
                </div>
            </div>

            <div class="row padding-top-25 div-centered-80">
                <div class="col text-center close-confirmation">
                    <button class="button button-icon icon ion-ios-close-outline light z-50"></button>
                </div>
            </div>
        </div>
    </div>
</ion-modal-view>
