<ion-modal-view>
    <ion-header-bar class="bar-stable" align-title="center">

        <h1 class="title dark">Feedback</h1>
        <div class="buttons">
            <button class="button button-icon icon ion-android-close sparup-orange"
                    ng-click="hideFeedbackModal()"></button>
        </div>
    </ion-header-bar>
    <ion-content class=" has-header has-footer">

        <div>
            <div class="col gray text-center">
                Add your feedback here
            </div>
        </div>

        <div class="row row-no-padding padding-horizontal-20">
            <div class="col">
                <textarea class="textarea review-box" ng-model="data.feedback"></textarea>
            </div>
        </div>
        <div class="errors-light-bg ">
            <p ng-if="feedbackIsRequired">Feedback is required</p>
        </div>
        <div class="list list-inset margin-top-0 margin-bottom-0">
            <label class="item item-input feedback-label margin-10">
                <input class="login-input" type="text" placeholder="Please enter your name" name="name" ng-required="true"
                       ng-model="data.username" ng-disabled="disableName">
            </label>

            <div class="errors-light-bg ">
                <p ng-if="nameIsRequired">Name is required</p>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-sparup-orange">
        <button class="button button-block button-clear margin-0" ng-click="sendFeedback()">Send Feedback</button>
    </ion-footer-bar>
</ion-modal-view>
