<ion-side-menus>
  <ion-side-menu-content>
    <ion-nav-bar class="bar-sparup-orange">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view animation="slide-left-right" name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu class="my-menu sidemenu-bg" side="left">
    <ion-content class="fxt-bg has-sidemenu-footer">

      <div class="row row-center margin-top-10">
        <div class="col col-25 text-right">
          <button class="button button-icon icon ion-help sidemenu-small-button" ng-click="goToFaq()"></button>
        </div>
        <div class="col text-center">
          <img src="img/mike.png" class="full-image sidemenu-profile-photo">
        </div>
        <div class="col col-25">
          <button class="button button-icon icon ion-ios-gear sidemenu-small-button"></button>
        </div>
      </div>

      <div class="row row-no-padding margin-top-10 div-centered-60 coach-player-toggle" ng-if="registerAsBoth">
        <div class="col" ng-class="{'selected':player,'not-selected':!player}"
             ng-click="selectPlayer()">
          Player
        </div>
        <div class="col" ng-class="{'selected':!player,'not-selected':player}"
             ng-click="selectCoach()">
          Coach
        </div>
      </div>

      <ion-list class="sidemenu-list text-large">
        <ion-item menu-close ui-sref="sidemenu.tabs.training">
          Home
        </ion-item>
        <ion-item>
          Calendar
        </ion-item>
        <ion-item menu-close ui-sref="sidemenu.myProfile">
          Profile
        </ion-item>
        <ion-item menu-close ui-sref="sidemenu.inbox">
          Inbox
        </ion-item>
        <!--<ion-item ng-if="!registerAsBoth">-->
          <!--Register as coach-->
        <!--</ion-item>-->
        <!--<ion-item menu-close ui-sref="sidemenu.findPlayer">-->
          <!--Find a player-->
        <!--</ion-item>-->
      </ion-list>

    </ion-content>
    <ion-footer-bar class="sidemenu-footer">
      <div class="row">
        <div class="col text-center text-large" ng-click="goToLogin()">
          Logout
        </div>
      </div>
    </ion-footer-bar>
  </ion-side-menu>
</ion-side-menus>
