<div class="row row-no-padding" ng-if="pageType=='addTagsPage'">
    <div class="col gray text-small">
        SELECTED TAGS
    </div>
</div>
<div class="row row-no-padding padding-bottom-5" ng-if="pageType=='addTagsPage'">
    <div class="col text-center item-text-wrap">
        <span class="uploadTags"
              ng-repeat="tag in tagsLevel1Name">{{tag|capitalize}}
        </span>
        <span class="uploadTags"
              ng-repeat="tag in tagsLevel2Name">{{tag|capitalize}}
        </span>
        <span class="uploadTags"
              ng-repeat="tag in tagsLevel3Name">{{tag|capitalize}}
        </span>
    </div>
</div>


<div class="row row-no-padding border-top-lightgray padding-top-5 gray" ng-if="pageType=='trainingPageTags'">
    <div class="col ellipsis text-left">
        <span
              ng-repeat="tag in tagsLevel1Name">{{tag|capitalize}}<span ng-if="$index!=$last">,</span>
        </span>
        <span
              ng-repeat="tag in tagsLevel2Name">{{tag|capitalize}}<span ng-if="$index!=$last">,</span>
        </span>
        <span
              ng-repeat="tag in tagsLevel3Name"> {{tag|capitalize}}<span ng-if="$index!=$last">,</span>
        </span>
    </div>
</div>