<ion-modal-view>
    <ion-header-bar class="bar-stable" align-title="center">

        <h1 class="title dark">Filter Training Packages</h1>
        <div class="buttons">
            <button class="button button-icon icon ion-android-close sparup-orange"
                    ng-click="training.hideFilters()"></button>
        </div>
    </ion-header-bar>

    <ion-content class="stable-bg has-header has-footer">
        <ion-list>
            <ion-item class="stable-bg padding-0" ng-if="training.status==1">
                <div class="row">
                    <div class="col">
                        <ion-checkbox class="filter-checkbox checkbox-sparup-orange text-small">
                            Hide already subscribed packages
                        </ion-checkbox>
                    </div>
                </div>
            </ion-item>
            <!--<ion-item class="stable-bg padding-bottom-0 sport-filter">-->
                <!--<div class="row row-no-padding">-->
                    <!--<div class="col gray text-small">-->
                        <!--SELECT SPORT-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="row">-->
                    <!--<div class="col">-->
                        <!--<ion-checkbox class="filter-checkbox checkbox-sparup-orange text-small">Football</ion-checkbox>-->
                    <!--</div>-->
                    <!--<div class="col">-->
                        <!--<ion-checkbox class="filter-checkbox checkbox-sparup-orange text-small">Badminton</ion-checkbox>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</ion-item>-->
            <ion-item class="stable-bg">
                <div class="row row-no-padding padding-bottom-20">
                    <div class="col gray text-small">
                        SORT BY
                    </div>
                </div>
                <div class="row filter-sort-row border-bottom-none">
                    <div class="col">
                        <div class="row row-no-padding padding-bottom-5 padding-top-5" ng-click="training.sortByFunction('-noOfSubscriber')">
                            <div class="col text-center">
                                <i class="icon ion-ios-eye text-large" ng-class="{'sparup-orange':training.deltaSortBy=='-noOfSubscriber'}"></i>
                            </div>
                        </div>
                        <div class="row row-no-padding">
                            <div class="col text-center  text-small" ng-class="{'sparup-orange':training.deltaSortBy=='-noOfSubscriber'}">
                                Subscribers
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row row-no-padding padding-bottom-5 padding-top-5" ng-click="training.sortByFunction('-createdAt')">
                            <div class="col text-center">
                                <i class="icon ion-ios-calendar-outline text-large" ng-class="{'sparup-orange':training.deltaSortBy=='-createdAt'}"></i>
                            </div>
                        </div>
                        <div class="row row-no-padding">
                            <div class="col text-center text-small" ng-class="{'sparup-orange':training.deltaSortBy=='-postedAt'}">
                                Posted at
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row row-no-padding padding-bottom-5 padding-top-5" ng-click="training.sortByFunction('-rating')">
                            <div class="col text-center">
                                <i class="icon ion-android-star-outline text-large" ng-class="{'sparup-orange':training.deltaSortBy=='-rating'}"></i>
                            </div>
                        </div>
                        <div class="row row-no-padding">
                            <div class="col text-center text-small" ng-class="{'sparup-orange':training.deltaSortBy=='-rating'}">
                                Ratings
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row filter-sort-row border-top-none">
                    <div class="col">
                        <div class="row row-no-padding padding-bottom-5 padding-top-5" ng-click="training.sortByFunction('-duration')">
                            <div class="col text-center">
                                <i class="icon ion-ios-clock-outline text-large" ng-class="{'sparup-orange':training.deltaSortBy=='-duration'}"></i>
                            </div>
                        </div>
                        <div class="row row-no-padding">
                            <div class="col text-center text-small" ng-class="{'sparup-orange':training.deltaSortBy=='-duration'}">
                                Duration
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row row-no-padding padding-bottom-5 padding-top-5" ng-click="training.sortByFunction('-cost')">
                            <div class="col text-center">
                                <i class="icon ion-social-usd-outline text-large" ng-class="{'sparup-orange':training.deltaSortBy=='-cost'}"></i>
                            </div>
                        </div>
                        <div class="row row-no-padding">
                            <div class="col text-center text-small" ng-class="{'sparup-orange':training.deltaSortBy=='-cost'}">
                                Cost
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row row-no-padding padding-bottom-5 padding-top-5" ng-click="training.sortByFunction('trainingName')">
                            <div class="col text-center bold" style="padding-bottom: 3px">
                                <i class="icon" ng-class="{'sparup-orange':training.deltaSortBy=='trainingName'}">A - Z</i>
                            </div>
                        </div>
                        <div class="row row-no-padding">
                            <div class="col text-center text-small" ng-class="{'sparup-orange':training.deltaSortBy=='trainingName'}">
                                By name
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>
            <ion-item class="stable-bg border-bottom-none padding-bottom-5">
                <div class="row row-no-padding  ">
                    <div class="col gray text-small">
                        FILTER BY
                    </div>
                </div>
            </ion-item>
            <ion-item class="item range range-positive stable-bg border-top-none padding-top-5 relative">
                <span class="filter-label gray text-small">Cost</span>
                <i class="icon ion-social-usd-outline"></i>
                <input id="costSlider" type="range" name="volume" min="0" max="10000" ng-model="training.cost.value">
                <i class="icon ion-social-usd"></i>
                <span class="slider-min" ng-style="training.slidermin">$20</span>
                <span class="slider-value" ng-style="training.slidervalue">${{training.cost.value}}</span>
            </ion-item>
            <ion-item class="item range range-positive stable-bg border-top-none padding-top-5">
                <span class="filter-label gray text-small">Duration</span>
                <i class="icon ion-ios-navigate-outline"></i>
                <input type="range" name="volume" min="1" max="20" ng-model="training.duration.value">
                <i class="icon ion-ios-navigate"></i>
                <span class="slider-min" ng-style="training.slidermin">1 week</span>
                <span class="slider-value" ng-style="training.slidervalue2">{{training.duration.value}} weeks</span>
            </ion-item>
            <ion-item class="stable-bg border-top-none padding-top-5">
                <div class="row row-center row-no-padding padding-vertical">
                    <div class="col col-20 gray text-small">Rating</div>
                    <div class="col col-80">
                        <div class="row row-no-padding">
                            <div class="col text-center text-x-large" ng-click="training.selectRating(1)">
                                <i class="icon sparup-orange ion-ios-star" ></i>
                            </div>
                            <div class="col text-center text-x-large" ng-click="training.selectRating(2)">
                                <i class="icon sparup-orange"
                                   ng-class="{'ion-ios-star':training.deltaRating>=2,'ion-ios-star-outline':training.deltaRating<2}"></i>
                            </div>
                            <div class="col text-center text-x-large" ng-click="training.selectRating(3)">
                                <i class="icon sparup-orange"
                                   ng-class="{'ion-ios-star':training.deltaRating>=3,'ion-ios-star-outline':training.deltaRating<3}"></i>
                            </div>
                            <div class="col text-center text-x-large" ng-click="training.selectRating(4)">
                                <i class="icon sparup-orange"
                                   ng-class="{'ion-ios-star':training.deltaRating>=4,'ion-ios-star-outline':training.deltaRating<4}"></i>
                            </div>
                            <div class="col text-center text-x-large" ng-click="training.selectRating(5)">
                                <i class="icon sparup-orange"
                                   ng-class="{'ion-ios-star':training.deltaRating==5,'ion-ios-star-outline':training.deltaRating<5}"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-no-padding">
                    <div ng-if="training.deltaRating<5"
                         class="col col-offset-20 text-center text-small">Show rating {{training.deltaRating}} and below</div>
                    <div ng-if="training.deltaRating==5"
                         class="col col-offset-20 text-center text-small">Show rating {{training.deltaRating}} only</div>
                </div>
            </ion-item>
            <ion-item class="stable-bg padding-0">
                <div class="item item-toggle text-small stable-bg gray">
                    SHOW PAID PACKAGES
                    <label class="toggle toggle-sparup-orange">
                        <input type="checkbox" ng-model="training.paidCheckBoxVal" ng-change="training.changePaidFilter()">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
            </ion-item>
            <ion-item class="stable-bg">
                <div class="row row-no-padding padding-bottom-20">
                    <div class="col gray text-small">
                        SELECT TAGS
                    </div>
                </div>
                <div class="row row-no-padding padding-bottom-5">
                    <div class="col ">
                        Back-hand
                    </div>
                    <div class="col tag-selected">
                        Fore-hand
                    </div>
                </div>
                <div class="row row-no-padding padding-top-5 padding-bottom-5">
                    <div class="col tag-selected">
                        Smash
                    </div>
                    <div class="col tag-selected">
                        Serve
                    </div>
                </div>
                <div class="row row-no-padding padding-top-5 padding-bottom-5">
                    <div class="col tag-selected">
                        Return Serve
                    </div>
                    <div class="col tag-selected">
                        Serve
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-sparup-orange">
        <button class="button button-block button-clear margin-0" ng-click="training.applyFilter()">Apply</button>
    </ion-footer-bar>
</ion-modal-view>
