<ion-view view-title="{{trainingDetail.trainingName|capitalize}}" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-back" ng-click="trainingDetail.return()"></button>
    </ion-nav-buttons>

    <ion-content scroll="false" class="has-header has-footer">


        <div id="description" class="row padding-horizontal-16 padding-bottom-0">
            <div class="col description">

                <div class="row row-no-padding bold">
                    <div class="col text-center text-large">
                        <i class="icon ion-android-calendar"></i>
                        {{trainingDetail.duration}} week plan
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center text-medium gray">
                        <i class="icon ion-connection-bars"></i>
                        {{trainingDetail.level|capitalize}}
                    </div>
                </div>
                <div class="row row-no-padding padding-top-5 border-bottom-lightgray">
                    <div class="col text-center">
                        {{trainingDetail.description|capitalize}}
                    </div>
                </div>
            </div>
        </div>
        <ion-list class="feed-list" ng-click="trainingDetail.openChat()">
            <ion-item id="coachInfo"  class="item-avatar-left ">
                <img src="img/adam.jpg">
                <h2 class="ellipsis sparup-orange">{{trainingDetail.trainingBy.firstName|capitalize}}</h2>
                <div class="row row-no-padding padding-bottom-5">
                    <div class="col ellipsis text-small gray">
                        5 year experience
                    </div>
                    <div class="col text-right">

                    </div>
                </div>
                <div class="row row-no-padding padding-bottom-10 ">
                    <div class="col energized">
                        <rating-directive average-rating="coach.rating"></rating-directive>
                    </div>
                    <div class="col text-right text-small gray">
                        {{trainingDetail.noOfSubscriber}} subscribers
                    </div>
                </div>
            </ion-item>
        </ion-list>
        <div class="bar bar-stable border-top-lightgray relative">
            <h1 class="title">ACTIVITIES</h1>
        </div>
        <ion-scroll zooming="true" direction="x" scrollbar-x="false" class="categories-filter border-bottom-gray
        border-top-lightgray margin-top-0">
			<span>
				<button class="button button-light filter-button border-lightgray bold"
                        ng-repeat="activity in trainingDetail.activityList" ng-click="trainingDetail.selectWeek($index)"
                        ng-class="{'sparup-orange':$index== trainingDetail.week}">
					Week {{$index+1}}
				</button>
			</span>
        </ion-scroll>
        <ion-scroll direction="y" ng-style="trainingDetail.activityScroller" class="gray-bg">
            <div ng-style="trainingDetail.activities" class="margin-10">
                <ion-list id="activityList" ng-repeat="activity in trainingDetail.activityList[trainingDetail.week]" >
                    <ion-item class="item-icon-right" ng-click="trainingDetail.goToActivityDetails(activity)">
                        <div class="row row-no-padding">
                            <div class="col">
                                <h2>{{activity.activityName}}</h2>
                            </div>
                        </div>
                        <div class="row row-no-padding padding-top-5">
                            <div class="col">
                               <p>{{($index+1)+(trainingDetail.week*7)}} Day</p>
                                <!--<p ng-if="$index==0">Monday</p>-->
                                <!--<p ng-if="$index==1">Tuesday</p>-->
                                <!--<p ng-if="$index==2">Wednesday</p>-->
                                <!--<p ng-if="$index==3">Thursday</p>-->
                                <!--<p ng-if="$index==4">Friday</p>-->
                                <!--<p ng-if="$index==5">Saturday</p>-->
                                <!--<p ng-if="$index==6">Sunday</p>-->
                            </div>
                        </div>
                    </ion-item>

                </ion-list>
            </div>
        </ion-scroll>

    </ion-content>
    <ion-footer-bar class="bar-sparup-orange">
        <h1 class="title" ng-click="trainingDetail.subscribePlan()">Subscribe</h1>
    </ion-footer-bar>
</ion-view>
