<ion-view view-title="Training" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-navicon" ng-click="showLeftMenu()"></button>
    </ion-nav-buttons>
    <!--<ion-nav-buttons side="right">-->
        <!--<button class="button button-icon icon ion-levels">-->
        <!--</button>-->
    <!--</ion-nav-buttons>-->

    <div class="bar bar-light has-header tabs-shadow z-10" align-title="left">
        <div class="row row-center row-no-padding">
            <div class="col text-center "
                 ng-class="{'selected-sub-tab':training.status==1||training.status==0}"
                 ng-click="training.changePrevStatus(1);">
                Dashboard
            </div>
            <div class="col text-center "
                 ng-class="{'selected-sub-tab':training.status==2}"
                 ng-click="training.changePrevStatus(2);training.getMyTrainingPlans()">
                My plans
            </div>
            <div class="col text-center " ng-class="{'selected-sub-tab':training.status==3}"
                 ng-click="training.changePrevStatus(3);training.getTrainingPlanCategory();">
                Discover
            </div>
        </div>
    </div>
    <ion-header-bar
            class="bar-subheader bar-subsubheader bar-stable border-bottom-lightgray item-input-inset has-subheader
            overflow-vis relative padding-0"
            align-title="left" ng-if="sportSelected && training.status!=1">

        <div class="row row-center row-no-padding z-50 bar-sportname-row stable-bg">
            <div class="col-mod padding-left-10 animate-maxwidth full-maxwidth profile-sportname"
                 ng-class="{'zero-maxwidth':training.searchOpen,'sportname-vanish':training.searchOpenLate}"
                 ng-click="training.dropMenu()">
                <span class=" bold " ng-click="training.dropMenu()">
                    {{sportSelected.sportName|capitalize}}</span>
                <i class="icon ion-chevron-down light"></i>
            </div>
            <div class="col text-right sparup-orange" ng-click="training.chooseStreamAgain()" ng-if="training.status==3 && training.streamChosen">
                <i class="icon ion-chevron-left"></i> Back
            </div>
        </div>
        <div class="sports-dropdown">
            <ion-list class="z-49 slider-element fast-animated" ng-if="training.menuDropped"
                      ng-class="{'slideInDown_videoLib':training.backdrop,'slideOutUp_videoLib':!training.backdrop}">
                <ion-item class="item-input-inset dropmenu-content width-60 margin-left-10"
                          ng-repeat="sport in training.mySports"
                          ng-click="training.selectSport(sport);">
                    <span>{{sport.sportName|capitalize}} </span>
                </ion-item>
            </ion-list>

            <div class="slider-element dark-translucent-bg z-48" ng-style="training.general"
                 ng-if="training.menuDropped"
                 ng-click="training.hideMenu()">

            </div>
        </div>

    </ion-header-bar>
    <ion-content class="has-header has-subheader has-tabs stable-bg" ng-class="{'has-subsubheader':sportSelected && training.status!=1}">

        <div class="slider-element dark-translucent-bg z-49" ng-style="training.myplan" ng-if="training.backdrop"
             ng-click="training.hideMenu()">

        </div>
        <div id="dashboard" class="z-10 slider-element stable-bg" ng-style="training.dashboard"
             ng-class="{
                 'z-11':training.status==1 && training.prevStatus==1,
                 'z-11 slideInFromLeft':training.status==1 && training.prevStatus==2,
                 'slideInFromLeft z-11':training.status==1 && training.prevStatus==3,
                 'z-10 slideOutToLeft':training.status==2 && training.prevStatus==1,
                 'slideOutToLeft z-10':training.status==3 && training.prevStatus==1}"
             ng-if="(training.status==1||training.status==0) && !training.showSpinner">

            <div ng-if="training.showDashBoard" class="card card-row">
                <div class="row row-center padding-top-10 padding-bottom-10">
                    <div class="col col-33 text-superlarge sparup-orange text-center">
                        {{training.completedPlans||0}}
                    </div>
                    <div class="col gray">
                        Training plans completed
                    </div>
                </div>
                <div class="row row-center" ng-if="training.completedPlans>0">
                    <div class="col col-33 padding-left-10">
                        <canvas ng-if="training.showPieChart" id="pie" class="chart chart-pie"
                                chart-data="training.dataLevelWise" chart-labels="training.labelLevelWise"
                                chart-colors="training.colors" chart-options="training.completedOptions">
                        </canvas>
                    </div>
                    <div class="col padding-left-20">
                        <div class="row row-center">
                            <div class="col-20">
                                <span class="chart-legend-1"></span>
                            </div>
                            <div class="col">Beginner</div>
                        </div>
                        <div class="row row-center">
                            <div class="col-20">
                                <span class="chart-legend-2"></span>
                            </div>
                            <div class="col">Intermediate</div>
                        </div>
                        <div class="row row-center">
                            <div class="col-20">
                                <span class="chart-legend-3"></span>
                            </div>
                            <div class="col">Advanced</div>
                        </div>
                    </div>
                </div>
                <div class="row row-center" ng-if="training.completedPlans>0">
                    <div class="col col-33 padding-left-10">
                        <canvas ng-if="training.showPieChart" id="pie2" class="chart chart-pie"
                                chart-data="training.dataCategoryWise" chart-labels="training.labelCategoryWise"
                                chart-colors="training.colors" chart-options="training.completedOptions">
                        </canvas>
                    </div>
                    <div class="col padding-left-20">
                        <div class="row row-center">
                            <div class="col-20">
                                <span class="chart-legend-1"></span>
                            </div>
                            <div class="col">Strategy</div>
                        </div>
                        <div class="row row-center">
                            <div class="col-20">
                                <span class="chart-legend-2"></span>
                            </div>
                            <div class="col">Fitness</div>
                        </div>
                        <div class="row row-center">
                            <div class="col-20">
                                <span class="chart-legend-3"></span>
                            </div>
                            <div class="col">Skill</div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="training.showDashBoard" class="card card-row">
                <div class="row row-center padding-top-10 padding-bottom-10">
                    <div class="col col-33 text-superlarge sparup-orange text-center">
                        {{(training.totalWeekTrained|number:0)||0}}
                    </div>
                    <div class="col gray">
                        Weeks trained
                    </div>
                </div>
            </div>
            <div ng-if="training.showDashBoard" class="card card-row">
                <div class="row row-center padding-top-10 padding-bottom-15">
                    <div class="col col-33 text-superlarge sparup-orange text-center">
                        {{training.ongoingData.length||0}}
                    </div>
                    <div class="col gray">
                        Ongoing / paused trainings
                    </div>
                </div>
                <div class="row row-center" ng-repeat="plan in training.ongoingLabels">
                    <div class="col" >
                        <div class="row row-no-padding">
                            <div class="col sparup-orange padding-bottom-10">
                                {{plan}} <span class="gray bold">{{training.ongoingData[$index][0]|number:0}}%</span>
                            </div>
                        </div>
                        <div class="row row-no-padding">
                            <div class="col">
                                <canvas id="base" height="50" class="chart-horizontal-bar"
                                        chart-data="training.ongoingData[$index]" chart-options="training.ongoingOptions" >
                                </canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="(training.ongoingData.length==0 ||  !training.ongoingData) && (training.completedPlans==0 ||  !training.completedPlans)">
                <div class="row margin-top-20">
                    <div class="col gray text-center text-medium">
                        You have not started training
                    </div>
                </div>
                <div class="row">
                    <div class="col sparup-orange bold text-x-large text-center" ng-click="training.changePrevStatus(3);training.getTrainingPlanCategory();">
                        Let's get started !
                    </div>
                </div>
            </div>
        </div>
        <div id="myplan" class="z-9 slider-element stable-bg margin-bottom-30"
             ng-class="{
                 'z-11':training.status==2 && training.prevStatus==2,
                 'z-10 slideOutToRight':training.status==1 && training.prevStatus==2,
                 'z-11 slideInFromRight':training.status==2 && training.prevStatus==1,
                 'z-11 slideInFromLeft':training.status==2 && training.prevStatus==3,
                 'z-10 slideOutToLeft':training.status==3 && training.prevStatus==2}"
             ng-if="training.status==2||training.status==0">

            <div ng-if="!sportSelected" ng-style="training.placeholder">
                <div class="row">
                    <div class="col gray bold text-x-large text-center">
                        Select a sport
                    </div>
                </div>
                <div class="grid">

                    <div class="row row-mod">
                        <div class="col col-33 col-mod" ng-repeat="sport in training.mySports">
                            <img ng-src="{{backend}}/sportImages/{{sport.image}}" class="full-image sport-image"
                                 ng-click="training.selectSport(sport)">
                            <h5 class="text-center margin-0 gray">{{sport.sportName|capitalize}}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="sportSelected && training.playerTrainingPlanList.length==0" ng-style="training.placeholder">
                <div class="row">
                    <div class="col gray text-center">
                        You have not subscribed to any training plan
                    </div>
                </div>
                <div class="row">
                    <div class="col gray bold text-x-large text-center"
                         ng-click="training.changePrevStatus(2);training.getTrainingPlanCategory();">
                        Browse all plans
                    </div>
                </div>
            </div>


            <div ng-if="sportSelected && training.playerTrainingPlanList.length!=0"
                 class="search-list list card margin-bottom-0 margin-top-10 "
                 ng-click="training.seeOngoing()"
                 ng-repeat="plan in training.playerTrainingPlanList|filterDataBySportId:sportSelected._id">
                <div class="padding"
                     ng-click="training.goToMyTrainingDetails(plan)">
                    <div class="row row-no-padding padding-bottom-10 padding-horizontal">
                        <div class="col text-large">
                            {{plan.trainingPlanId.trainingName}}
                        </div>
                    </div>
                    <div class="row row-no-padding padding-bottom-5 padding-horizontal">
                        <div class="col gray">{{plan.trainingPlanId.trainingBy.firstName}}
                        </div>
                        <div class="col text-right gray">
                            <i class="icon ion-ios-calendar-outline text-medium padding-right-5"></i>
                            {{plan.trainingPlanId.duration}} weeks
                        </div>
                    </div>
                    <div class="row row-center row-no-padding padding-bottom-5 padding-horizontal">
                        <div class="col text-small energized">
                            <rating-directive average-rating="plan.trainingPlanId.rating"></rating-directive>
                        </div>
                        <div class="col text-right gray">
                            {{plan.trainingPlanId.cost}}
                        </div>
                    </div>

                    <div class="row row-center row-no-padding padding-bottom-5 padding-horizontal">
                        <div class="col text-small energized">
                            {{plan.trainingPlanId.level|capitalize}}
                        </div>
                    </div>
                    <div class="row row-no-padding padding-horizontal margin-top-5 ">
                        <div class="col text-center border-top-gray sparup-orange padding-top-10">
                            <span ng-if="plan.percentageCompleted==0 && plan.status!='ended'"> NOT STARTED YET</span>
                            <span ng-if="plan.percentageCompleted>0 && plan.percentageCompleted<100 && plan.status=='started'"> ONGOING ({{plan.percentageCompleted|number:0}}%)</span>
                            <span ng-if="plan.percentageCompleted>0 && plan.percentageCompleted<100 && plan.status=='paused'"> PAUSED ({{plan.percentageCompleted|number:0}}%)</span>
                            <span ng-if="plan.status=='ended'"> COMPLETED </span>
                        </div>
                    </div>
                </div>

            </div>
            <div ng-if="sportSelected && training.playerTrainingPlanList.length==0">
                <div class="row">
                    <div class="col gray text-center">
                        No subscribed Training Plan in {{sportSelected.sportName}}
                    </div>
                </div>
                <div class="row">
                    <div class="col sparup-orange bold text-x-large text-center"
                         ng-click="training.changePrevStatus(3);training.getTrainingPlanCategory();">
                        Discover training plans
                    </div>
                </div>
            </div>

        </div>
        <div id="discover" class="z-9 slider-element stable-bg"
             ng-class="{
                 'z-11':training.status==3 && training.prevStatus==3,
                 'z-9':training.status==2 && training.prevStatus==1,
                 'z-10 slideOutToRight':training.status==1 && training.prevStatus==3,
                 'slideOutToRight z-10':training.status==2 && training.prevStatus==3,
                 'z-11 slideInFromRight':training.status==3 && training.prevStatus==1,
                 'slideInFromRight z-11':training.status==3 && training.prevStatus==2}"
             ng-if="training.status==3||training.status==0">
            <div ng-if="!sportSelected" ng-style="training.placeholder">
                <div class="row">
                    <div class="col gray bold text-x-large text-center">
                        Select a sport
                    </div>
                </div>
                <div class="grid">

                    <div class="row row-mod">
                        <div class="col col-33 col-mod" ng-repeat="sport in training.mySports">
                            <img ng-src="{{backend}}/sportImages/{{sport.image}}" class="full-image sport-image"
                                 ng-click="training.selectSport(sport)">
                            <h5 class="text-center margin-0 gray">{{sport.sportName|capitalize}}</h5>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="sportSelected && !training.streamChosen" class="padding-top-20">
                <div class="row">
                    <div class="col gray text-large text-center">
                        Tell us what are you training for
                    </div>
                </div>
                <div class="card stream-card" ng-click="training.chooseStream(category)"
                     ng-repeat="category in training.trainingPlanCategoryList">
                    <div class="item item-text-wrap item-thumbnail-left training-streams">
                        <img ng-src="img/{{category.category}}.png">
                        {{category.category|capitalize}}
                    </div>
                </div>
            </div>
            <div ng-if="sportSelected && training.streamChosen">
                <div class="search-list list card margin-bottom-0 margin-top-10 "
                     ng-repeat="trainingPlan in training.trainingPlanList
                     |orderBy:training.sortBy
                     |filterByCost:training.costFilter
                     |filterByDuration:training.durationFilter
                     |filterByRating:training.ratingFilter
                     |filterByCost:training.paidFilter
                     |filterOutMySubscribedPlans:training.playerTrainingPlanIds">
                    <div class="padding" ng-click="training.seeDetail(trainingPlan)">
                        <div class="row row-no-padding padding-bottom-10 padding-horizontal">
                            <div class="col text-large">
                                {{trainingPlan.trainingName}}
                            </div>
                        </div>
                        <div class="row row-no-padding padding-bottom-5 padding-horizontal">
                            <div class="col gray">
                                {{trainingPlan.trainingBy.firstName}}
                            </div>
                            <div class="col text-right gray">
                                <i class="icon ion-ios-calendar-outline text-medium padding-right-5"></i>
                                {{trainingPlan.duration}}
                                {{trainingPlan.rating}}
                            </div>
                        </div>
                        <div class="row row-center row-no-padding padding-bottom-5 padding-horizontal">
                            <div class="col text-small energized">
                                <rating-directive average-rating="trainingPlan.rating"></rating-directive>
                            </div>
                            <div class="col text-right balanced" ng-if="trainingPlan.cost!=0">
                                Paid
                            </div>
                            <div class="col text-right balanced" ng-if="trainingPlan.cost==0">
                                Free
                            </div>
                        </div>


                        <div class="row row-center row-no-padding padding-bottom-5 padding-horizontal">
                            <div class="col text-small energized">
                                {{trainingPlan.level|capitalize}}
                            </div>
                        </div>
                        <tags-name tags-level-1="trainingPlan.tagsLevel1" tags-level-2="trainingPlan.tagsLevel2"
                                   tags-level-3="trainingPlan.tagsLevel3" page-type="trainingPageTags"></tags-name>

                    </div>

                </div>
            </div>
        </div>


    </ion-content>
    <!--<div class="hidden fast-animated floatButton button button-icon button-sparup-orange icon ion-android-upload valign-child"-->
         <!--ng-class="{'visible zoomIn':training.showUploadButton}" ng-click="training.uploadVideo()">-->
    <!--</div>-->
    <div ng-if="training.showSpinner" class="absolute z-50" ng-style="training.fullDim">
        <ion-spinner icon="ios" class="spinner-assertive absolute screenCenter "></ion-spinner>
    </div>
</ion-view>
