<ion-modal-view>
    <ion-header-bar class="bar-stable" align-title="center">

        <h1 class="title dark">Upload Video</h1>
        <div class="buttons">
            <button class="button button-icon icon ion-android-close sparup-orange"
                    ng-click="videoLib.hideUploadVideoModal()"></button>
        </div>
    </ion-header-bar>

    <ion-content class="stable-bg has-header has-footer">
        <ion-list>
            <div class="list margin-0 list-borderless" ng-if="!videoLib.isPlayer">
                <label class="item item-input item-select item-borderless stable-bg">
                    <div class="input-label gray text-small">
                        ADD TO PACKAGE
                    </div>
                    <select ng-options="package.packageName for package in videoLib.packageList"
                            ng-model="videoLib.videoInfo.package" ng-change="videoLib.changePackage()"
                    ></select>
                </label>
            </div>

            <ion-item class="stable-bg">
                <div class="row" ng-if="!videoLib.youtube">
                    <div class="col text-center ">
                        <div id="videoPlayerdivModal" ng-style="videoLib.player"></div>
                    </div>
                </div>
                <div class="padding-bottom-20" ng-if="videoLib.youtube">
                    <div class="list list-inset margin-0 transparent-bg">
                        <label class="item item-input video-detail-label">
                            <input type="text" placeholder="Youtube video link" ng-model="videoLib.youtubeLink">
                        </label>
                    </div>
                </div>
                <div class="row div-centered-60" ng-if="videoLib.youtube">
                    <div class="col text-center">
                        <button class="button button-sparup-orange button-block" ng-click="videoLib.loadYoutubeVideo()">
                            Check
                        </button>
                    </div>
                </div>
                <div class="row row-no-padding" ng-if="videoLib.youtubeVideoLoaded">
                    <div class="col video-frame">
                        <iframe ng-style="videoLib.videoFrame" ng-src="{{videoLib.trustedLink}}"
                                frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <!--<div class="row">-->
                <!--<div class="col text-small gray text-center">-->
                <!--dribble.mp4<br><span class="sparup-orange">change</span>-->
                <!--</div>-->
                <!--</div>-->
                <div class="padding-bottom-20">
                    <div class="list list-inset margin-0 transparent-bg">
                        <label class="item item-input video-detail-label">
                            <input type="text" placeholder="TITLE" ng-model="videoLib.videoInfo.title">
                        </label>
                    </div>
                </div>

                <div class="row row-center" ng-if="videoLib.titleError">
                    <div class="col text-center errors">
                        Title is required
                    </div>
                </div>
                <div class="row row-center row-no-padding">
                    <div class="col">
                        <div class="list">
                            <div class="item item-input-inset div-center padding-0">
                                <textarea placeholder="ADD DESCRIPTION" class="textarea"
                                          ng-model="videoLib.videoInfo.description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row row-center" ng-if="videoLib.descriptionError">
                    <div class="col text-center errors">
                        Description is required
                    </div>
                </div>
            </ion-item>
            <ion-item class="stable-bg padding-0" ng-if="!videoLib.isPlayer">

                <ion-item class="stable-bg padding-0">
                    <ion-toggle class="filter-toggle" toggle-class="toggle-sparup-orange"
                                ng-model="videoLib.videoInfo.paidVideo"> MAKE VIDEO PAID
                    </ion-toggle>
                </ion-item>
            </ion-item>
            <ion-item class="stable-bg padding-bottom-0">
                <div class="row row-no-padding">
                    <div class="col gray text-small">
                        SPORT
                    </div>
                </div>
                <div class="row" ng-repeat="sport in videoLib.mySportsListUpload">
                    <div class="col">
                        <ion-checkbox class="filter-checkbox checkbox-sparup-orange text-small"
                                      ng-model="sport.selected" ng-change="videoLib.changeSport(sport)">
                            {{sport.sportName}}
                        </ion-checkbox>
                    </div>
                </div>
            </ion-item>

            <ion-item class="stable-bg">
                <tags-name ng-if="showTagsDirective" tags-level-1="videoLib.videoInfo.tagsLevel1" tags-level-2="videoLib.videoInfo.tagsLevel2"
                           tags-level-3="videoLib.videoInfo.tagsLevel3" page-type="addTagsPage"></tags-name>

                <div class="row">
                    <div class="col text-center bold sparup-orange text-large">
                        <span tags-modal
                              delta-selected-tags="videoLib.deltaSelectedTags"
                              delta-selected-tags-ids="videoLib.deltaSelectedTagsIds"
                              item-info="videoLib.videoInfo"
                              show-level2-div="showLevel2Div"
                              show-level3-div="showLevel3Div">Select Tags for Video
                            </span>
                    </div>
                </div>
                <!--<button class="button button-small-rounded button-assertive" >-->
                    <!--APPLY TAGS TO VIDEO-->
                <!--</button>-->
                <!--<div class="row row-no-padding padding-bottom-5">-->
                <!--<div class="col text-center item-text-wrap" >-->
                <!--<span class="uploadTags" ng-class="{'tag-selected':tag.selected}"-->
                <!--ng-repeat="tag in videoLib.level1tags" ng-click="videoLib.getLevel2Tags(tag._id)">{{tag.tagLevel1|capitalize}}-->
                <!--</span>-->
                <!--</div>-->
                <!--</div>-->


                <!--<div class="row row-no-padding padding-bottom-5">-->
                <!--<div class="col text-center item-text-wrap" >-->
                <!--<span class="uploadTags" ng-class="{'tag-selected':tag.selected}"-->
                <!--ng-repeat="tag in videoLib.level2tags" ng-click="videoLib.getLevel3Tags(tag._id)">{{tag.tagLevel2|capitalize}}-->
                <!--</span>-->
                <!--</div>-->
                <!--</div>-->

                <!--<div class="row row-no-padding padding-bottom-5">-->
                <!--<div class="col text-center item-text-wrap" >-->
                <!--<span class="uploadTags" ng-class="{'tag-selected':tag.selected}"-->
                <!--ng-repeat="tag in videoLib.level3tags" >{{tag.tagLevel3|capitalize}}-->
                <!--</span>-->
                <!--</div>-->
                <!--</div>-->

            </ion-item>



        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-sparup-orange" ng-if="!videoLib.youtube">
        <button class="button button-block button-clear margin-0" ng-click="videoLib.uploadThisVideo()">Upload</button>
    </ion-footer-bar>
    <ion-footer-bar class="bar-sparup-orange" ng-if="videoLib.youtube">
        <button class="button button-block button-clear margin-0" ng-click="videoLib.uploadYoutubeVideo()">Upload
        </button>
    </ion-footer-bar>
</ion-modal-view>
