<ion-modal-view>
    <ion-header-bar class="bar-stable" align-title="center">

        <h1 class="title dark">Filter videos for Football</h1>
        <div class="buttons">
            <button class="button button-icon icon ion-android-close sparup-orange"
                    ng-click="videoLib.hideFilters()"></button>
        </div>
    </ion-header-bar>

    <ion-content class="stable-bg has-header has-footer">
        <ion-list>
            <ion-item class="stable-bg padding-0" ng-if="videoLib.status==1 && !loggedInUser.info.player">
                <div class="row">
                    <div class="col">
                        <ion-checkbox class="filter-checkbox checkbox-sparup-orange text-small">
                            See only subscribed videos
                        </ion-checkbox>
                    </div>
                </div>
            </ion-item>
            <!--<ion-item class="stable-bg padding-bottom-0 sport-filter">-->
            <!--<div class="row row-no-padding">-->
            <!--<div class="col gray text-small">-->
            <!--SELECT SPORT-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
            <!--<div class="col">-->
            <!--<ion-checkbox class="filter-checkbox checkbox-sparup-orange text-small">Football</ion-checkbox>-->
            <!--</div>-->
            <!--<div class="col">-->
            <!--<ion-checkbox class="filter-checkbox checkbox-sparup-orange text-small">Badminton</ion-checkbox>-->
            <!--</div>-->
            <!--</div>-->
            <!--</ion-item>-->
            <ion-item class="stable-bg">
                <div class="row row-no-padding padding-bottom-20">
                    <div class="col gray text-small">
                        SORT BY
                    </div>
                </div>
                <div class="row filter-sort-row">
                    <div class="col">
                        <div class="row row-no-padding padding-bottom-5 padding-top-5"
                             ng-click="videoLib.sortByFunction('-numberOfViews')">
                            <div class="col text-center">
                                <i class="icon ion-ios-eye text-large"
                                   ng-class="{'sparup-orange':videoLib.deltaSortBy=='-numberOfViews'}"></i>
                            </div>
                        </div>
                        <div class="row row-no-padding" ng-click="videoLib.sortByFunction('-numberOfViews')">
                            <div class="col text-center text-small"
                                 ng-class="{'sparup-orange':videoLib.deltaSortBy=='-numberOfViews'}">
                                Views
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row row-no-padding padding-bottom-5 padding-top-5"
                             ng-click="videoLib.sortByFunction('createdAt')">
                            <div class="col text-center">
                                <i class="icon ion-ios-calendar-outline text-large"
                                   ng-class="{'sparup-orange':videoLib.deltaSortBy=='createdAt'}"></i>
                            </div>
                        </div>
                        <div class="row row-no-padding" ng-click="videoLib.sortByFunction('createdAt')">
                            <div class="col text-center text-small"
                                 ng-class="{'sparup-orange':videoLib.deltaSortBy=='createdAt'}">
                                Posted at
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row row-no-padding padding-bottom-5 padding-top-5"
                             ng-click="videoLib.sortByFunction('-likes')">
                            <div class="col text-center">
                                <i class="icon ion-android-star-outline text-large"
                                   ng-class="{'sparup-orange':videoLib.deltaSortBy=='-likes'}"></i>
                            </div>
                        </div>
                        <div class="row row-no-padding" ng-click="videoLib.sortByFunction('-likes')">
                            <div class="col text-center text-small"
                                 ng-class="{'sparup-orange':videoLib.deltaSortBy=='-likes'}">
                                Most Liked
                            </div>
                        </div>
                    </div>
                </div>

            </ion-item>
            <!--<ion-item class="stable-bg border-bottom-none padding-bottom-5">-->
            <!--<div class="row row-no-padding  ">-->
            <!--<div class="col gray text-small">-->
            <!--FILTER BY-->
            <!--</div>-->
            <!--</div>-->
            <!--</ion-item>-->
            <!--<ion-item class="stable-bg border-top-none padding-top-5">-->
            <!--<div class="row row-center row-no-padding padding-vertical">-->
            <!--<div class="col col-20 gray text-small">Rating</div>-->
            <!--<div class="col col-80">-->
            <!--<div class="row row-no-padding">-->
            <!--<div class="col text-center text-x-large" ng-click="videoLib.selectRating(1)">-->
            <!--<i class="icon sparup-orange ion-ios-star" ></i>-->
            <!--</div>-->
            <!--<div class="col text-center text-x-large" ng-click="videoLib.selectRating(2)">-->
            <!--<i class="icon sparup-orange"-->
            <!--ng-class="{'ion-ios-star':videoLib.selectedRating>=2,'ion-ios-star-outline':videoLib.selectedRating<2}"></i>-->
            <!--</div>-->
            <!--<div class="col text-center text-x-large" ng-click="videoLib.selectRating(3)">-->
            <!--<i class="icon sparup-orange"-->
            <!--ng-class="{'ion-ios-star':videoLib.selectedRating>=3,'ion-ios-star-outline':videoLib.selectedRating<3}"></i>-->
            <!--</div>-->
            <!--<div class="col text-center text-x-large" ng-click="videoLib.selectRating(4)">-->
            <!--<i class="icon sparup-orange"-->
            <!--ng-class="{'ion-ios-star':videoLib.selectedRating>=4,'ion-ios-star-outline':videoLib.selectedRating<4}"></i>-->
            <!--</div>-->
            <!--<div class="col text-center text-x-large" ng-click="videoLib.selectRating(5)">-->
            <!--<i class="icon sparup-orange"-->
            <!--ng-class="{'ion-ios-star':videoLib.selectedRating==5,'ion-ios-star-outline':videoLib.selectedRating<5}"></i>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="row row-no-padding">-->
            <!--<div ng-if="videoLib.selectedRating<5"-->
            <!--class="col col-offset-20 text-center text-small">Show rating {{videoLib.selectedRating}} and above</div>-->
            <!--<div ng-if="videoLib.selectedRating==5"-->
            <!--class="col col-offset-20 text-center text-small">Show rating {{videoLib.selectedRating}} only</div>-->
            <!--</div>-->
            <!--</ion-item>-->
            <ion-item class="stable-bg padding-bottom-0" ng-if="videoLib.status!=3">
                <div class="row row-no-padding">
                    <div class="col gray text-small">
                        SEE VIDEOS FROM
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <ion-checkbox class="filter-checkbox checkbox-sparup-orange text-small">Coaches</ion-checkbox>
                    </div>
                    <div class="col">
                        <ion-checkbox class="filter-checkbox checkbox-sparup-orange text-small">Players</ion-checkbox>
                    </div>
                </div>
            </ion-item>
            <ion-item class="stable-bg padding-0">
                <ion-toggle class="filter-toggle" toggle-class="toggle-sparup-orange" ng-model="videoLib.deltaShowPaid">
                    SHOW PAID VIDEOS
                </ion-toggle>
            </ion-item>

            <ion-item class="stable-bg">
                <tags-name ng-if="showTagsDirective" tags-level-1="videoLib.deltaAppliedFilter.tagsLevel1" tags-level-2="videoLib.deltaAppliedFilter.tagsLevel2"
                           tags-level-3="videoLib.deltaAppliedFilter.tagsLevel3" page-type="addTagsPage"></tags-name>
                <div class="row">
                    <div class="col text-center bold sparup-orange text-large">
                        <span tags-modal
                              delta-selected-tags="videoLib.deltaFilterTags"
                              delta-selected-tags-ids="videoLib.deltaFilterTagsIds"
                              item-info="videoLib.deltaAppliedFilter"
                              show-level2-div="videoLib.showFilterLevel2Div"
                              show-level3-div="videoLib.showFilterLevel3Div">Select Tags for Video
                            </span>
                    </div>
                </div>

            </ion-item>

        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-sparup-orange">
        <button class="button button-block button-clear margin-0" ng-click="videoLib.applyFilter()">Apply</button>
    </ion-footer-bar>
</ion-modal-view>
