<ion-view view-title="Videos" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-navicon" ng-click="showLeftMenu()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button ng-disabled="!sportSelected" class="button button-icon icon ion-levels"
                ng-click="videoLib.showFilters()">
        </button>
    </ion-nav-buttons>

    <div class="bar bar-light has-header tabs-shadow z-10" align-title="left">
        <div class="row row-center row-no-padding">
            <div class="col text-center inpage-tab"
                 ng-class="{'selected-sub-tab':videoLib.status==1||videoLib.status==0}"
                 ng-click="videoLib.changePrevStatus(1);videoLib.hideUpload()">
                General
            </div>
            <div class="col text-center inpage-tab" ng-class="{'selected-sub-tab':videoLib.status==2}"
                 ng-click="videoLib.changePrevStatus(2);videoLib.hideUpload();">
                Subscribed
            </div>
            <div class="col text-center inpage-tab" ng-class="{'selected-sub-tab':videoLib.status==3}"
                 ng-click="videoLib.changePrevStatus(3);videoLib.showUpload()">
                Uploaded
            </div>
        </div>
    </div>
    <ion-header-bar
            class="bar-subheader bar-subsubheader bar-stable border-bottom-sparup-orange item-input-inset
            has-subheader overflow-vis relative padding-0"
            align-title="left"
            ng-if="sportSelected">
        <div class="row row-center row-no-padding z-50 bar-sportname-row stable-bg">
            <div class="col-mod padding-left-10 animate-maxwidth full-maxwidth bar-sportname"
                 ng-class="{'zero-maxwidth':videoLib.searchOpen,'sportname-vanish':videoLib.searchOpenLate}"
                 ng-click="videoLib.dropMenu()">
                <span class=" bold " ng-click="videoLib.dropMenu()">
                    {{sportSelected.sportName|capitalize}}</span>
                <i class="icon ion-chevron-down light"></i>
            </div>

            <label class="item-input-wrapper bar-search-box" ng-class="{'round-left-corners':videoLib.searchOpenLate}">
                <input ng-disabled="videoLib.backdrop"
                       type="search" placeholder="Search for video titles" class="padding-0"
                       ng-focus="videoLib.showSearch()"
                       ng-blur="videoLib.hideSearch()" ng-model="videoLib.searchTitle">
            </label>
            <i class="icon ion-ios-close placeholder-icon text-18 placeholder-icon-clickable"
               ng-if="videoLib.searchOpenLate" ng-click="videoLib.searchTitle=''"></i>

            <div class="col-mod text-right">
                <button class="button button-icon icon  dark padding-right-0"
                        ng-disabled="!videoLib.searchTitle"
                        ng-click="videoLib.search(videoLib.searchTitle)"
                        ng-class="{'ion-ios-search':videoLib.searchResults.length==0,'ion-android-close':videoLib.searchResults.length!=0}"></button>
            </div>
        </div>
        <div class="sports-dropdown">
            <ion-list class="z-49 slider-element fast-animated" ng-if="videoLib.menuDropped"
                      ng-class="{'slideInDown_videoLib':videoLib.backdrop,'slideOutUp_videoLib':!videoLib.backdrop}">
                <ion-item class="item-input-inset dropmenu-content width-60 margin-left-10"
                          ng-repeat="sport in videoLib.mySports"
                          ng-click="videoLib.selectSport(sport);">
                    <span>{{sport.sportName|capitalize}} </span>
                </ion-item>
            </ion-list>

            <div class="slider-element dark-translucent-bg z-48" ng-style="videoLib.general"
                 ng-if="videoLib.menuDropped"
                 ng-click="videoLib.hideMenu()">

            </div>
        </div>
        <!--<label class="item-input-wrapper" ng-if="videoLib.searchOpenLate">-->
        <!--<i class="icon ion-ios-search placeholder-icon"></i>-->
        <!--<input type="search" placeholder="Search">-->
        <!--</label>-->
        <!--<button class="button button-icon icon ion-ios-search margin-right-30" ng-if="videoLib.searchOpen">-->
        <!--</button>-->
        <!--<button class="button button-icon icon ion-android-close" ng-if="videoLib.searchOpen" ng-click="videoLib.hideSearch()">-->
        <!--</button>-->
    </ion-header-bar>
    <ion-content class="has-header has-subheader has-tabs stable-bg" ng-class="{'has-subsubheader':sportSelected}">
        <div id="general" class="z-10 slider-element stable-bg" ng-style="videoLib.general"
             ng-show="videoLib.showDivision==1||videoLib.showDivision==0"
             ng-class="{
                 'z-11':videoLib.status==1 && videoLib.prevStatus==1,
                 'z-11 slideInFromLeft':videoLib.status==1 && videoLib.prevStatus==2,
                 'slideInFromLeft z-11':videoLib.status==1 && videoLib.prevStatus==3,
                 'z-10 slideOutToLeft':videoLib.status==2 && videoLib.prevStatus==1,
                 'slideOutToLeft z-10':videoLib.status==3 && videoLib.prevStatus==1}">
            <div ng-if="!sportSelected" ng-style="videoLib.placeholder">
                <div class="row">
                    <div class="col gray bold text-x-large text-center">
                        Select a sport
                    </div>
                </div>
                <div class="grid">
                    <div class="row row-mod">
                        <div class="col col-33 col-mod" ng-repeat="sport in videoLib.mySports">
                            <img ng-src="{{backend}}/sportImages/{{sport.image}}" class="full-image sport-image"
                                 ng-click="videoLib.selectSport(sport)">
                            <h5 class="text-center margin-0 gray">{{sport.sportName|capitalize}}</h5>
                        </div>
                    </div>

                </div>
            </div>
            <div ng-if="sportSelected && videoLib.fetchedVideoList.length==0" ng-style="videoLib.placeholder">
                <div class="row">
                    <div class="col gray text-center">
                        There are currently no videos in this sport.
                    </div>
                </div>
                <div class="row">
                    <div class="col gray bold text-x-large text-center" ng-click="videoLib.browseAllVideos()">
                        Check back later
                    </div>
                </div>
            </div>
            <ion-list ng-if="sportSelected">
                <ion-item class="item-thumbnail-left parent" ng-if="videoLib.searchResults.length==0"
                          ng-click="videoLib.playVideo(video)"

                          ng-repeat="video in videoLib.fetchedVideoList|
                          filterDataBySportId:sportSelected._id|
                          orderBy:videoLib.sortBy|
                          filterPaidVideos:videoLib.showPaid|
                          filterVideoByLevel1Tags:videoLib.appliedFilter.tagsLevel1|
                          filterVideoByLevel2Tags:videoLib.appliedFilter.tagsLevel2|
                          filterVideoByLevel3Tags:videoLib.appliedFilter.tagsLevel3">
                    <!--|searchVideo:videoLib.searchThisVideo-->
                    <img ng-src="{{video.thumbnail}}">

                    <h2>{{video.title}}</h2>

                    <p class="ellipsis">{{video.description}}</p>

                    <div class="row row-center row-no-padding video-duration">
                        <div class="col gray text-small">
                            <div class="row row-center row-no-padding">
                                <div class="col padding-right-5">
                                    <i class="icon ion-eye text-large padding-right-5 valign-middle"></i>
                                    {{video.numberOfViews}}
                                </div>
                                <div class="col ">
                                    <i class="icon ion-heart text-large padding-right-5 valign-middle"
                                       ng-class="{'sparup-orange':(video._id|likeVideoFilter)}"></i>
                                    {{video.likes}}
                                </div>
                            </div>
                        </div>
                        <div class="col col-33 text-right gray text-small">
                            {{video.duration|secondsToHMS}}
                        </div>
                    </div>
                </ion-item>
                <ion-item class="item-thumbnail-left parent" ng-if="videoLib.searchResults.length!=0"
                          ng-click="videoLib.playVideo(video)"
                          ng-repeat="video in videoLib.searchResults|
                          orderBy:videoLib.sortBy|
                          filterPaidVideos:videoLib.showPaid|
                          filterVideoByLevel1Tags:videoLib.appliedFilter.tagsLevel1|
                          filterVideoByLevel2Tags:videoLib.appliedFilter.tagsLevel2|
                          filterVideoByLevel3Tags:videoLib.appliedFilter.tagsLevel3">
                    <!--|searchVideo:videoLib.searchThisVideo-->
                    <img ng-src="{{video.thumbnail}}">

                    <h2>{{video.title}}</h2>

                    <p class="ellipsis">{{video.description}}</p>

                    <div class="row row-center row-no-padding video-duration">
                        <div class="col gray text-small">
                            <div class="row row-center row-no-padding">
                                <div class="col padding-right-5">
                                    <i class="icon ion-eye text-large padding-right-5 valign-middle"></i>
                                    {{video.numberOfViews}}
                                </div>
                                <div class="col ">
                                    <i class="icon ion-heart text-large padding-right-5 valign-middle"
                                       ng-class="{'sparup-orange':(video._id|likeVideoFilter)}"></i>
                                    {{video.likes}}
                                </div>
                            </div>
                        </div>
                        <div class="col col-33 text-right gray text-small">
                            {{video.duration|secondsToHMS}}
                        </div>
                    </div>
                </ion-item>

            </ion-list>
        </div>


        <div id="subscribed" class="z-9 slider-element stable-bg" ng-style="videoLib.subscribed"
             ng-show="videoLib.showDivision==2||videoLib.showDivision==0"
             ng-class="{
                 'z-11':videoLib.status==2 && videoLib.prevStatus==2,
                 'z-10 slideOutToRight':videoLib.status==1 && videoLib.prevStatus==2,
                 'z-11 slideInFromRight':videoLib.status==2 && videoLib.prevStatus==1,
                 'z-11 slideInFromLeft':videoLib.status==2 && videoLib.prevStatus==3,
                 'z-10 slideOutToLeft':videoLib.status==3 && videoLib.prevStatus==2}">

            <div ng-if="!sportSelected" ng-style="videoLib.placeholder">
                <div class="row">
                    <div class="col gray bold text-x-large text-center">
                        Select a sport
                    </div>
                </div>
                <div class="grid">

                    <div class="row row-mod">
                        <div class="col col-33 col-mod" ng-repeat="sport in videoLib.mySports">
                            <img ng-src="{{backend}}/sportImages/{{sport.image}}" class="full-image sport-image"
                                 ng-click="videoLib.selectSport(sport)">
                            <h5 class="text-center margin-0 gray">{{sport.sportName|capitalize}}</h5>
                        </div>
                    </div>


                </div>
            </div>
            <div ng-if="sportSelected && videoLib.subscribedVideoPackage.length==0 && videoLib.subscribedVideoList.length==0"
                 ng-style="videoLib.placeholder">
                <div class="row">
                    <div class="col gray text-center">
                        You have no subscribed videos
                    </div>
                </div>
                <div class="row">
                    <div class="col sparup-orange bold text-x-large text-center"
                         ng-click="videoLib.changePrevStatus(1)">
                        Browse all videos
                    </div>
                </div>
            </div>
            <ion-list
                    ng-if="sportSelected && (videoLib.subscribedVideoPackage.length!=0||videoLib.subscribedVideoList.length!=0) && videoLib.loadMoreViews">
                <!--<ion-item class="item-thumbnail-left parent" ng-click="videoLib.playVideo(video)"-->
                <!--ng-repeat="video in videoLib.fetchedVideoList|subscribedVideoFilter|filterDataBySportId:sportSelected._id|orderBy:videoLib.sortBy">-->

                <ion-item class="item-thumbnail-left parent" ng-if="videoLib.searchResults.length==0"
                          ng-repeat="package in videoLib.subscribedVideoPackage" ng-init="expandPackage=false"
                          ng-click='expandPackage=!expandPackage'>
                    <img ng-src="{{video.thumbnail}}">

                    <h2>Package by:{{package.packageBy}}</h2>

                    <p>{{package.package.length}} videos</p>

                    <ion-item ng-if="expandPackage" class="item-thumbnail-left-small parent"
                              ng-click="videoLib.playVideo(video)"
                              ng-repeat="video in package.package|filterDataBySportId:sportSelected._id|orderBy:videoLib.sortBy|filterPaidVideos:videoLib.showPaid">
                        <img ng-src="{{video.thumbnail}}">

                        <h2 class="text-small">{{video.title}}</h2>

                        <p class="ellipsis text-small">{{video.description}}</p>

                        <div class="row row-center row-no-padding ">
                            <div class="col gray text-small">
                                <div class="row row-center row-no-padding">
                                    <div class="col padding-right-5">
                                        <i class="icon ion-eye text-large padding-right-5 valign-middle"></i>
                                        {{video.numberOfViews}}
                                    </div>
                                    <div class="col ">
                                        <i class="icon ion-heart text-large padding-right-5 valign-middle"
                                           ng-class="{'sparup-orange':(video._id|likeVideoFilter)}"></i>
                                        {{video.likes}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ion-item>
                </ion-item>
                <ion-item class="item-thumbnail-left parent" ng-if="videoLib.searchResults.length==0"
                          ng-click="videoLib.playVideo(video)"
                          ng-repeat="video in videoLib.subscribedVideoList|
                          filterDataBySportId:sportSelected._id|
                          orderBy:videoLib.sortBy|
                          filterVideoByLevel1Tags:videoLib.appliedFilter.tagsLevel1|
                          filterVideoByLevel2Tags:videoLib.appliedFilter.tagsLevel2|
                          filterVideoByLevel3Tags:videoLib.appliedFilter.tagsLevel3|
                          searchVideo:videoLib.searchThisVideo">
                    <img ng-src="{{video.thumbnail}}">

                    <h2>{{video.title}}</h2>

                    <p class="ellipsis">{{video.description}}</p>

                    <div class="row row-center row-no-padding video-duration">
                        <div class="col gray text-small">
                            <div class="row row-center row-no-padding">
                                <div class="col padding-right-5">
                                    <i class="icon ion-eye text-large padding-right-5 valign-middle"></i>
                                    {{video.numberOfViews}}
                                </div>
                                <div class="col ">
                                    <i class="icon ion-heart text-large padding-right-5 valign-middle"
                                       ng-class="{'sparup-orange':(video._id|likeVideoFilter)}"></i>
                                    {{video.likes}}
                                </div>
                            </div>
                        </div>
                        <div class="col col-33 text-right gray text-small">
                            {{video.duration|secondsToHMS}}
                        </div>
                    </div>
                </ion-item>
                <ion-item class="item-thumbnail-left parent" ng-if="videoLib.searchResults.length!=0"
                          ng-repeat="video in videoLib.searchResults|orderBy:videoLib.sortBy|
                          filterVideoByLevel1Tags:videoLib.appliedFilter.tagsLevel1|
                          filterVideoByLevel2Tags:videoLib.appliedFilter.tagsLevel2|
                          filterVideoByLevel3Tags:videoLib.appliedFilter.tagsLevel3">
                    <img ng-src="{{video.thumbnail}}" ng-click="videoLib.playVideo(video)">

                    <h2>
                        <span>{{video.title|capitalize}}</span>
                        <span style="float: right" ng-click="videoLib.selectCoachForReview(video)"><i
                                class="icon ion-android-share "></i></span>
                    </h2>

                    <p class="ellipsis" ng-click="videoLib.playVideo(video)">{{video.description|capitalize}}</p>

                    <div class="row row-center row-no-padding video-duration" ng-click="videoLib.playVideo(video)">
                        <div class="col gray text-small">
                            <div class="row row-center row-no-padding">
                                <div class="col padding-right-5">
                                    <i class="icon ion-eye text-large padding-right-5 valign-middle"
                                       ng-class="{'sparup-orange':!(video._id|viewVideoFilter)}"></i>
                                    {{video.numberOfViews}}
                                </div>
                                <!--<div class="col" ng-if="!(video._id|likeVideoFilter)">-->
                                <!--<i class="icon ion-heart text-large padding-right-5 valign-middle"></i>-->
                                <!--{{video.likes}}-->
                                <!--</div>-->

                                <div class="col">
                                    <i class="icon ion-heart text-large padding-right-5 valign-middle"
                                       ng-class="{'sparup-orange':(video._id|likeVideoFilter)}"></i>
                                    {{video.likes}}
                                </div>
                            </div>
                        </div>
                        <div class="col col-33 text-right gray text-small" ng-click="videoLib.playVideo(video)">
                            {{video.duration|secondsToHMS}}
                        </div>
                    </div>
                </ion-item>

            </ion-list>
        </div>


        <div id="uploaded" class="z-9 slider-element stable-bg" ng-style="videoLib.uploaded"
             ng-show="videoLib.showDivision==3||videoLib.showDivision==0"
             ng-class="{
                 'z-11':videoLib.status==3 && videoLib.prevStatus==3,
                 'z-9':videoLib.status==2 && videoLib.prevStatus==1,
                 'z-10 slideOutToRight':videoLib.status==1 && videoLib.prevStatus==3,
                 'slideOutToRight z-10':videoLib.status==2 && videoLib.prevStatus==3,
                 'z-11 slideInFromRight':videoLib.status==3 && videoLib.prevStatus==1,
                 'slideInFromRight z-11':videoLib.status==3 && videoLib.prevStatus==2}">

            <div ng-if="!sportSelected" ng-style="videoLib.placeholder">
                <div class="row">
                    <div class="col gray bold text-x-large text-center">
                        Select a sport
                    </div>
                </div>
                <div class="grid">
                    <div class="row row-mod">
                        <div class="col col-33 col-mod" ng-repeat="sport in videoLib.mySports">
                            <img ng-src="{{backend}}/sportImages/{{sport.image}}" class="full-image sport-image"
                                 ng-click="videoLib.selectSport(sport)">
                            <h5 class="text-center margin-0 gray">{{sport.sportName|capitalize}}</h5>
                        </div>
                    </div>


                </div>
            </div>
            <div ng-if="sportSelected && videoLib.playerUploadedVideos.videosList==0" ng-style="videoLib.placeholder">
                <div class="row">
                    <div class="col gray text-center">
                        You have not uploaded any videos
                    </div>
                </div>
                <div class="row">
                    <div class="col sparup-orange bold text-x-large text-center" ng-click="videoLib.uploadVideo()">
                        Upload a video
                    </div>
                </div>
            </div>
            <ion-list ng-if="sportSelected && videoLib.playerUploadedVideos.videosList!=0 && videoLib.loadMoreViews">
                <ion-item class="item-thumbnail-left parent" ng-if="videoLib.searchResults.length==0"
                          ng-repeat="video in videoLib.playerUploadedVideos.videosList|filterDataBySportId:sportSelected._id|orderBy:videoLib.sortBy|
                          filterVideoByLevel1Tags:videoLib.appliedFilter.tagsLevel1|
                          filterVideoByLevel2Tags:videoLib.appliedFilter.tagsLevel2|
                          filterVideoByLevel3Tags:videoLib.appliedFilter.tagsLevel3">
                    <img ng-src="{{video.thumbnail}}" ng-click="videoLib.playVideo(video)">
                    <h2>
                        <span>{{video.title|capitalize}}</span>
                        <span style="float: right" ng-click="videoLib.selectCoachForReview(video)"
                              ng-if="!video.review || video.review.length<2"><i
                                class="icon ion-android-share text-large"></i></span>
                    </h2>

                    <p class="ellipsis" ng-click="videoLib.playVideo(video)">{{video.description|capitalize}}</p>


                    <div class="col text-right gray text-small">

                        <span class="sparup-orange" ng-if="video.reviewStatus==2">2 Review Pending</span>
                        <span class="sparup-orange" ng-if="video.reviewStatus==1">1 Review Pending</span>
                        <span class="sparup-orange" ng-if="video.reviewStatus==0">Reviewed</span>
                    </div>

                    <div class="row row-center row-no-padding video-duration" ng-click="videoLib.playVideo(video)">
                        <div class="col gray text-small">
                            <div class="row row-center row-no-padding">
                                <div class="col padding-right-5">
                                    <i class="icon ion-eye text-large padding-right-5 valign-middle"
                                       ng-class="{'sparup-orange':!(video._id|viewVideoFilter)}"></i>
                                    {{video.numberOfViews}}
                                </div>
                                <!--<div class="col" ng-if="!(video._id|likeVideoFilter)">-->
                                <!--<i class="icon ion-heart text-large padding-right-5 valign-middle"></i>-->
                                <!--{{video.likes}}-->
                                <!--</div>-->

                                <div class="col">
                                    <i class="icon ion-heart text-large padding-right-5 valign-middle"
                                       ng-class="{'sparup-orange':(video._id|likeVideoFilter)}"></i>
                                    {{video.likes}}
                                </div>
                            </div>
                        </div>
                        <div class="col col-33 text-right gray text-small" ng-click="videoLib.playVideo(video)">
                            {{video.duration|secondsToHMS}}
                        </div>
                    </div>
                </ion-item>
                <ion-item class="item-thumbnail-left parent" ng-if="videoLib.searchResults.length!=0"
                          ng-repeat="video in videoLib.searchResults|orderBy:videoLib.sortBy|filterVideoByTags:videoLib.tagsFilter">
                    <img ng-src="{{video.thumbnail}}" ng-click="videoLib.playVideo(video)">

                    <h2>
                        <span>{{video.title|capitalize}}</span>
                        <span style="float: right" ng-click="videoLib.selectCoachForReview()"><i
                                class="icon ion-android-share text-large"></i></span>
                    </h2>

                    <p class="ellipsis" ng-click="videoLib.playVideo(video)">{{video.description|capitalize}}</p>


                    <div class="row row-center row-no-padding video-duration" ng-click="videoLib.playVideo(video)">
                        <div class="col gray text-small">
                            <div class="row row-center row-no-padding">
                                <div class="col padding-right-5">
                                    <i class="icon ion-eye text-large padding-right-5 valign-middle"
                                       ng-class="{'sparup-orange':!(video._id|viewVideoFilter)}"></i>
                                    {{video.numberOfViews}}
                                </div>
                                <!--<div class="col" ng-if="!(video._id|likeVideoFilter)">-->
                                <!--<i class="icon ion-heart text-large padding-right-5 valign-middle"></i>-->
                                <!--{{video.likes}}-->
                                <!--</div>-->

                                <div class="col">
                                    <i class="icon ion-heart text-large padding-right-5 valign-middle"
                                       ng-class="{'sparup-orange':(video._id|likeVideoFilter)}"></i>
                                    {{video.likes}}
                                </div>
                            </div>
                        </div>
                        <div class="col col-33 text-right gray text-small" ng-click="videoLib.playVideo(video)">
                            {{video.duration|secondsToHMS}}
                        </div>
                    </div>
                </ion-item>

            </ion-list>
        </div>
    </ion-content>
    <div class="hidden fast-animated floatButton button button-icon button-sparup-orange icon ion-android-upload valign-child"
         ng-class="{'visible zoomIn':videoLib.showUploadButton}" ng-click="videoLib.uploadVideo()">
    </div>
    <div ng-if="videoLib.showSpinner" class="absolute z-50" ng-style="videoLib.fullDim">
        <ion-spinner icon="ios" class="spinner-assertive absolute screenCenter "></ion-spinner>
    </div>
</ion-view>
