<ion-modal-view>
    <ion-header-bar class=" gray-bg border-bottom-gray" align-title="center">
        <h1 class="title">{{coachTrainingDetail.activityDetailInModal.activityName}}</h1>
        <div class="buttons">
            <button class="button button-icon icon ion-android-close "
                    ng-click="coachTrainingDetail.hideActivityDetailModal()"></button>
        </div>
    </ion-header-bar>

    <ion-content class="has-header  stable-bg">
        <div class="row row-no-padding border-bottom-gray" ng-if="!coachTrainingDetail.isYoutubeVideo">
            <div id="videoPlayerdiv"></div>
        </div>
        <div class="row row-no-padding" ng-if="coachTrainingDetail.isYoutubeVideo">
            <div class="col video-frame">
                <iframe ng-style="coachTrainingDetail.videoFrame" ng-src="{{coachTrainingDetail.trustedLink}}"
                        frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="search-list list card margin-bottom-0 margin-top-10">
            <div class="padding">


                <div class="row row-no-padding padding-bottom-10 padding-horizontal">
                    <div class="col text-center text-large sparup-orange ">
                        {{coachTrainingDetail.activityDetailInModal.round}} {{coachTrainingDetail.activityDetailInModal.unit1}}
                    </div>
                </div>
                <div class="row row-no-padding padding-bottom-10 padding-horizontal">
                    <div class="col">
                        {{coachTrainingDetail.activityDetailInModal.description}}

                    </div>
                </div>


                <!--<div class="row row-no-padding border-bottom-gray" ng-if="!coachTrainingDetail.isYoutubeVideo ">-->
                <!--<div id="videoPlayerdiv" ng-if="coachTrainingDetail.activityDetailInModal.videoId"></div>-->
                <!--</div>-->
                <!--<div class="row row-no-padding"-->
                <!--ng-if="coachTrainingDetail.isYoutubeVideo && coachTrainingDetail.activityDetailInModal.videoId">-->
                <!--<div class="col video-frame" ng-if="coachTrainingDetail.activityDetailInModal.videoId">-->
                <!--<iframe ng-style="coachTrainingDetail.videoFrame" ng-src="{{coachTrainingDetail.trustedLink}}"-->
                <!--frameborder="0" allowfullscreen></iframe>-->
                <!--</div>-->
                <!--</div>-->

            </div>
        </div>


    </ion-content>
</ion-modal-view>
