<div class="row row-no-padding padding-horizontal-20">
  <div class="col">
    <div class="list list-inset margin-0 transparent-bg">
      <label class="item item-input video-detail-label padding-right-0 padding-left-0">
        <input class=" padding-right-0" type="text" placeholder="PACKAGE NAME" ng-model="packageInfo.packageName">
      </label>
    </div>
  </div>
</div>

<div class="row row-no-padding padding-horizontal-20">
  <div class="col">
    <div class="list list-inset margin-0 transparent-bg">
      <label class="item item-input video-detail-label padding-right-0 padding-left-0">
        <input class=" padding-right-0" type="tel" placeholder="PACKAGE COST" ng-model="packageInfo.cost">
      </label>
    </div>
  </div>
</div>


<div class="row padding-top-15 padding-left-20">
  <div class="col gray bold ">
    Tags
  </div>
</div>


<button class="button button-small-rounded button-assertive" tags-modal
        delta-selected-tags="videoLib.deltaSelectedTags"
        delta-selected-tags-ids="videoLib.deltaSelectedTagsIds"
        item-info="packageInfo"
        show-level2-div="showLevel2Div"
        show-level3-div="showLevel3Div" ng-click="packageAlertPopup.close()">
  APPLY TAGS TO VIDEO
</button>
<!--<div class="row padding-left-20">-->
  <!--<div class="col" ng-class="{'sparup-orange':tag.selected}" ng-repeat="tag in packageInfo.tags" ng-if="$index<2" ng-click="addTag(tag)">-->
    <!--{{tag.tagName}}-->
  <!--</div>-->
<!--</div>-->

<!--<div class="row padding-left-20">-->
  <!--<div class="col" ng-class="{'sparup-orange':tag.selected}" ng-repeat="tag in packageInfo.tags" ng-if="$index>=2 && $index<4" ng-click="addTag(tag)">-->
    <!--{{tag.tagName}}-->
  <!--</div>-->
<!--</div>-->

<!--<div class="row padding-left-20">-->
  <!--<div class="col" ng-class="{'sparup-orange':tag.selected}" ng-repeat="tag in packageInfo.tags"  ng-if="$index>=4 && $index<6" ng-click="addTag(tag)">-->
    <!--{{tag.tagName}}-->
  <!--</div>-->
<!--</div>-->


<div class="row margin-0">
  <div class="col">
    <ion-checkbox class="item-borderless checkbox-sparup text-normal" ng-model="packageInfo.paid" >Paid package</ion-checkbox>
  </div>
</div>
<div class="row row-no-padding div-centered-60 padding-top-10">
  <div class="col text-center">
    <button class="button button-block button-small button-sparup-orange button-small-rounded" ng-click="addPackage()">Add</button>
  </div>
</div>
