<div class="row row-no-padding padding-horizontal">
  <div class="col">
    <div class="list list-inset margin-0 transparent-bg">
      <label class="item item-input video-detail-label">
        <input type="text" placeholder="CLUB NAME">
      </label>
    </div>
  </div>
</div>
<div class="row row-no-padding padding-horizontal">
  <div class="col">
    <div class="list list-inset margin-0 transparent-bg">
      <label class="item item-input video-detail-label">
        <input type="text" placeholder="LOCATION">
      </label>
    </div>
  </div>
</div>
<div class="row row-no-padding padding-horizontal">
  <div class="col col-50 margin-right-5">
    <div class="list list-inset margin-0 transparent-bg">
      <label class="item item-input video-detail-label">
        <input type="text" placeholder="FROM">
      </label>
    </div>
  </div>
  <div class="col col-50 margin-right-5">
    <div class="list list-inset margin-0 transparent-bg">
      <label class="item item-input video-detail-label">
        <input type="text" placeholder="TO">
      </label>
    </div>
  </div>
</div>
<div class="row row-no-padding div-centered-60 padding-top-10">
  <div class="col text-center">
    <button class="button button-block button-small button-sparup-orange button-small-rounded">Add</button>
  </div>
</div>