<ion-modal-view>
    <!--<ion-header-bar class="bar-stable" align-title="center">-->

    <!--<h1 class="title dark"></h1>-->
    <!---->
    <!--</ion-header-bar>-->

    <ion-header-bar class=" bar-stable bar-addActivity">
        <div class="row row-no-padding">
            <div class="col">
                <div class="row">
                    <div class="col text-large text-center dark">
                        Week {{coachTrainingDetail.week+1}} |

                        <span>{{(coachTrainingDetail.activityIndex+1)+(coachTrainingDetail.week*7)}} Day</span>
                    </div>

                </div>
                <div class="row row-no-padding padding-bottom-10 padding-horizontal">
                    <div class="col text-center">
                        {{coachTrainingDetail.trainingPlanDetails.trainingName}}
                    </div>
                </div>
            </div>
        </div>
        <div class="special-header-button-right">
            <button class="button button-icon icon ion-android-close sparup-orange"
                    ng-click="coachTrainingDetail.hideAddActivityModal()"></button>
        </div>
    </ion-header-bar>
    <ion-content class=" has-header has-bar-addActivity gray-bg">

        <ion-list>
            <ion-item>
                <div class="list list-inset margin-0 transparent-bg">
                    <label class="item item-input video-detail-label">
                        <input type="text" placeholder="Activity Name"
                               ng-model="coachTrainingDetail.activityDetailInModal.activityName">
                    </label>
                </div>
                <div class="row row-center" ng-if="coachTrainingDetail.activityNameError">
                    <div class="col errors text-small">
                        Activity Name is required
                    </div>
                </div>
                <div class="list list-inset margin-0 transparent-bg">
                    <label class="item item-input video-detail-label">
                        <input type="text" placeholder="Activity Description"
                               ng-model="coachTrainingDetail.activityDetailInModal.description">
                    </label>
                </div>
                <div class="row row-center" ng-if="coachTrainingDetail.activityDescriptionError">
                    <div class="col errors text-small">
                        Activity Description is required
                    </div>
                </div>
                <div class="list list-inset margin-0 transparent-bg">
                    <div class="row row-no-padding">

                        <div class="col col-50 margin-right-10">
                            <label class="item item-input video-detail-label">
                                <input type="tel" placeholder="Number" class="padding-right-0"
                                       ng-model="coachTrainingDetail.activityDetailInModal.round">
                            </label>
                        </div>
                        <div class="col col-50">
                            <label class="item item-input item-select video-detail-label" style="height: 45px">
                                <select class="unit-select" ng-options="unit for unit in coachTrainingDetail.unit1"
                                        ng-model="coachTrainingDetail.activityDetailInModal.unit1">
                                </select>
                            </label>
                        </div>
                        <!--<div class="col col-33">-->
                            <!--<label class="item item-input item-select video-detail-label" style="height: 45px">-->

                                <!--<select class="unit-select" ng-options="unit for unit in coachTrainingDetail.unit2"-->
                                        <!--ng-model="coachTrainingDetail.activityDetailInModal.unit2">-->
                                <!--</select>-->
                            <!--</label>-->
                        <!--</div>-->
                        </label>
                    </div>

                </div>

                <img ng-src="{{coachTrainingDetail.activityDetailInModal.thumbnail}}"
                     style="display: block; margin: 10px auto;"
                     ng-if="coachTrainingDetail.activityDetailInModal.thumbnail">
                <div class="row">
                    <div class="col text-center sparup-orange" ng-click="coachTrainingDetail.showSelectVideoModal()">
                        <i class="icon ion-ios-videocam text-medium padding-right-5"></i>
                        Add a video
                    </div>
                </div>
                <button class="button button-block button-sparup-orange margin-0"
                        ng-click="coachTrainingDetail.addActivity()">Add Activity
                </button>
            </ion-item>
        </ion-list>


        <ion-list class="activity-list">
            <ion-item ng-repeat="activity in coachTrainingDetail.activityListInModal"
                      ng-click="coachTrainingDetail.showActivityDetailModal(activity)">
                <div class="list list-inset margin-0 transparent-bg">


                    <div class="row row-no-padding padding-bottom-10 padding-horizontal">
                        <div class="col text-large">
                            {{activity.activityName}}
                        </div>
                        <!--<div class="col text-small">-->
                        <!--{{activity.description}}-->
                        <!--</div>-->
                    </div>

                    <!--<div class="row row-no-padding padding-bottom-10 padding-horizontal">-->
                    <!--<div class="col text-small">-->
                    <!--{{activity.round}}-->
                    <!--{{activity.unit1}}-->
                    <!--{{activity.unit2}}-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--<div class="row row-no-padding padding-bottom-10 padding-horizontal" ng-if="activity.thumbnail">-->
                    <!--<div class="col">-->
                    <!--<img ng-src="{{activity.thumbnail}}">-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--<img ng-src="{{activity.videoId.thumbnail}}"-->
                    <!--ng-if="activity.videoId.thumbnail">-->
                </div>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>
