<ion-modal-view>
    <ion-header-bar class="bar-stable z-50" align-title="center">

        <h1 class="title dark">Add Package</h1>
        <div class="buttons">
            <button class="button button-icon icon ion-android-close sparup-orange"
                    ng-click="videoLib.hideAddPackageModal()"></button>
        </div>
    </ion-header-bar>

    <ion-header-bar
            class="bar-subheader  bar-stable border-bottom-lightgray
            overflow-vis relative padding-0"
            align-title="left"
            ng-if="sportSelected">
        <div class="row row-center row-no-padding z-50 bar-sportname-row stable-bg">
            <div class="col-mod padding-left-10 animate-maxwidth full-maxwidth bar-sportname"
                 ng-class="{'zero-maxwidth':videoLib.searchOpen,'sportname-vanish':videoLib.searchOpenLate}"
                 ng-click="videoLib.dropMenu()">
                <span class=" bold " ng-click="videoLib.dropMenu()">
                   {{sportSelected.sportName|capitalize}}</span>
                <i class="icon ion-chevron-down light"
                ></i>
            </div>
        </div>
        <div class="sports-dropdown">
            <ion-list class="z-49 slider-element fast-animated" ng-if="videoLib.menuDropped"
                      ng-class="{'slideInDown_videoLib':videoLib.backdrop,'slideOutUp_videoLib':!videoLib.backdrop}">
                <ion-item class="item-input-inset dropmenu-content width-60 margin-left-10"
                          ng-repeat="sport in videoLib.mySports"
                          ng-click="videoLib.selectSport(sport);">
                    <span>{{sport.sportName|capitalize}} </span>
                </ion-item>
            </ion-list>

            <div class="slider-element dark-translucent-bg z-48" ng-style="videoLib.general"
                 ng-if="videoLib.menuDropped"
                 ng-click="videoLib.hideMenu()">

            </div>
        </div>
    </ion-header-bar>

    <ion-content class="stable-bg has-header has-subheader has-footer">
        <ion-list>

            <ion-item class="stable-bg">
                <div class="padding-bottom-20" >
                    <div class="list list-inset margin-0 transparent-bg">
                        <label class="item item-input video-detail-label">
                            <input class=" padding-right-0" type="text" placeholder="PACKAGE NAME" ng-model="videoLib.packageInfo.packageName">
                        </label>
                    </div>
                </div>
                <!--<div class="row">-->
                <!--<div class="col text-small gray text-center">-->
                <!--dribble.mp4<br><span class="sparup-orange">change</span>-->
                <!--</div>-->
                <!--</div>-->
                <div class="padding-bottom-20">
                    <div class="list list-inset margin-0 transparent-bg">
                        <label class="item item-input video-detail-label">
                            <input class=" padding-right-0" type="tel" placeholder="PACKAGE COST" ng-model="videoLib.packageInfo.cost">
                        </label>
                    </div>
                </div>
            </ion-item>
            <ion-item class="stable-bg padding-0" ng-if="!videoLib.isPlayer">

                <ion-item class="stable-bg padding-0">

                    <ion-checkbox class="item-borderless checkbox-sparup text-normal" ng-model="videoLib.packageInfo.paid" >Paid package</ion-checkbox>
                </ion-item>
            </ion-item>

            <ion-item class="stable-bg">
                <tags-name ng-if="showTagsDirective" tags-level-1="videoLib.packageInfo.tagsLevel1" tags-level-2="videoLib.packageInfo.tagsLevel2"
                           tags-level-3="videoLib.packageInfo.tagsLevel3" page-type="addTagsPage"></tags-name>

                <div class="row">
                    <div class="col text-center bold sparup-orange text-large">
                        <span tags-modal
                              delta-selected-tags="videoLib.deltaSelectedTags"
                              delta-selected-tags-ids="videoLib.deltaSelectedTagsIds"
                              item-info="videoLib.packageInfo"
                              show-level2-div="showLevel2Div"
                              show-level3-div="showLevel3Div">Select Tags for Video
                            </span>
                    </div>
                </div>
                <!--<button class="button button-small-rounded button-assertive" >-->
                    <!--APPLY TAGS TO VIDEO-->
                <!--</button>-->
                <!--<div class="row row-no-padding padding-bottom-5">-->
                <!--<div class="col text-center item-text-wrap" >-->
                <!--<span class="uploadTags" ng-class="{'tag-selected':tag.selected}"-->
                <!--ng-repeat="tag in videoLib.level1tags" ng-click="videoLib.getLevel2Tags(tag._id)">{{tag.tagLevel1|capitalize}}-->
                <!--</span>-->
                <!--</div>-->
                <!--</div>-->


                <!--<div class="row row-no-padding padding-bottom-5">-->
                <!--<div class="col text-center item-text-wrap" >-->
                <!--<span class="uploadTags" ng-class="{'tag-selected':tag.selected}"-->
                <!--ng-repeat="tag in videoLib.level2tags" ng-click="videoLib.getLevel3Tags(tag._id)">{{tag.tagLevel2|capitalize}}-->
                <!--</span>-->
                <!--</div>-->
                <!--</div>-->

                <!--<div class="row row-no-padding padding-bottom-5">-->
                <!--<div class="col text-center item-text-wrap" >-->
                <!--<span class="uploadTags" ng-class="{'tag-selected':tag.selected}"-->
                <!--ng-repeat="tag in videoLib.level3tags" >{{tag.tagLevel3|capitalize}}-->
                <!--</span>-->
                <!--</div>-->
                <!--</div>-->

            </ion-item>



        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-sparup-orange" >
        <button class="button button-block button-clear margin-0" ng-click="videoLib.uploadPackage()">Upload Package</button>
    </ion-footer-bar>
</ion-modal-view>
