<ion-modal-view>
    <ion-header-bar class="bar-stable border-bottom-lightgray" align-title="center">

        <h1 class="title dark">Add Training Plan</h1>
        <div class="buttons">
            <button class="button button-icon icon ion-android-close sparup-orange"
                    ng-click="coachTraining.hideAddTrainingPlanModal()"></button>
        </div>
    </ion-header-bar>

    <ion-content class=" has-header has-footer">
        <ion-list>

            <div class="list margin-0 list-borderless">
                <label class="item item-input item-select item-borderless ">
                    <div class="input-label gray text-small">
                        SELECT TRAINING PLAN CATEGORY
                    </div>
                    <select ng-options="category.category|capitalize for category in coachTraining.trainingPlanCategoryList"
                            ng-model="coachTraining.trainingPlan.category"
                    ></select>
                </label>
            </div>
            <div class="list margin-0 list-borderless">
                <label class="item item-input item-select item-borderless ">
                    <div class="input-label gray text-small">
                        Select Level
                    </div>
                    <select ng-options="level|capitalize for level in coachTraining.levelList"
                            ng-model="coachTraining.trainingPlan.level"
                    ></select>
                </label>
            </div>

            <div class="list margin-0 list-borderless">
                <label class="item item-input item-select item-borderless ">
                    <div class="input-label gray text-small">
                        Select Sport
                    </div>
                    <select ng-options="sport.sportName|capitalize for sport in coachTraining.mySports"
                            ng-model="coachTraining.trainingPlan.sport">
                    </select>
                </label>
            </div>


            <ion-item class="">
                <div class="padding-bottom-20">
                    <div class="list list-inset margin-0 transparent-bg">
                        <label class="item item-input video-detail-label">
                            <input type="text" placeholder="Training Name"
                                   ng-model="coachTraining.trainingPlan.trainingName">
                        </label>
                    </div>
                </div>
                <div class="row row-center" ng-if="coachTraining.trainingNameError">
                    <div class="col text-center errors">
                        Training Plan Name is required
                    </div>
                </div>


                <div class="padding-bottom-20">
                    <div class="list list-inset margin-0 transparent-bg">
                        <label class="item item-input video-detail-label">
                            <input type="tel" placeholder="ADD Duration(in weeks)"
                                   ng-model="coachTraining.trainingPlan.duration">

                        </label>
                    </div>
                </div>
                <div class="row row-center" ng-if="coachTraining.durationError">
                    <div class="col text-center errors">
                        Duration is required
                    </div>
                </div>

                <div class="row row-center row-no-padding">
                    <div class="col">
                        <div class="list">
                            <div class="item item-input-inset div-center padding-0">
                                <textarea placeholder="ADD DESCRIPTION" class="textarea"
                                          ng-model="coachTraining.trainingPlan.description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-center" ng-if="coachTraining.descriptionError">
                    <div class="col text-center errors">
                        Description is required
                    </div>
                </div>
            </ion-item>

            <ion-item class=" padding-0">

                <ion-item class=" padding-0">
                    <ion-toggle class="filter-toggle" toggle-class="toggle-sparup-orange"
                                ng-model="coachTraining.trainingPlan.paid"> MAKE PLAN PAID
                    </ion-toggle>
                </ion-item>
            </ion-item>


            <ion-item ng-if="coachTraining.trainingPlan.paid">
                <div class="padding-bottom-20">
                    <div class="list list-inset margin-0 transparent-bg">
                        <label class="item item-input video-detail-label">
                            <input type="tel" placeholder="Cost"
                                   ng-model="coachTraining.trainingPlan.cost">
                        </label>
                    </div>
                </div>
            </ion-item>

            <ion-item class="stable-bg">
                <button class="button button-small-rounded button-assertive" tags-modal
                        delta-selected-tags="coachTraining.deltaSelectedTags"
                        delta-selected-tags-ids="coachTraining.deltaSelectedTagsIds"
                        item-info="coachTraining.trainingPlan"
                        show-level2-div="coachTraining.showLevel2Div"
                        show-level3-div="coachTraining.showLevel3Div">
                    APPLY TAGS TO VIDEO
                </button>
                <!--<div class="row row-no-padding padding-bottom-5">-->
                <!--<div class="col text-center item-text-wrap" >-->
                <!--<span class="uploadTags" ng-class="{'tag-selected':tag.selected}"-->
                <!--ng-repeat="tag in videoLib.level1tags" ng-click="videoLib.getLevel2Tags(tag._id)">{{tag.tagLevel1|capitalize}}-->
                <!--</span>-->
                <!--</div>-->
                <!--</div>-->


                <!--<div class="row row-no-padding padding-bottom-5">-->
                <!--<div class="col text-center item-text-wrap" >-->
                <!--<span class="uploadTags" ng-class="{'tag-selected':tag.selected}"-->
                <!--ng-repeat="tag in videoLib.level2tags" ng-click="videoLib.getLevel3Tags(tag._id)">{{tag.tagLevel2|capitalize}}-->
                <!--</span>-->
                <!--</div>-->
                <!--</div>-->

                <!--<div class="row row-no-padding padding-bottom-5">-->
                <!--<div class="col text-center item-text-wrap" >-->
                <!--<span class="uploadTags" ng-class="{'tag-selected':tag.selected}"-->
                <!--ng-repeat="tag in videoLib.level3tags" >{{tag.tagLevel3|capitalize}}-->
                <!--</span>-->
                <!--</div>-->
                <!--</div>-->

            </ion-item>


        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-sparup-orange">
        <button class="button button-block button-clear margin-0" ng-click="coachTraining.addTrainingPlan()">Add
            Training Plan
        </button>
    </ion-footer-bar>
</ion-modal-view>
