<ion-modal-view>
    <ion-header-bar class="bar-stable" align-title="center">

        <h1 class="title dark">Add Video To Package</h1>
        <div class="buttons">
            <button class="button button-icon icon ion-android-close sparup-orange"
                    ng-click="videoLib.hideAddVideoToPackageModal()"></button>
        </div>
    </ion-header-bar>

    <ion-content class="stable-bg has-header has-footer">

        <ion-item class="item-thumbnail-left parent" ng-class="{'divBackgroundGray':video.inPackage}" ng-repeat="video in videoLib.videoInModal|orderBy:videoLib.sortBy|filterVideoByTags:videoLib.tagsFilter" ng-click="videoLib.selectVideoForPackage(video)">
            <img src="img/dribble.jpeg">
            <h2>
                <span>{{video.title|capitalize}}</span>
            </h2>

            <p class="ellipsis">{{video.description|capitalize}}</p>

            <div class="row row-center row-no-padding video-duration">
                <div class="col gray text-small">
                    <div class="row row-center row-no-padding">
                        <div class="col padding-right-5">
                            <i class="icon ion-eye text-large padding-right-5 valign-middle"
                               ng-class="{'sparup-orange':!(video._id|viewVideoFilter)}"></i>
                            {{video.numberOfViews}}
                        </div>

                        <div class="col">
                            <i class="icon ion-heart text-large padding-right-5 valign-middle"
                               ng-class="{'sparup-orange':(video._id|likeVideoFilter)}"></i>
                            {{video.likes}}
                        </div>
                    </div>
                </div>
                <div class="col col-33 text-right gray text-small">
                    9:10
                </div>
            </div>
        </ion-item>
    </ion-content>
    <ion-footer-bar class="bar-sparup-orange">
        <button class="button button-block button-clear margin-0" ng-click="videoLib.addVideoToExistingPackage()">Update Package</button>
    </ion-footer-bar>
</ion-modal-view>
