<ion-view hide-back-button="true" view-title="Coach Marty">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-back" ng-click="chat.return()"></button>
    </ion-nav-buttons>
    <!--<ion-header-bar class="bar-sparup-orange">-->
        <!--<div class="buttons">-->
            <!--<button class="button button-icon icon ion-ios-arrow-left"-->
                    <!--ng-click="chat.return()"></button>-->
        <!--</div>-->
        <!--<h1 class="title">Coach Marty</h1>-->
    <!--</ion-header-bar>-->
    <ion-content scroll="false" class="has-header stable-bg">
        <div class="row">
            <div class="col">
                <span class="chat-bubble item-text-wrap left" ng-style="chat.maxWidth">
                    Hello, some chat
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span class="chat-bubble right" ng-style="chat.maxWidth">
                    This is a chat sample where chat can overflow into next line but gets wrapped around
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span class="chat-bubble item-text-wrap left" ng-style="chat.maxWidth">
                    But what if I want to see the coach's profile while I am chatting with him??
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span class="chat-bubble right" ng-style="chat.maxWidth">
                    Well you can just tap the name of the coach on the header-bar and see the profile of the coach.
                    Come back to chat when you want.
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span class="chat-bubble item-text-wrap left" ng-style="chat.maxWidth">
                    Great!!
                </span>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="item-input-inset">
        <label class="item-input-wrapper">
            <input type="text" placeholder="Click here to type">
        </label>
        <button class="button button-clear button-sparup-orange">
            Send
        </button>
    </ion-footer-bar>
</ion-view>
