<ion-view view-title="Find Person">
    <!--<ion-header-bar align-title="center" class="bar-sparup-orange">-->
    <!--<div class="buttons">-->
    <!--<button class="button button-icon icon ion-navicon" ng-click="showLeftMenu()"></button>-->
    <!--</div>-->
    <!--<h1 class="title">Find Coach</h1>-->
    <!--</ion-header-bar>-->
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-navicon" ng-click="showLeftMenu()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <!--<button class="button button-icon icon ion-levels" ng-click="findPerson.showFilters()">-->
        <!--</button>-->
    </ion-nav-buttons>
    <ion-header-bar class="bar-subheader bar-stable border-bottom-lightgray item-input-inset has-subheader
            overflow-vis relative padding-0" align-title="left"
                    ng-if="sportSelected">
        <div class="row row-center row-no-padding z-50 bar-sportname-row stable-bg">
            <div class="col-mod padding-left-10 animate-maxwidth full-maxwidth bar-sportname"
                 ng-class="{'zero-maxwidth':findPerson.searchOpen,'sportname-vanish':findPerson.searchOpenLate}"
                 ng-click="findPerson.dropMenu()">
                <span class=" bold " ng-click="findPerson.dropMenu()">
                  {{sportSelected.sportName|capitalize}}</span>
                <i class="icon ion-chevron-down light"
                ></i>
            </div>
            <label class="item-input-wrapper bar-search-box">
                <input type="search" placeholder="Search for coaches" class="padding-0" ng-focus="findPerson.showSearch()"
                       ng-blur="findPerson.hideSearch()" ng-model="findPerson.searchText">
                <i class="icon ion-ios-close placeholder-icon text-16" ng-if="findPerson.searchOpenLate"></i>

            </label>
            <div class="col-mod text-right" >
                <button class="button button-icon icon ion-ios-search dark padding-right-0" ng-click="findPerson.findSearchResults(findPerson.searchText)"></button>
            </div>
        </div>
        <div class="sports-dropdown">
            <ion-list class="z-49 slider-element fast-animated" ng-if="findPerson.menuDropped"
                      ng-class="{'slideInDown_videoLib':findPerson.backdrop,'slideOutUp_videoLib':!findPerson.backdrop}">
                <ion-item class="item-input-inset dropmenu-content width-60 margin-left-10"
                          ng-repeat="sport in findPerson.mySports"
                          ng-click="findPerson.selectSport(sport);">
                    <span>{{sport.sportName|capitalize}} </span>
                </ion-item>
            </ion-list>

            <div class="slider-element dark-translucent-bg z-48" ng-style="findPerson.general"
                 ng-if="findPerson.menuDropped"
                 ng-click="findPerson.hideMenu()">

            </div>
        </div>
    </ion-header-bar>
    <ion-content class="has-header has-tabs stable-bg" ng-class="{'has-subheader':sportSelected}">

        <!--<ion-list class="z-50 slider-element fast-animated" ng-if="findPerson.menuDropped"-->
        <!--ng-class="{'slideInDown':findPerson.backdrop,'slideOutUp':!findPerson.backdrop}">-->
        <!--<ion-item class="item-input-inset dropmenu-content width-60 margin-left-10"-->
        <!--ng-repeat="sport in findPerson.mySports"-->
        <!--ng-click="findPerson.selectSport(sport);">-->
        <!--<span>{{sport.sportName|capitalize}} </span>-->
        <!--</ion-item>-->
        <!--</ion-list>-->
        <!--<ion-list class="z-50 slider-element fast-animated margin-top-m10" ng-if="findPerson.backdrop"-->
        <!--ng-class="{'slideInDown':findPerson.menuDropped,'slideOutUp':!findPerson.menuDropped}">-->
        <!--<ion-item class="item-input-inset dropmenu-content width-60 margin-left-10">-->
        <!--<span class=" ">&nbsp;Badminton</span>-->
        <!--</ion-item>-->
        <!--<ion-item class="item-input-inset dropmenu-content width-60 margin-left-10">-->
        <!--<span class=" ">&nbsp;Tennis</span>-->
        <!--</ion-item>-->
        <!--</ion-list>-->
        <div class="slider-element dark-translucent-bg z-49" ng-style="findPerson.general" ng-if="findPerson.backdrop"
             ng-click="findPerson.hideMenu()">

        </div>
        <div ng-if="!sportSelected" ng-style="findPerson.placeholder">
            <div class="row">
                <div class="col gray bold text-x-large text-center" >
                    Select a sport
                </div>
            </div>



            <div class="grid">
                <div class="row row-mod">
                    <div class="col col-33 col-mod" ng-repeat="sport in findPerson.mySports">
                        <img ng-src="{{backend}}/sportImages/{{sport.image}}" class="full-image sport-image"
                             ng-click="findPerson.selectSport(sport)">
                        <h5 class="text-center margin-0 gray">{{sport.sportName|capitalize}}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="sportSelected">
            <div class="search-list list card margin-bottom-0 margin-top-10" ng-if="findPerson.personSearchList.length==0" ng-repeat="coach in findPerson.coachList" ng-click="findPerson.goToCoachProfile(coach)">
                <div>
                    <div class="item item-avatar border-bottom-light ">
                        <img src="img/max.png">
                        <h2>{{coach.firstName}}</h2>
                        <p>{{sportSelected.sportName}} <span ng-if="coach.coach">Coach</span><span ng-if="coach.player">Player</span></p>
                        <div class="ion-star gray search-person-likes">&nbsp;4.2</div>
                    </div>
                    <div class="row row-no-padding padding-bottom-5 padding-horizontal-16">
                        <div class="col">
                            <div class="row row-no-padding  details">
                                <div class="col">

                                    <div ng-repeat="exp in coach.sportsExperience|filterExperienceBySportId:sportSelected._id">
                                        <i class="ion-person gray padding-horizontal-3"></i>{{exp.experience}}
                                    </div>
                                </div>
                            </div>
                            <!--<div class="row row-no-padding details">-->
                            <!--<div class="col">-->
                            <!--<i class="ion-social-usd gray padding-horizontal-3"></i>-->
                            <!--$10/hour-->
                            <!--</div>-->
                            <!--</div>-->
                            <div class="row row-no-padding details">
                                <div class="col">
                                    <i class="ion-ios-location gray padding-horizontal-3"></i>
                                    5 miles away
                                </div>
                            </div>
                        </div>
                        <div class="col text-right padding-top-15">
                            <button class="button button-small button-sparup-orange chat-button button-small-rounded">
                                Chat
                            </button>
                        </div>
                    </div>

                </div>
            </div>



            <div class="item border-bottom-light " ng-if="findPerson.personSearchList.length!=0">
                <span> Showing results for {{findPerson.searchText}}<i class="ion-close-circled text-right gray padding-horizontal-3" ng-click="findPerson.clearSearch()"></i></span>
            </div>
            <div class="search-list list card margin-bottom-0 margin-top-10" ng-if="findPerson.personSearchList.length!=0" ng-repeat="coach in findPerson.personSearchList" ng-click="findPerson.goToCoachProfile(coach)">
                <div>

                    <div class="item item-avatar border-bottom-light ">
                        <img src="img/max.png">
                        <h2>{{coach.firstName}}</h2>
                        <p>{{sportSelected.sportName}} <span ng-if="coach.coach">Coach</span><span ng-if="coach.player">Player</span></p>
                        <div class="ion-star gray search-person-likes">&nbsp;4.2</div>
                    </div>
                    <div class="row row-no-padding padding-bottom-5 padding-horizontal-16">
                        <div class="col">
                            <div class="row row-no-padding  details">
                                <div class="col">

                                    <div ng-repeat="exp in coach.sportsExperience|filterExperienceBySportId:sportSelected._id">
                                        <i class="ion-person gray padding-horizontal-3"></i>{{exp.experience}}
                                    </div>
                                </div>
                            </div>
                            <!--<div class="row row-no-padding details">-->
                            <!--<div class="col">-->
                            <!--<i class="ion-social-usd gray padding-horizontal-3"></i>-->
                            <!--$10/hour-->
                            <!--</div>-->
                            <!--</div>-->
                            <div class="row row-no-padding details">
                                <div class="col">
                                    <i class="ion-ios-location gray padding-horizontal-3"></i>
                                    5 miles away
                                </div>
                            </div>
                        </div>
                        <div class="col text-right padding-top-15">
                            <button class="button button-small button-sparup-orange chat-button button-small-rounded">
                                Chat
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
