<ion-view view-title="Following" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-back" ng-click="following.return()"></button>
    </ion-nav-buttons>
    <!--<ion-header-bar class="bar-sparup-orange">-->
        <!--<div class="buttons">-->
            <!--<button class="button button-icon icon ion-ios-arrow-back"-->
                    <!--ng-click="following.return()"></button>-->
        <!--</div>-->
        <!--<h1 class="title">Following</h1>-->
    <!--</ion-header-bar>-->
    <ion-content scroll="false" class="has-header">
        <ion-list class="feed-list" ng-click="following.openChat()">
            <ion-item class="item-avatar-left border-bottom-gray">
                <img src="img/football.jpeg">
                <h2 class="ellipsis">John Wayne</h2>
                <div class="row row-no-padding padding-bottom-10 border-bottom-gray">
                    <div class="col ellipsis text-small gray">
                        Coach
                    </div>
                    <div class="col text-right text-small gray">
                        Football
                    </div>
                </div>
            </ion-item>
            <ion-item class="item-avatar-left ">
                <img src="img/adam.jpg">
                <h2 class="ellipsis">Vivek</h2>
                    <div class="row row-no-padding padding-bottom-10 border-bottom-gray">
                        <div class="col ellipsis text-small gray">
                            Coach
                        </div>
                        <div class="col text-right text-small gray">
                            Football
                        </div>
                    </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
