<ion-view view-title="News Feed">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-navicon" ng-click="showLeftMenu()"></button>
    </ion-nav-buttons>

    <ion-content class="has-tabs">
        <ion-refresher
                on-refresh="home.getNewNewsFeed()">
        </ion-refresher>
        <ion-list class="feed-list">
            <ion-item class="item-avatar-left" ng-repeat="newsFeed in home.newsFeedList|orderBy:'-createdAt'">
                <img ng-src="{{backend}}/sportImages/{{newsFeed.feed.image}}">
                <h2>{{newsFeed.feed.feed}}</h2>
                <div class="row row-no-padding padding-bottom-5 border-bottom-gray">
                    <div class="col text-small">


                        <timer start-time="newsFeed.createdAt">
                            <span ng-show="days>0">{{days}} days ago</span>
                    <span ng-show="days<=0">
                      <span ng-show="hours>0">
                      {{hours}} hours ago
                      </span>
                      <span ng-show="hours<=0">
                        <span ng-show="minutes>3">{{minutes}} minutes ago</span>
                        <span ng-show="minutes<=3">Just now</span>
                      </span>
                    </span>
                        </timer>
                    </div>
                    <!--<div class="col text-small text-right">-->
                        <!--Football-->
                    <!--</div>-->
                </div>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll
                ng-if="home.loadMoreNewsFeed"
                on-infinite="home.getOldNewsFeed()"
        >
        </ion-infinite-scroll>

    </ion-content>
</ion-view>
