<ion-view hide-nav-bar="true">
    <ion-content>
        <div ng-style="login.fullHeight" class=" valign-parent">
            <div class="valign-child">
                <div class="row row-no-padding">
                    <div class="col text-center">
                        <img src="img/icon.png" ng-style="login.logoDiv" class="limitLogoHeight">
                    </div>
                </div>

                <div class="limitWidth">
                    <div ng-style="login.formDiv" class="padding-horizontal">
                        <div class="list list-inset margin-top-0 " ng-style="login.username">
                            <label class="item item-input login-label">
                                <input class="login-input" type="email" placeholder="Email">
                            </label>
                        </div>

                        <div class="list list-inset margin-top-0 margin-bottom-0">
                            <label class="item item-input login-label">
                                <input class="login-input" type="password" placeholder="Password">
                            </label>
                        </div>
                    </div>

                    <div class=" padding-horizontal-20" ng-style="login.forgotDiv">
                        <div class="row row-no-padding ">
                            <div class="col">
                                <button class="button button-block button-sparup-orange login-button"
                                        ng-click="login.goToHome()">Login
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row row-no-padding padding-horizontal-20" ng-style="login.forgotMargin">
                        <div class="col gray text-center">
                            Forgot Password?
                        </div>
                    </div>

                    <div class="row row-no-padding padding-horizontal-20" ng-style="login.signup">
                        <div class="col sparup-orange" ng-click="login.goToSignup('player')">
                            Register as Player
                        </div>
                        <div class="col text-right sparup-orange" ng-click="login.goToSignup('coach')">
                            Register as Coach
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
