<ion-view hide-back-button="true" view-title="My Profile">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-navicon" ng-click="showLeftMenu()"></button>
    </ion-nav-buttons>
    <!--<ion-header-bar class="bar-sparup-orange">-->
    <!--<div class="buttons">-->
    <!--<button class="button button-icon icon ion-android-home"-->
    <!--ng-click="myProfile.return()"></button>-->
    <!--</div>-->
    <!--<h1 class="title">My Profile</h1>-->
    <!--</ion-header-bar>-->
    <div class="bar bar-subheader bar-clear ">
        <h1 class="title"></h1>
        <div class="buttons">
            <button class="button icon ion-edit translucent-bg" ng-click="myProfile.chooseCoverImage()"></button>
        </div>
    </div>
    <ion-content scroll="false" class="has-header stable-bg">
        <div class="parent z-50">
            <div class="row row-no-padding">
                <div class="col cover-picture-profile">
                </div>
            </div>
            <div class="row profile-basic">
                <div class="col col-25 text-center">
                    <img src="img/adam.jpg" class="profile-picture" ng-click="myProfile.chooseProfileImage()">
                </div>
                <div class="col">
                    <div class="row row-no-padding padding-vertical">
                        <div class="col text-large light bold">
                            {{myProfile.myInfo.firstName}}
                        </div>
                    </div>
                    <div class="row row-no-padding ">
                        <div class="col light">
                            Plays Football
                        </div>
                    </div>
                </div>
                <!--<div class="col col-20  text-center">-->
                <!--<i class="icon ion-thumbsup text-xxx-large light"></i>-->
                <!--<div class=" text-large bold light">550</div>-->
                <!--</div>-->
            </div>
        </div>


        <div class="bar bar-light relative tabs-shadow z-50">
            <div class="row row-center row-no-padding">
                <div class="col text-center"
                     ng-class="{'selected-sub-tab':myProfile.status==1||myProfile.status==0}"
                     ng-click="myProfile.changePrevStatus(1)">
                    Info
                </div>
                <div class="col text-center" ng-class="{'selected-sub-tab':myProfile.status==2}"
                     ng-click="myProfile.changePrevStatus(2)">
                    Experience
                </div>
            </div>
        </div>
        <div ng-if="myProfile.status!=1">
            <div class="bar bar-light relative border-bottom-lightgray padding-0">
                <div class="row row-center z-50 stable-bg">
                    <div class="col-mod padding-left-10 profile-sportname"
                         ng-class="{'v-fast-fadeout':myProfile.searchOpen,'v-slow-fadeIn':!myProfile.searchOpen}"
                         ng-click="myProfile.dropMenu()"
                    ng-if="sportSelected">
                            <span class=" bold " ng-click="myProfile.dropMenu()">
                              {{sportSelected.sportName}}</span>
                        <i class="icon ion-chevron-down light"
                        ></i>
                    </div>

                    <div class="col padding-left-10 profile-add-sport" ng-class="{'col-offset-50':!sportSelected}"
                         ng-click="myProfile.goToSports()">
                            <span class=" bold ">
                              Add Sport</span>
                    </div>
                </div>
                <div class="sports-dropdown">
                    <ion-list class="z-49 slider-element fast-animated"
                              ng-if="myProfile.menuDropped"
                              ng-class="{'slideInDown_videoLib':myProfile.backdrop,'slideOutUp_videoLib':!myProfile.backdrop}">
                        <ion-item class="item-input-inset dropmenu-content bold gray width-60 margin-left-10"
                                  ng-repeat="sport in myProfile.mySports">
                            <div ng-click="myProfile.selectSport(sport)">{{sport.sportName}}</div>
                        </ion-item>
                    </ion-list>
                    <div class="slider-element dark-translucent-bg z-48" ng-style="myProfile.general"
                         ng-if="myProfile.menuDropped"
                         ng-click="myProfile.hideMenu()">
                    </div>
                </div>
            </div>
        </div>
        <ion-scroll direction="y" ng-style="myProfile.scrollerHeight">
            <div id="info" class="inner-tab z-9 light-bg" ng-show="myProfile.showDivision==1||myProfile.showDivision==0"
                 ng-style="myProfile.info"
                 ng-class="{
                 'z-11':myProfile.status==1 && myProfile.prevStatus==1,
                 'z-11 slideInFromLeft':myProfile.status==1 && myProfile.prevStatus==2,
                 'slideInFromLeft z-11':myProfile.status==1 && myProfile.prevStatus==3,
                 'z-10 slideOutToLeft':myProfile.status==2 && myProfile.prevStatus==1,
                 'slideOutToLeft z-10':myProfile.status==3 && myProfile.prevStatus==1}">
                <div class="row">
                    <!--<div class="col">-->
                    <!--<div class="row">-->
                    <!--<div class="col bold text-large text-center">-->
                    <!--15-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row row-no-padding">-->
                    <!--<div class="col gray text-center">-->
                    <!--videos-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="col" ng-click="myProfile.goToFollowers()">
                        <div class="row">
                            <div class="col bold text-large text-center">
                                {{myProfile.myStats.followerCount}}
                            </div>
                        </div>
                        <div class="row row-no-padding">
                            <div class="col gray text-center">
                                followers
                            </div>
                        </div>
                    </div>
                    <div class="col" ng-click="myProfile.goToFollowing()">
                        <div class="row">
                            <div class="col bold text-large text-center">
                                {{myProfile.myStats.followingCount}}
                            </div>
                        </div>
                        <div class="row row-no-padding">`
                            <div class="col gray text-center">
                                following
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-no-padding div-centered-90 border-bottom-dark padding-top-20 padding-bottom-10">
                    <div class="col bold">
                        ACTIVITY
                    </div>
                </div>

                <ion-list class="feed-list">
                    <ion-item class="item-avatar-left"
                              ng-repeat="newsFeed in myProfile.newsFeedList|orderBy:'-createdAt'">
                        <img ng-src="{{backend}}/sportImages/{{newsFeed.feed.image}}">
                        <h2>{{newsFeed.feed.feed}}</h2>
                        <div class="row row-no-padding padding-bottom-5 border-bottom-gray">
                            <div class="col text-small">
                                <timer start-time="newsFeed.createdAt">
                                    <span ng-show="days>0">{{days}} days ago</span>
                    <span ng-show="days<=0">
                      <span ng-show="hours>0">
                      {{hours}} hours ago
                      </span>
                      <span ng-show="hours<=0">
                        <span ng-show="minutes>3">{{minutes}} minutes ago</span>
                        <span ng-show="minutes<=3">Just now</span>
                      </span>
                    </span>
                                </timer>
                            </div>
                        </div>
                    </ion-item>
                </ion-list>
                <ion-infinite-scroll
                        ng-if="myProfile.loadMoreNewsFeed"
                        on-infinite="myProfile.getOldNewsFeed()">
                </ion-infinite-scroll>
            </div>
            <div id="exp" class="inner-tab z-9 light-bg" ng-show="myProfile.showDivision==2||myProfile.showDivision==0" ng-style="myProfile.exp"
                 ng-class="{
                 'z-11':myProfile.status==2 && myProfile.prevStatus==2,
                 'z-10 slideOutToRight':myProfile.status==1 && myProfile.prevStatus==2,
                 'z-11 slideInFromRight':myProfile.status==2 && myProfile.prevStatus==1,
                 'z-11 slideInFromLeft':myProfile.status==2 && myProfile.prevStatus==3,
                 'z-10 slideOutToLeft':myProfile.status==3 && myProfile.prevStatus==2}">


                <div ng-if="!sportSelected">
                    <div class="row">
                        <div class="col gray bold text-x-large text-center">
                            Select a sport
                        </div>
                    </div>
                    <div class="grid">
                        <div class="row row-mod">
                            <div class="col col-33 col-mod" ng-repeat="sport in myProfile.mySports">
                                <img ng-src="{{backend}}/sportImages/{{sport.image}}" class="full-image sport-image"
                                     ng-click="myProfile.selectSport(sport)">
                                <h5 class="text-center margin-0 gray">{{sport.sportName|capitalize}}</h5>
                            </div>
                        </div>

                        <!--<div class="row">-->
                        <!--<div class="col col-33" ng-repeat="sport in videoLib.mySports" ng-if="$odd">-->
                        <!--<img ng-src="{{backend}}/sportImages/{{sport.image}}" class="full-image sport-image"-->
                        <!--ng-click="videoLib.selectSport(sport)">-->
                        <!--<h5 class="text-center margin-0 gray">{{sport.sportName|capitalize}}</h5>-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
                <div ng-if="sportSelected">

                    <div class="row row-no-padding div-centered-90 border-bottom-dark padding-top-20 padding-bottom-10">
                        <div class="col bold">
                            TOURNAMENTS PLAYED
                        </div>
                        <div class="col col-20 text-right" ng-click="myProfile.addTournament()">
                            <i class=" icon ion-android-add sparup-orange text-x-large"></i>
                        </div>
                    </div>
                    <ion-list>
                        <ion-item class="activity-list item-borderless padding-bottom-1"
                                  ng-repeat="tournament in myProfile.myStats.tournamentList|filterDataBySportId:sportSelected._id">
                            <div class="row row-no-padding padding-bottom-5">
                                <div class="col item-text-wrap bold">
                                    {{tournament.name}}
                                </div>
                                <div class="col col-20 gray text-12 text-right">

                                    {{tournament.date|date:'MMM yy'}}
                                </div>
                            </div>
                            <div class="row row-no-padding padding-bottom-5">
                                <div class="col item-text-wrap gray text-12 ">

                                    {{tournament.location}}
                                </div>
                            </div>
                            <div class="row row-no-padding padding-bottom-16 border-bottom-gray">
                                <div class="col item-text-wrap gray text-12">
                                    Played as <span class="dark">
                                {{tournament.role}}</span>
                                </div>
                            </div>
                        </ion-item>
                    </ion-list>
                    <div class="row row-no-padding div-centered-90 border-bottom-dark padding-top-20 padding-bottom-10">
                        <div class="col bold">
                            ACADEMIES PLAYED FOR
                        </div>
                        <div class="col col-20 text-right" ng-click="myProfile.addAcademy()">
                            <i class=" icon ion-android-add sparup-orange text-x-large"></i>
                        </div>
                    </div>
                    <ion-list>
                        <ion-item class="activity-list item-borderless padding-bottom-1"
                                  ng-repeat="academy in myProfile.myStats.academyList|filterDataBySportId:sportSelected._id">
                            <div class="row row-no-padding padding-bottom-5">
                                <div class="col item-text-wrap bold">
                                    {{academy.name}}
                                </div>
                            </div>
                            <div class="row row-no-padding padding-bottom-5">
                                <div class="col item-text-wrap gray text-12 ">
                                    {{academy.location}}
                                </div>
                                <div class="col gray text-12 text-right">
                                    {{academy.from|date:'MMM yy'}} - <span ng-if="academy.current">Present</span>
                                    <span ng-if="!academy.current">{{academy.to|date:'MMM yy'}}</span>
                                </div>
                            </div>
                        </ion-item>
                    </ion-list>
                </div>

            </div>
        </ion-scroll>
    </ion-content>
    <div class=" animated floatButton2 button button-icon button-sparup-orange icon ion-android-upload"
         ng-if="myProfile.status==3"
         ng-click="myProfile.uploadVideo()">
    </div>
</ion-view>
