<ion-modal-view>
    <ion-header-bar class="bar-stable" align-title="center">

        <h1 class="title dark">Filter My Videos</h1>
        <div class="buttons">
            <button class="button button-icon icon ion-android-close sparup-orange"
                    ng-click="myVideos.hideFilters()"></button>
        </div>
    </ion-header-bar>

    <ion-content class="stable-bg has-header has-footer">
        <ion-list>

            <ion-item class="stable-bg">
                <div class="row row-no-padding padding-bottom-20">
                    <div class="col gray text-small">
                        SORT BY
                    </div>
                </div>
                <div class="row filter-sort-row">
                    <div class="col">
                        <div class="row row-no-padding padding-bottom-5 padding-top-5">
                            <div class="col text-center">
                                <i class="icon ion-ios-eye sparup-orange text-large"></i>
                            </div>
                        </div>
                        <div class="row row-no-padding">
                            <div class="col text-center sparup-orange text-small">
                                Views
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row row-no-padding padding-bottom-5 padding-top-5">
                            <div class="col text-center">
                                <i class="icon ion-ios-calendar-outline text-large"></i>
                            </div>
                        </div>
                        <div class="row row-no-padding">
                            <div class="col text-center text-small">
                                Posted at
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row row-no-padding padding-bottom-5 padding-top-5">
                            <div class="col text-center">
                                <i class="icon ion-android-star-outline text-large"></i>
                            </div>
                        </div>
                        <div class="row row-no-padding">
                            <div class="col text-center text-small">
                                Ratings
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>
            <ion-item class="stable-bg padding-bottom-0">
                <div class="row row-no-padding">
                    <div class="col gray text-small">
                        SEE VIDEOS FROM
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <ion-checkbox class="filter-checkbox checkbox-sparup-orange text-small">Coaches</ion-checkbox>
                    </div>
                    <div class="col">
                        <ion-checkbox class="filter-checkbox checkbox-sparup-orange text-small">Players</ion-checkbox>
                    </div>
                </div>
            </ion-item>
            <ion-item class="stable-bg padding-0">
                <div class="item item-toggle text-small stable-bg gray">
                    SHOW PAID VIDEOS
                    <label class="toggle toggle-sparup-orange">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
            </ion-item>
            <ion-item class="stable-bg">
                <div class="row row-no-padding padding-bottom-20">
                    <div class="col gray text-small">
                        SELECT TAGS
                    </div>
                </div>
                <div class="row row-no-padding padding-bottom-5">
                    <div class="col ">
                        Back-hand
                    </div>
                    <div class="col tag-selected">
                        Fore-hand
                    </div>
                </div>
                <div class="row row-no-padding padding-top-5 padding-bottom-5">
                    <div class="col tag-selected">
                        Smash
                    </div>
                    <div class="col tag-selected">
                        Serve
                    </div>
                </div>
                <div class="row row-no-padding padding-top-5 padding-bottom-5">
                    <div class="col tag-selected">
                        Return Serve
                    </div>
                    <div class="col tag-selected">
                        Serve
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-sparup-orange">
        <button class="button button-block button-clear margin-0">Apply</button>
    </ion-footer-bar>
</ion-modal-view>
