<ion-view view-title="My Videos" hide-back-button="true">

    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left" ng-click="myVideos.goBack()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-levels" ng-click="myVideos.showFilters()"></button>
    </ion-nav-buttons>

    <!--<ion-header-bar align-title="center" class="bar-sparup-orange">-->
        <!--<h1 class="title">My Videos</h1>-->
        <!--<div class="buttons">-->
            <!--<button class="button button-icon icon ion-levels" ng-click="myVideos.showFilters()"> </button>-->
        <!--</div>-->
    <!--</ion-header-bar>-->

    <ion-header-bar class="bar-subheader bar-stable bar-no-border" align-title="left">
        <div class="row row-center row-no-padding">
            <div class="col text-center sub-tab-1"
                 ng-class="{'selected-sub-tab':myVideos.status=='subscribed'||myVideos.status=='start'}"
                 ng-click="myVideos.status='subscribed';myVideos.hideUpload()">
                Subscribed
            </div>
            <div class="col text-center" ng-class="{'selected-sub-tab':myVideos.status=='uploaded'}"
                 ng-click="myVideos.status='uploaded';myVideos.showUpload()">
                Uploaded
            </div>
        </div>
    </ion-header-bar>
    <ion-content class="has-subheader stable-bg">
        <div class="z-10 slider-element stable-bg" ng-style="myVideos.fullHeight"
             ng-class="{'slideOutToLeft z-9':myVideos.status=='uploaded','slideInFromLeft z-10':myVideos.status=='subscribed'}">
            <div ng-if="!myVideos.subscribed" ng-style="myVideos.placeholder">
                <div class="row">
                    <div class="col gray text-center">
                        You have no subscribed videos
                    </div>
                </div>
                <div class="row">
                    <div class="col sparup-orange bold text-x-large text-center" ng-click="myVideos.browseAllVideos()">
                        Browse all videos
                    </div>
                </div>
            </div>
            <ion-list ng-if="myVideos.subscribed">
                <ion-item class="item-thumbnail-left parent" ng-click="myVideos.playVideo()">
                    <img src="img/dribble.jpeg">
                    <h2>Dribbling</h2>
                    <p class="ellipsis">How to dribble through two defenders</p>
                    <div class="row row-center row-no-padding video-duration">
                        <div class="col gray text-small">
                            <div class="row row-center row-no-padding">
                                <div class="col padding-right-5">
                                    <i class="icon ion-eye text-large padding-right-5 valign-middle"></i>
                                    5000
                                </div>
                                <div class="col ">
                                    <i class="icon ion-heart text-large padding-right-5 valign-middle"></i>
                                    200
                                </div>
                            </div>
                        </div>
                        <div class="col text-right gray text-small">
                            9:10
                        </div>
                    </div>
                </ion-item>
                <ion-item class="item-thumbnail-left parent">
                    <img src="img/penalty.jpg">
                    <h2>Penalty</h2>
                    <p class="ellipsis">How to take a penalty</p>
                    <div class="row row-no-padding video-duration">
                        <div class="col gray text-small">
                            <div class="row row-center row-no-padding">
                                <div class="col padding-right-5">
                                    <i class="icon ion-eye text-large padding-right-5 valign-middle"></i>
                                    5000
                                </div>
                                <div class="col ">
                                    <i class="icon ion-heart text-large padding-right-5 valign-middle"></i>
                                    200
                                </div>
                            </div>
                        </div>
                        <div class="col text-right gray text-small">
                            5:10
                        </div>
                    </div>
                </ion-item>
            </ion-list>
        </div>
        <div class="z-9 slider-element stable-bg" ng-style="myVideos.fullHeight"
             ng-class="{'slideOutToRight z-9':myVideos.status=='subscribed','slideInFromRight z-10':myVideos.status=='uploaded'}">
            <div ng-if="!myVideos.uploaded" ng-style="myVideos.placeholder">
                <div class="row">
                    <div class="col gray text-center">
                        You have not uploaded any videos
                    </div>
                </div>
                <div class="row">
                    <div class="col sparup-orange bold text-x-large text-center" ng-click="myVideos.uploadAVideo()">
                        Upload a video
                    </div>
                </div>
            </div>
            <ion-list ng-if="myVideos.uploaded">
                <ion-item class="item-thumbnail-left parent" ng-click="myVideos.playVideo()">
                    <img src="img/dribble.jpeg">
                    <h2>Dribbling</h2>
                    <p class="ellipsis">How to dribble through two defenders</p>
                    <div class="row row-center row-no-padding video-duration">
                        <div class="col gray text-small">
                            <div class="row row-center row-no-padding">
                                <div class="col padding-right-5">
                                    <i class="icon ion-eye text-large padding-right-5 valign-middle"></i>
                                    5000
                                </div>
                                <div class="col ">
                                    <i class="icon ion-heart text-large padding-right-5 valign-middle"></i>
                                    200
                                </div>
                            </div>
                        </div>
                        <div class="col text-right gray text-small">
                            9:10
                        </div>
                    </div>
                </ion-item>
                <ion-item class="item-thumbnail-left parent">
                    <img src="img/penalty.jpg">
                    <h2>Penalty</h2>
                    <p class="ellipsis">How to take a penalty</p>
                    <div class="row row-no-padding video-duration">
                        <div class="col gray text-small">
                            <div class="row row-center row-no-padding">
                                <div class="col padding-right-5">
                                    <i class="icon ion-eye text-large padding-right-5 valign-middle"></i>
                                    5000
                                </div>
                                <div class="col ">
                                    <i class="icon ion-heart text-large padding-right-5 valign-middle"></i>
                                    200
                                </div>
                            </div>
                        </div>
                        <div class="col text-right gray text-small">
                            5:10
                        </div>
                    </div>
                </ion-item>
                <ion-item class="item-thumbnail-left parent">
                    <img src="img/penalty.jpg">
                    <h2>Penalty</h2>
                    <p class="ellipsis">How to take a penalty</p>
                    <div class="row row-no-padding video-duration">
                        <div class="col gray text-small">
                            <div class="row row-center row-no-padding">
                                <div class="col padding-right-5">
                                    <i class="icon ion-eye text-large padding-right-5 valign-middle"></i>
                                    5000
                                </div>
                                <div class="col ">
                                    <i class="icon ion-heart text-large padding-right-5 valign-middle"></i>
                                    200
                                </div>
                            </div>
                        </div>
                        <div class="col text-right gray text-small">
                            5:10
                        </div>
                    </div>
                </ion-item>
                <ion-item class="item-thumbnail-left parent">
                    <img src="img/penalty.jpg">
                    <h2>Penalty</h2>
                    <p class="ellipsis">How to take a penalty</p>
                    <div class="row row-no-padding video-duration">
                        <div class="col gray text-small">
                            <div class="row row-center row-no-padding">
                                <div class="col padding-right-5">
                                    <i class="icon ion-eye text-large padding-right-5 valign-middle"></i>
                                    5000
                                </div>
                                <div class="col">
                                    <i class="icon ion-heart text-large padding-right-5 valign-middle"></i>
                                    200
                                </div>
                            </div>
                        </div>
                        <div class="col text-right gray text-small">
                            5:10
                        </div>
                    </div>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
    <div class="hidden animated floatButton button button-icon button-sparup-orange icon ion-android-upload valign-child"
         ng-class="{'visible zoomIn':myVideos.showUploadButton}" ng-click="myVideos.uploadVideo()">
    </div>
</ion-view>
