<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar-clear" align-title="center">
        <div class="buttons">
            <button class="button button-icon icon ion-ios-arrow-left translucent-bg"
                    ng-click="playReviewVideo.return()"></button>
        </div>
    </ion-header-bar>
    <ion-content class="no-header has-footer" style="top:0;">


        <div class="row row-no-padding border-bottom-gray" ng-if="!playReviewVideo.isYoutubeVideo">
            <div id="videoPlayerdiv"></div>
        </div>
        <div class="row row-no-padding" ng-if="playReviewVideo.isYoutubeVideo">
            <div class="col video-frame">
                <iframe ng-style="playReviewVideo.videoFrame" ng-src="{{playReviewVideo.trustedLink}}"
                        frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
            <div ng-style="playReviewVideo.scrollHeight">
                <div>
                    <div class="row row-no-padding">
                        <div class="col video-title">
                            {{playReviewVideo.playThisVideo.title|capitalize}}
                        </div>
                    </div>
                    <div class="row row-center padding-left-15 border-bottom-gray">
                        <div class="col sparup-orange">
                            <span class="bold">{{playReviewVideo.playThisVideo.videoBy.firstName|capitalize}}</span> <br>
                            <span class="gray" ng-if="playReviewVideo.playThisVideo.videoBy.player">Player</span>
                            <span class="gray" ng-if="playReviewVideo.playThisVideo.videoBy.coach">Coach</span>
                        </div>
                        <div class="col text-center  ">
                            <i class="icon ion-android-chat text-xx-large sparup-orange"></i>
                            <div class="gray">Start chat</div>
                        </div>
                    </div>
                    <div class="row row-no-padding padding-horizontal-20 padding-bottom-10 padding-top-20" ng-if="!playReviewVideo.disabledReviewBox">
                        <div class="col gray">
                            Add your feedback here
                        </div>
                        <div class="col col-10 gray " ng-click="playReviewVideo.record()">
                            <i class="icon ion-android-microphone sparup-orange text-large"></i>
                        </div>
                        <div class="col col-10 gray text-right" ng-click="playReviewVideo.feedbackInstructions()">
                            <i class="icon ion-information-circled sparup-orange text-large"></i>
                        </div>
                    </div>
                    <div class="row row-no-padding padding-horizontal-20" ng-if="!playReviewVideo.disabledReviewBox">
                        <div class="col">
                            <textarea class="textarea review-box" ng-model="playReviewVideo.reviewText"></textarea>
                        </div>
                    </div>


                    <div class="row padding-top-10 padding-left-15" ng-if="playReviewVideo.disabledReviewBox">
                        <div class="col gray">Review:
                        </div>
                    </div>
                    <div class="row padding-top-10 padding-left-15" ng-if="playReviewVideo.disabledReviewBox">
                        <div class="col gray">
                            {{playReviewVideo.reviewText}}
                        </div>
                    </div>


                </div>
            </div>
    </ion-content>
    <ion-footer-bar class="bar-sparup-orange">
        <button class="button button-block button-clear margin-0" ng-disabled="playReviewVideo.disabledReviewBox" ng-click="playReviewVideo.sendReview()">Send Feedback</button>
    </ion-footer-bar>
</ion-view>
