<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar-stable signup-bg profile-header">
        <div class="buttons">
            <button class="button button-clear sparup-orange" ng-click="profile.skip()">Skip</button>
        </div>
        <h1 class="title create-profile">Create Profile</h1>
        <div class="buttons">
            <button class="button button-icon icon ion-ios-close-empty sparup-orange" ng-click="profile.goToChooseSport()"></button>
        </div>
    </ion-header-bar>
    <ion-content scroll="false" class="signup-bg has-conditional-footer relative">
        <ion-slide-box show-pager="true" on-slide-changed="slideChange($index)">
            <ion-slide>
                <div ng-style="profile.fullHeight" class="valign-parent padding-bottom-50 tournament">
                    <div class="valign-child">
                        <div class="row" ng-style="profile.title">
                            <div class="col text-center text-xx-large">
                                Objective
                            </div>
                        </div>
                        <ion-list class="div-centered-90 list-borderless">
                            <ion-checkbox class="checkbox-sparup" ng-model="obj.radioButtonVal" ng-click="profile.addPreviousExperience(obj)" ng-repeat="obj in profile.previousExperience">{{obj.previousExperience}}</ion-checkbox>
                        </ion-list>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div ng-style="profile.fullHeight" class="valign-parent padding-bottom-50 ">
                    <div class="valign-child ">
                        <div class="row" ng-style="profile.title">
                            <div class="col text-center text-xx-large">
                                Experience
                            </div>
                        </div>

                        <ion-list class="div-centered-90 list-borderless experience">
                            <ion-checkbox class="checkbox-sparup" ng-model="obj.radioButtonVal" ng-click="profile.addExperience(obj)" ng-repeat="obj in profile.experience">{{obj.experience}}</ion-checkbox>
                        </ion-list>
                    </div>
                </div>
            </ion-slide>

            <ion-slide>
                <div ng-style="profile.fullHeight" class="valign-parent padding-bottom-30 tournament">
                    <div class="valign-child ">
                        <div class="row" ng-style="profile.title">
                            <div class="col text-center text-xx-large">
                                Done !
                            </div>
                        </div>
                        <div class="row div-centered-90">
                            <div class="col text-center gray">
                                You have answered all the question for the chosen sport.
                                You can choose another sport or finish creating your profile here.
                            </div>
                        </div>
                        <div>
                            <div class="row row-no-padding div-centered-80">
                                <div class="col">
                                    <button class="button button-block no-border-radius text-large"
                                            ng-click="submitted=true;profile.addSportExperience(true)">Choose another sport
                                    </button>
                                </div>
                            </div>
                            <div class="row row-no-padding div-centered-80">
                                <div class="col">
                                    <button class="button button-block button-sparup-orange no-border-radius text-large"
                                            ng-click="profile.addSportExperience(false)">Done
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-slide>
        </ion-slide-box>

    </ion-content>
    <ion-footer-bar class="bar-transparent hide-on-keyboard-open">
        <div class="profile-navicons">
            <div class="row row-center row-no-padding padding-horizontal-20">
                <div class="col text-x-large">
                    <button class="button button-outline button-sparup-orange icon-left ion-ios-arrow-left profile-nav-buttons"
                            ng-click="profile.prevSlide()" ng-if="profile.currentSlide!=1">Prev</button>
                </div>
                <div class="col text-right text-x-large" >
                    <button class="button button-outline button-sparup-orange icon-right ion-ios-arrow-right profile-nav-buttons"
                            ng-click="profile.nextSlide()" ng-if="profile.currentSlide!=5">Next</button>
                </div>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
