<ion-view view-title="Review Videos" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left" ng-click="reviewVideos.goBack()"></button>
    </ion-nav-buttons>

    <ion-content class="has-header has-tabs stable-bg">
        <ion-list>
            <ion-item class="item-thumbnail-left parent" ng-click="reviewVideos.playReviewVideo()">
                <img src="img/dribble.jpeg">
                <h2>Dribbling</h2>
                <p class="ellipsis">How to dribble through two defenders</p>
                <div class="row row-center row-no-padding video-duration">
                    <div class="col gray text-small">
                        <div class="row row-center row-no-padding">
                            <div class="col sparup-orange">
                                Andy Maven
                            </div>
                        </div>
                    </div>
                    <div class="col text-right gray text-small">
                        Yesterday
                    </div>
                </div>
            </ion-item>
            <ion-item class="item-thumbnail-left item-icon-right reviewed-video parent">
                <img src="img/penalty.jpg">
                <h2>Penalty</h2>
                <p class="ellipsis">How to take a penalty</p>
                <i class="icon ion-checkmark balanced"></i>
                <div class="row row-center row-no-padding video-duration">
                    <div class="col gray text-small">
                        <div class="row row-center row-no-padding">
                            <div class="col sparup-orange">
                                J. Aston
                            </div>
                        </div>
                    </div>
                    <div class="col text-right gray text-small">
                        3 days ago
                    </div>
                </div>
            </ion-item>
            <ion-item class="item-thumbnail-left parent item-icon-right reviewed-video" ng-click="reviewVideos.playReviewVideo()">
                <img src="img/dribble.jpeg">
                <h2>Dribbling</h2>
                <p class="ellipsis">How to dribble through two defenders</p>
                <i class="icon ion-checkmark balanced"></i>
                <div class="row row-center row-no-padding video-duration">
                    <div class="col gray text-small">
                        <div class="row row-center row-no-padding">
                            <div class="col sparup-orange">
                                Andy Maven
                            </div>
                        </div>
                    </div>
                    <div class="col text-right gray text-small">
                        5 days ago
                    </div>
                </div>
            </ion-item>
            <ion-item class="item-thumbnail-left parent">
                <img src="img/penalty.jpg">
                <h2>Penalty</h2>
                <p class="ellipsis">How to take a penalty</p>
                <div class="row row-center row-no-padding video-duration">
                    <div class="col gray text-small">
                        <div class="row row-center row-no-padding">
                            <div class="col sparup-orange">
                                J. Aston
                            </div>
                        </div>
                    </div>
                    <div class="col text-right gray text-small">
                        7 days ago
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
