<ion-modal-view>
    <ion-header-bar class="bar-stable" align-title="center">

        <h1 class="title dark">Select Video</h1>
        <div class="buttons">
            <button class="button button-icon icon ion-android-close sparup-orange"
                    ng-click="coachTrainingDetail.hideSelectVideoModal()"></button>
        </div>
    </ion-header-bar>

    <ion-content class="stable-bg has-header ">
        <ion-list>
            <ion-item class="item-thumbnail-left parent"
                      ng-repeat="video in coachTrainingDetail.playerUploadedVideos.videosList"
                      ng-click="coachTrainingDetail.addVideoToActivity(video)">
                <img ng-src="{{video.thumbnail}}">
                <h2>
                    <span>{{video.title|capitalize}}</span>
                </h2>

                <p class="ellipsis">
                    {{video.description|capitalize}}</p>


                <div class="row row-center row-no-padding video-duration">
                    <div class="col gray text-small">
                        <div class="row row-center row-no-padding">
                            <div class="col padding-right-5">
                                <i class="icon ion-eye text-large padding-right-5 valign-middle"
                                   ng-class="{'sparup-orange':!(video._id|viewVideoFilter)}"></i>
                                {{video.numberOfViews}}
                            </div>

                            <div class="col">
                                <i class="icon ion-heart text-large padding-right-5 valign-middle"
                                   ng-class="{'sparup-orange':(video._id|likeVideoFilter)}"></i>
                                {{video.likes}}
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>
