<ion-scroll direction="y" zooming="false" style="max-height:300px;min-height: 150px;">
  <div class="row margin-0" ng-repeat="coach in coachList">
    <div class="col" >
      <ion-checkbox class="item-borderless text-normal" ng-model="coach.checkBoxVal" ng-change="selectCoachForReview(coach)">{{coach.coach.firstName}}</ion-checkbox>
    </div>
  </div>

</ion-scroll>
<div class="row row-no-padding div-centered-80 padding-top-10">
  <div class="col text-center">
    <button class="button button-block button-sparup-orange" ng-click="videoSent()">Send for Review</button>
  </div>
</div>
