<div class="row" ng-click="afterImageChosen()">
  <div class="col " >
    Do you want to skip making profile? You can edit your profile later in the app.
  </div>
</div>
<div class="row row-no-padding padding-bottom-5 text-center margin-0" >
  <div class="col"></div>
  <div class="col text-medium" >
    <button class="button button-clear button-stable bold" ng-click="closePopup()">Stay</button>
  </div>
  <div class="col text-medium" >
    <button class="button button-clear sparup-orange bold" ng-click="stateChange('sidemenu.tabs.training')">Skip</button>
  </div>
</div>
