<ion-view>
    <ion-tabs class="tabs-sparup-orange tabs-icon-top slide-right-left" ng-class="{'tabs-item-hide':!showTabs}">
        <ion-tab title="Videos" icon-on="ion-ios-play sparup-orange"
                 icon-off="ion-ios-play-outline sparup-gray" ui-sref="coachSidemenu.tabs.videoLib"
                 badge="10" badge-style="badge-sparup-orange">
            <ion-nav-view animation="fade-in-out" name="video-lib"></ion-nav-view>
        </ion-tab>


        <ion-tab title="Search" icon-on="ion-ios-person sparup-orange"
                 icon-off="ion-ios-person-outline sparup-gray" ui-sref="coachSidemenu.tabs.findPlayer" >
            <ion-nav-view animation="fade-in-out" name="find-player-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Feed" icon-on="ion-ios-list-outline sparup-orange"
                 icon-off="ion-ios-list-outline sparup-gray"
                 ui-sref="coachSidemenu.tabs.home" >
            <ion-nav-view animation="fade-in-out" name="home-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Training" icon-on="ion-ios-football sparup-orange"
                 icon-off="ion-ios-football-outline sparup-gray" ui-sref="coachSidemenu.tabs.training">
            <ion-nav-view animation="fade-in-out" name="training-tab"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-view>