<ion-view view-title="My plans" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-navicon" ng-click="showLeftMenu()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-levels" ng-click="coachTraining.showFilters()">
        </button>
    </ion-nav-buttons>
    <ion-header-bar
            class="bar-subheader bar-stable border-bottom-lightgray item-input-inset has-subheader
            overflow-vis relative padding-0"
            align-title="left"
            ng-if="sportSelected">

        <div class="row row-center row-no-padding z-50 bar-sportname-row stable-bg" >
            <div class="col-mod padding-left-10 animate-maxwidth full-maxwidth profile-sportname"
                 ng-class="{'zero-maxwidth':coachTraining.searchOpen,'sportname-vanish':coachTraining.searchOpenLate}"
                 ng-click="coachTraining.dropMenu()">
                <span class=" bold " ng-click="coachTraining.dropMenu()">
                    {{sportSelected.sportName|capitalize}}</span>
                <i class="icon ion-chevron-down light"></i>
            </div>
        </div>
        <div class="sports-dropdown">
            <ion-list class="z-49 slider-element fast-animated" ng-if="coachTraining.menuDropped"
                      ng-class="{'slideInDown_videoLib':coachTraining.backdrop,'slideOutUp_videoLib':!coachTraining.backdrop}">
                <ion-item class="item-input-inset dropmenu-content width-60 margin-left-10"
                          ng-repeat="sport in coachTraining.mySports"
                          ng-click="coachTraining.selectSport(sport);">
                    <span>{{sport.sportName|capitalize}} </span>
                </ion-item>
            </ion-list>

            <div class="slider-element dark-translucent-bg z-48" ng-style="coachTraining.general"
                 ng-if="coachTraining.menuDropped"
                 ng-click="coachTraining.hideMenu()">
            </div>
        </div>
    </ion-header-bar>
    <ion-content class="has-header has-tabs stable-bg" ng-class="{'has-subheader':sportSelected}">
        <!--<ion-list class="z-50 slider-element fast-animated" ng-if="coachTraining.menuDropped"-->
                  <!--ng-class="{'slideInDown':coachTraining.backdrop,'slideOutUp':!coachTraining.backdrop}">-->
            <!--<ion-item class="item-input-inset dropmenu-content width-60 margin-left-10"-->
                      <!--ng-repeat="sport in coachTraining.mySports"-->
                      <!--ng-click="coachTraining.selectSport(sport);">-->
                <!--<span>{{sport.sportName|capitalize}} </span>-->
            <!--</ion-item>-->
        <!--</ion-list>-->
        <!--<div class="slider-element dark-translucent-bg z-49" ng-style="coachTraining.myplan"-->
             <!--ng-if="coachTraining.backdrop"-->
             <!--ng-click="coachTraining.hideMenu()">-->
        <!--</div>-->

        <div ng-if="!sportSelected" ng-style="coachTraining.placeholder">
            <div class="row">
                <div class="col gray bold text-x-large text-center">
                    Select a sport
                </div>
            </div>
            <div class="grid">

                <div class="row row-mod">
                    <div class="col col-33 col-mod" ng-repeat="sport in coachTraining.mySports">
                        <img ng-src="{{backend}}/sportImages/{{sport.image}}" class="full-image sport-image"
                             ng-click="coachTraining.selectSport(sport)">
                        <h5 class="text-center margin-0 gray">{{sport.sportName|capitalize}}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="sportSelected" class="search-list list card margin-bottom-0 margin-top-10 "
              ng-repeat="plan in coachTraining.coachTrainingPlanList|filter:sportSelected._id">
            <div class="padding"
                 ng-click="coachTraining.goTrainingDetails(plan)">
                <div class="row row-no-padding padding-bottom-10 padding-horizontal">
                    <div class="col text-large">
                        {{plan.trainingName|capitalize}}
                    </div>
                </div>
                <div class="row row-no-padding padding-bottom-5 padding-horizontal">
                    <div class="col gray">{{plan.sport.sportName|capitalize}}
                    </div>
                    <div class="col text-right gray">
                        <i class="icon ion-ios-calendar-outline text-medium padding-right-5"></i>
                        {{plan.duration}} weeks
                    </div>
                </div>
                <div class="row row-center row-no-padding padding-bottom-5 padding-horizontal">
                    <div class="col text-small energized">
                        <rating-directive average-rating="plan.rating"></rating-directive>

                    </div>
                    <div class="col text-right gray">
                        {{plan.cost}}
                    </div>
                </div>

                <div class="row row-center row-no-padding padding-bottom-5 padding-horizontal">
                    <div class="col text-small energized">
                        {{plan.level|capitalize}}
                    </div>
                </div>
            </div>
        </div>


        <div class="padding" ng-if="sportSelected && (coachTraining.coachTrainingPlanList|filter:sportSelected._id).length==0" ng-style="coachTraining.placeholder">
            <div class="row">
                <div class="col gray text-center">
                    No Training Plan in {{sportSelected.sportName}}
                </div>
            </div>
            <div class="row">
                <div class="col sparup-orange bold text-x-large text-center" ng-click="coachTraining.showAddTrainingPlanModal()">
                    Create new
                </div>
            </div>
        </div>



    </ion-content>

    <div ng-if="sportSelected" class="fast-animated floatButton button button-icon button-sparup-orange icon ion-plus valign-child"
         ng-click="coachTraining.showAddTrainingPlanModal()">
    </div>
    <div class="hidden fast-animated floatButton button button-icon button-sparup-orange icon ion-android-upload valign-child"
         ng-class="{'visible zoomIn':coachTraining.showUploadButton}" ng-click="coachTraining.uploadVideo()">
    </div>
</ion-view>
