<ion-view view-title="{{coachTrainingDetail.trainingPlanDetails.trainingName}}" hide-back-button="true" hide-tabs="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-back" ng-click="coachTrainingDetail.return()"></button>
    </ion-nav-buttons>

    <ion-content scroll="false" class="has-header">
        <!--<div id="title" class="row row-no-padding padding-horizontal-16 padding-top-5">-->
            <!--<div class="col gray">-->
                <!--{{coachTrainingDetail.trainingPlanDetails.trainingName}}-->
            <!--</div>-->
        <!--</div>-->
        <ion-list class="feed-list" ng-click="coachTrainingDetail.openChat()">
            <ion-item id="coachInfo">
                <h2 class="ellipsis sparup-orange"></h2>
                <div class="row row-no-padding ">
                    <div class="col text-center text-large ">
                        <i class="icon ion-android-calendar padding-right-5"></i>
                        {{coachTrainingDetail.trainingPlanDetails.duration}} week plan
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center gray">
                        <i class="icon ion-connection-bars padding-right-5"></i>
                        {{coachTrainingDetail.trainingPlanDetails.level}}
                    </div>
                </div>
                <div class="row row-no-padding padding-bottom-10 ">
                    <div class="col gray text-center">
                        {{coachTrainingDetail.trainingPlanDetails.description}}
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center sparup-orange bold">
                        <i class="icon ion-person-stalker padding-right-5"></i>
                        {{coachTrainingDetail.trainingPlanDetails.noOfSubscriber}} subscribers
                    </div>
                </div>
            </ion-item>

        </ion-list>
        <!--<div id="description" class="row padding-horizontal-16 sparup-gray-bg padding-bottom-10">-->
            <!--<div class="col light  description">-->

            <!--</div>-->
        <!--</div>-->
        <div class="bar bar-stable relative border-bottom-lightgray">
            <h1 class="title">ACTIVITIES</h1>
        </div>
        <ion-scroll zooming="true" direction="x" scrollbar-x="false" class="categories-filter border-bottom-gray">
			<span>
				<button class="button button-light filter-button"
                        ng-class="{'sparup-orange':coachTrainingDetail.week==$index}"
                        ng-repeat="activity in coachTrainingDetail.activityList"
                        ng-click="coachTrainingDetail.selectWeek($index)">
					Week {{$index+1}}
				</button>
			</span>
        </ion-scroll>
        <ion-scroll direction="y" ng-style="coachTrainingDetail.activityScroller" class="gray-bg">
            <div class="margin-10">
                <ion-list id="activityList"
                          ng-repeat="activity in coachTrainingDetail.activityList[coachTrainingDetail.week]">
                    <ion-item class="item-icon-right" ng-click="coachTrainingDetail.showAddActivityModal(activity,$index)">
                        <div class="row row-no-padding padding-top-5">
                            <div class="col text-medium">

                                <p>Day {{($index+1)+(coachTrainingDetail.week*7)}}</p>

                            </div>
                            <div class="col text-right text-small gray">
                                {{activity.activities.length}} activities
                            </div>
                        </div>
                    </ion-item>
                </ion-list>
            </div>
        </ion-scroll>

    </ion-content>
    <ion-footer-bar class="bar-sparup-orange">
        <button class="button button-block button-clear margin-0" ng-click="coachTrainingDetail.saveActivity()">
            Save training plan
        </button>
    </ion-footer-bar>
</ion-view>
