<div class="row row-no-padding padding-top-15 padding-bottom-15 popup-separator text-center" ng-click="videoSelectedForUpload=true">
  <div class="col sparup-orange gray">Select a video from phone</div>
</div>
<div class="row row-no-padding padding-top-15 padding-bottom-15 text-center margin-0" ng-click="videoSelectedForUpload=true">
  <div class="col sparup-orange gray" >Record a video</div>
</div>
