<ion-view view-title="Videos" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-navicon" ng-click="showLeftMenu()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-levels" ng-click="videoLib.showFilters()">
        </button>
    </ion-nav-buttons>


    <div class="bar bar-light has-header tabs-shadow z-10" align-title="left">
        <div class="row row-center row-no-padding">
            <div class="col text-center inpage-tab"
                 ng-class="{'selected-sub-tab':videoLib.status==1||videoLib.status==0}"
                 ng-click="videoLib.changePrevStatus(1)">
                General
            </div>
            <div class="col text-center inpage-tab" ng-class="{'selected-sub-tab':videoLib.status==2}"
                 ng-click="videoLib.changePrevStatus(2)">
                Review
            </div>
            <div class="col text-center inpage-tab" ng-class="{'selected-sub-tab':videoLib.status==3}"
                 ng-click="videoLib.changePrevStatus(3)">
                Uploaded
            </div>
        </div>
    </div>
    <ion-header-bar
            class="bar-subheader bar-subsubheader bar-stable border-bottom-lightgray item-input-inset has-subheader
            overflow-vis relative padding-0"
            align-title="left"
            ng-if="sportSelected">
        <div class="row row-center row-no-padding z-50 bar-sportname-row stable-bg">
            <div class="col-mod padding-left-10 animate-maxwidth full-maxwidth bar-sportname"
                 ng-class="{'zero-maxwidth':videoLib.searchOpen,'sportname-vanish':videoLib.searchOpenLate}"
                 ng-click="videoLib.dropMenu()">
                <span class=" bold " ng-click="videoLib.dropMenu()">
                   {{sportSelected.sportName|capitalize}}</span>
                <i class="icon ion-chevron-down light"
                ></i>
            </div>
            <label class="item-input-wrapper bar-search-box">
                <input type="search" placeholder="Search for video titles" class="padding-0"
                       ng-focus="videoLib.showSearch()"
                       ng-blur="videoLib.hideSearch()" ng-model="videoLib.searchTitle">
                <i class="icon ion-ios-close placeholder-icon text-16" ng-if="videoLib.searchOpenLate"></i>

            </label>
            <div class="col-mod text-right">
                <button class="button button-icon icon dark padding-right-0"
                        ng-disabled="!videoLib.searchTitle"
                        ng-click="videoLib.search(videoLib.searchTitle)"
                        ng-class="{'ion-ios-search':videoLib.searchResults.length==0,'ion-android-close':videoLib.searchResults.length!=0}">
                </button>
            </div>
        </div>
        <div class="sports-dropdown">
            <ion-list class="z-49 slider-element fast-animated" ng-if="videoLib.menuDropped"
                      ng-class="{'slideInDown_videoLib':videoLib.backdrop,'slideOutUp_videoLib':!videoLib.backdrop}">
                <ion-item class="item-input-inset dropmenu-content width-60 margin-left-10"
                          ng-repeat="sport in videoLib.mySports"
                          ng-click="videoLib.selectSport(sport);">
                    <span>{{sport.sportName|capitalize}} </span>
                </ion-item>
            </ion-list>

            <div class="slider-element dark-translucent-bg z-48" ng-style="videoLib.general"
                 ng-if="videoLib.menuDropped"
                 ng-click="videoLib.hideMenu()">

            </div>
        </div>
    </ion-header-bar>

    <ion-content class="has-header has-subheader has-tabs stable-bg" ng-class="{'has-subsubheader':sportSelected}">

        <!--<ion-list class="z-50 slider-element fast-animated" ng-if="videoLib.menuDropped"-->
                  <!--ng-class="{'slideInDown':videoLib.backdrop,'slideOutUp':!videoLib.backdrop}">-->
            <!--<ion-item class="item-input-inset dropmenu-content width-60 margin-left-10"-->
                      <!--ng-repeat="sport in videoLib.mySports"-->
                      <!--ng-click="videoLib.selectSport(sport);">-->
                <!--<span>{{sport.sportName|capitalize}} </span>-->
            <!--</ion-item>-->
        <!--</ion-list>-->
        <!--<div class="slider-element dark-translucent-bg z-49" ng-style="videoLib.general" ng-if="videoLib.menuDropped"-->
             <!--ng-click="videoLib.hideMenu()">-->
        <!--</div>-->


        <div id="general" class="z-10 slider-element stable-bg" ng-style="videoLib.general" ng-show="videoLib.showDivision==1||videoLib.showDivision==0"
             ng-class="{
                 'z-11':videoLib.status==1 && videoLib.prevStatus==1,
                 'z-11 slideInFromLeft':videoLib.status==1 && videoLib.prevStatus==2,
                 'slideInFromLeft z-11':videoLib.status==1 && videoLib.prevStatus==3,
                 'z-10 slideOutToLeft':videoLib.status==2 && videoLib.prevStatus==1,
                 'slideOutToLeft z-10':videoLib.status==3 && videoLib.prevStatus==1}">
            <div ng-if="!sportSelected" ng-style="videoLib.placeholder">
                <div class="row">
                    <div class="col gray bold text-x-large text-center">
                        Select a sport
                    </div>
                </div>
                <div class="grid">
                    <div class="row row-mod">
                        <div class="col col-33 col-mod" ng-repeat="sport in videoLib.mySports" >
                            <img ng-src="{{backend}}/sportImages/{{sport.image}}" class="full-image sport-image"
                                 ng-click="videoLib.selectSport(sport)">
                            <h5 class="text-center margin-0 gray">{{sport.sportName|capitalize}}</h5>
                        </div>
                    </div>


                </div>
            </div>
            <div ng-if="sportSelected && videoLib.fetchedVideoList.length==0" ng-style="videoLib.placeholder">
                <div class="row">
                    <div class="col gray text-center">
                        There are currently no videos in this sport.
                    </div>
                </div>
                <div class="row">
                    <div class="col gray bold text-x-large text-center" ng-click="videoLib.browseAllVideos()">
                        Check back later
                    </div>
                </div>
            </div>

            <ion-list ng-if="sportSelected">
                <ion-item class="item-thumbnail-left parent" ng-if="videoLib.searchResults.length==0"
                          ng-click="videoLib.playVideo(video)"
                          ng-repeat="video in videoLib.fetchedVideoList|filterDataBySportId:sportSelected._id|orderBy:videoLib.sortBy|filterPaidVideos:videoLib.showPaid|filterVideoByLevel1Tags:videoLib.appliedFilter.tagsLevel1|                           filterVideoByLevel2Tags:videoLib.appliedFilter.tagsLevel2|                           filterVideoByLevel3Tags:videoLib.appliedFilter.tagsLevel3">
                    <img ng-src="{{video.thumbnail}}">

                    <h2>{{video.title}}
                       </h2>

                    <i class="icon ion-social-usd sparup-orange paid-video-icon" ng-if="video.paidVideo"></i>
                    <p class="ellipsis balanced text-right text-12" ng-if="video.subscribed">Subscribed</p>
                    <p class="ellipsis">{{video.description}}</p>

                    <div class="row row-center row-no-padding video-duration">
                        <div class="col gray text-small">
                            <div class="row row-center row-no-padding">
                                <div class="col padding-right-5">
                                    <i class="icon ion-eye text-large padding-right-5 valign-middle"></i>
                                    {{video.numberOfViews}}
                                </div>
                                <div class="col ">
                                    <i class="icon ion-heart text-large padding-right-5 valign-middle"
                                       ng-class="{'sparup-orange':(video._id|likeVideoFilter)}"></i>
                                    {{video.likes}}
                                </div>
                            </div>
                        </div>
                        <div class="col col-33 text-right gray text-small">
                           {{video.duration|secondsToHMS}}
                        </div>
                    </div>
                </ion-item>
                <ion-item class="item-thumbnail-left parent" ng-if="videoLib.searchResults.length!=0"
                          ng-click="videoLib.playVideo(video)"
                          ng-repeat="video in videoLib.searchResults|orderBy:videoLib.sortBy|filterPaidVideos:videoLib.showPaid|filterVideoByLevel1Tags:videoLib.appliedFilter.tagsLevel1|                           filterVideoByLevel2Tags:videoLib.appliedFilter.tagsLevel2|                           filterVideoByLevel3Tags:videoLib.appliedFilter.tagsLevel3">
                    <!--|searchVideo:videoLib.searchThisVideo-->
                    <img ng-src="{{video.thumbnail}}">

                    <h2>{{video.title}}</h2>

                    <p class="ellipsis">{{video.description}}</p>

                    <div class="row row-center row-no-padding video-duration">
                        <div class="col gray text-small">
                            <div class="row row-center row-no-padding">
                                <div class="col padding-right-5">
                                    <i class="icon ion-eye text-large padding-right-5 valign-middle"></i>
                                    {{video.numberOfViews}}
                                </div>
                                <div class="col ">
                                    <i class="icon ion-heart text-large padding-right-5 valign-middle"
                                       ng-class="{'sparup-orange':(video._id|likeVideoFilter)}"></i>
                                    {{video.likes}}
                                </div>
                            </div>
                        </div>
                        <div class="col col-33 text-right gray text-small">
                           {{video.duration|secondsToHMS}}
                        </div>
                    </div>
                </ion-item>
            </ion-list>
        </div>


        <div id="subscribed" class="z-9 slider-element stable-bg" ng-style="videoLib.subscribed" ng-show="videoLib.showDivision==2||videoLib.showDivision==0"
             ng-class="{
                 'z-11':videoLib.status==2 && videoLib.prevStatus==2,
                 'z-10 slideOutToRight':videoLib.status==1 && videoLib.prevStatus==2,
                 'z-11 slideInFromRight':videoLib.status==2 && videoLib.prevStatus==1,
                 'z-11 slideInFromLeft':videoLib.status==2 && videoLib.prevStatus==3,
                 'z-10 slideOutToLeft':videoLib.status==3 && videoLib.prevStatus==2}">
            <div ng-if="!sportSelected" ng-style="videoLib.placeholder">
                <div class="row">
                    <div class="col gray bold text-x-large text-center">
                        Select a sport
                    </div>
                </div>
                <div class="grid">
                    <div class="row row-mod">
                        <div class="col col-33 col-mod" ng-repeat="sport in videoLib.mySports">
                            <img ng-src="{{backend}}/sportImages/{{sport.image}}" class="full-image sport-image"
                                 ng-click="videoLib.selectSport(sport)">
                            <h5 class="text-center margin-0 gray">{{sport.sportName|capitalize}}</h5>
                        </div>
                    </div>


                </div>
            </div>
            <div ng-if="sportSelected && videoLib.videoForReview.videoList.length==0" ng-style="videoLib.placeholder">
                <div class="row">
                    <div class="col gray text-center">
                        You have no videos for review yet
                    </div>
                </div>
                <div class="row">
                    <div class="col sparup-orange bold text-x-large text-center"
                         ng-click="videoLib.changePrevStatus(1)">
                        Browse all videos
                    </div>
                </div>
            </div>
            <ion-list ng-if="sportSelected && videoLib.loadMoreViews">
                <ion-item class="item-thumbnail-left parent" ng-if="videoLib.searchResults.length==0"
                          ng-repeat="video in videoLib.videoForReview.videoList|filterDataBySportId:sportSelected._id|orderBy:videoLib.sortBy|filterVideoByLevel1Tags:videoLib.appliedFilter.tagsLevel1|                           filterVideoByLevel2Tags:videoLib.appliedFilter.tagsLevel2|                           filterVideoByLevel3Tags:videoLib.appliedFilter.tagsLevel3"
                          ng-click="videoLib.playReviewVideo(video)">
                    <img ng-src="{{video.thumbnail}}">
                    <h2>{{video.title|capitalize}}</h2>
                    <p class="ellipsis">{{video.description|capitalize}}</p>
                    <div class="row row-center row-no-padding video-duration">
                        <div class="col gray text-small">
                            <div class="row row-center row-no-padding">
                                <div class="col sparup-orange">
                                    {{video.videoBy.firstName}}
                                </div>
                            </div>
                        </div>
                        <div class="col text-right gray text-small">
                            <span class="sparup-orange" ng-if="video.reviewed">Reviewed</span>
                        </div>
                    </div>
                </ion-item>
                <ion-item class="item-thumbnail-left parent" ng-if="videoLib.searchResults.length!=0"
                          ng-repeat="video in videoLib.searchResults|orderBy:videoLib.sortBy|filterPaidVideos:videoLib.showPaid|filterVideoByLevel1Tags:videoLib.appliedFilter.tagsLevel1|                           filterVideoByLevel2Tags:videoLib.appliedFilter.tagsLevel2|                           filterVideoByLevel3Tags:videoLib.appliedFilter.tagsLevel3"
                          ng-click="videoLib.playReviewVideo(video)">
                    <img ng-src="{{video.thumbnail}}">
                    <h2>{{video.title|capitalize}}</h2>
                    <p class="ellipsis">{{video.description|capitalize}}</p>
                    <div class="row row-center row-no-padding video-duration">
                        <div class="col gray text-small">
                            <div class="row row-center row-no-padding">
                                <div class="col sparup-orange">
                                    {{video.videoBy.firstName}}
                                </div>
                            </div>
                        </div>
                        <div class="col text-right gray text-small">
                            <span class="sparup-orange" ng-if="video.reviewed">Reviewed</span>
                        </div>
                    </div>
                </ion-item>

            </ion-list>
        </div>


        <div id="uploaded" class="z-9 slider-element stable-bg" ng-style="videoLib.uploaded" ng-show="videoLib.showDivision==3||videoLib.showDivision==0"
             ng-class="{
                 'z-11':videoLib.status==3 && videoLib.prevStatus==3,
                 'z-9':videoLib.status==2 && videoLib.prevStatus==1,
                 'z-10 slideOutToRight':videoLib.status==1 && videoLib.prevStatus==3,
                 'slideOutToRight z-10':videoLib.status==2 && videoLib.prevStatus==3,
                 'z-11 slideInFromRight':videoLib.status==3 && videoLib.prevStatus==1,
                 'slideInFromRight z-11':videoLib.status==3 && videoLib.prevStatus==2}">
            <div ng-if="!sportSelected" ng-style="videoLib.placeholder">
                <div class="row">
                    <div class="col gray bold text-x-large text-center">
                        Select a sport
                    </div>
                </div>
                <div class="grid">
                    <div class="row row-mod">
                        <div class="col col-33 col-mod" ng-repeat="sport in videoLib.mySports">
                            <img ng-src="{{backend}}/sportImages/{{sport.image}}" class="full-image sport-image"
                                 ng-click="videoLib.selectSport(sport)">
                            <h5 class="text-center margin-0 gray">{{sport.sportName|capitalize}}</h5>
                        </div>
                    </div>


                </div>
            </div>
            <!--<div ng-if="sportSelected && videoLib.playerUploadedVideos.videosList==0" ng-style="videoLib.placeholder">-->
            <!--<div class="row">-->
                <!--<div class="col gray text-center">-->
                    <!--You have not uploaded any videos-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="col sparup-orange bold text-x-large text-center" ng-click="videoLib.uploadAVideo()">-->
                    <!--Upload a video-->
                <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--&& videoLib.playerUploadedVideos.videosList!=0-->
            <div ng-if="sportSelected && videoLib.loadMoreViews">
                <div ng-if="!videoLib.expandlist">
                    <ion-list>
                        <ion-item class="item-divider gray border-top-none">
                            Video Packages
                            <span class="package-icons">
                            <i class="icon ion-folder" ng-class="{'sparup-orange':videoLib.showPackages}"
                               ng-click="videoLib.switchToVideoPackage()"></i>
                            <i class="icon ion-ios-videocam padding-left-15"
                               ng-class="{'sparup-orange':!videoLib.showPackages}"
                               ng-click="videoLib.switchToVideoList()"></i>
                            </span>
                        </ion-item>
                    </ion-list>
                    <div class="search-list list card margin-bottom-0 margin-top-10 " ng-click="videoLib.expand()"
                         ng-if="videoLib.showPackages && videoLib.packageList.length!=0">
                        <ion-item class="item-thumbnail-left parent" ng-repeat="package in videoLib.packageList"
                                  ng-click="videoLib.getPackageVideos(package)">
                            <img ng-src="{{video.thumbnail}}">
                            <h2>{{package.packageName}}</h2>
                            <p class="ellipsis">{{package.refToVideos.length}} videos</p>
                            <div class="row row-center row-no-padding video-duration">
                                <div class="col  gray text-small">
                                    {{package.noOfSubscribers}} subscribers
                                </div>
                            </div>
                        </ion-item>
                    </div>
                    <div ng-if="videoLib.showPackages && videoLib.packageList.length==0" ng-style="videoLib.placeholder">
                        <div class="row">
                            <div class="col gray text-center">
                                You have not created any packages
                            </div>
                        </div>
                        <div class="row">
                            <div class="col sparup-orange bold text-x-large text-center"
                                 ng-click="videoLib.addPackage()">
                                Create a package
                            </div>
                        </div>
                    </div>

                    <ion-list ng-if="!videoLib.showPackages && videoLib.playerUploadedVideos.videosList.length!=0">
                        <ion-item class="item-thumbnail-left parent" ng-if="videoLib.searchResults.length==0"
                                  ng-repeat="video in videoLib.playerUploadedVideos.videosList|orderBy:videoLib.sortBy|filterVideoByLevel1Tags:videoLib.appliedFilter.tagsLevel1|                           filterVideoByLevel2Tags:videoLib.appliedFilter.tagsLevel2|                           filterVideoByLevel3Tags:videoLib.appliedFilter.tagsLevel3">
                            <img ng-src="{{video.thumbnail}}" ng-click="videoLib.playVideo(video)">
                            <h2>
                                <span>{{video.title|capitalize}}</span>
                                <span style="float: right" ng-click="videoLib.selectCoachForReview(video)"><i
                                        class="icon ion-android-share"></i></span>
                            </h2>

                            <p class="ellipsis" ng-click="videoLib.playVideo(video)">
                                {{video.description|capitalize}}</p>


                            <div class="col text-right gray text-small">
                                <span class="sparup-orange"
                                      ng-if="!video.review.review && video.review">Review Pending</span>
                                <span class="sparup-orange" ng-if="video.review.review">Reviewed</span>
                            </div>

                            <div class="row row-center row-no-padding video-duration"
                                 ng-click="videoLib.playVideo(video)">
                                <div class="col gray text-small">
                                    <div class="row row-center row-no-padding">
                                        <div class="col padding-right-5">
                                            <i class="icon ion-eye text-large padding-right-5 valign-middle"
                                               ng-class="{'sparup-orange':!(video._id|viewVideoFilter)}"></i>
                                            {{video.numberOfViews}}
                                        </div>
                                        <!--<div class="col" ng-if="!(video._id|likeVideoFilter)">-->
                                        <!--<i class="icon ion-heart text-large padding-right-5 valign-middle"></i>-->
                                        <!--{{video.likes}}-->
                                        <!--</div>-->

                                        <div class="col">
                                            <i class="icon ion-heart text-large padding-right-5 valign-middle"
                                               ng-class="{'sparup-orange':(video._id|likeVideoFilter)}"></i>
                                            {{video.likes}}
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="col col-33 text-right gray text-small" ng-click="videoLib.playVideo(video)">-->
                                    <!--9:10-->
                                <!--</div>-->
                            </div>
                        </ion-item>
                        <ion-item class="item-thumbnail-left parent" ng-if="videoLib.searchResults.length!=0"
                                  ng-repeat="video in videoLib.searchResults|orderBy:videoLib.sortBy|filterVideoByLevel1Tags:videoLib.appliedFilter.tagsLevel1|                           filterVideoByLevel2Tags:videoLib.appliedFilter.tagsLevel2|                           filterVideoByLevel3Tags:videoLib.appliedFilter.tagsLevel3">
                            <img ng-src="{{video.thumbnail}}" ng-click="videoLib.playVideo(video)">

                            <h2>
                                <span>{{video.title|capitalize}}</span>
                                <span style="float: right" ng-click="videoLib.selectCoachForReview()"><i
                                        class="icon ion-android-share"></i></span>
                            </h2>

                            <p class="ellipsis" ng-click="videoLib.playVideo(video)">
                                {{video.description|capitalize}}</p>


                            <div class="row row-center row-no-padding video-duration"
                                 ng-click="videoLib.playVideo(video)">
                                <div class="col gray text-small">
                                    <div class="row row-center row-no-padding">
                                        <div class="col padding-right-5">
                                            <i class="icon ion-eye text-large padding-right-5 valign-middle"
                                               ng-class="{'sparup-orange':!(video._id|viewVideoFilter)}"></i>
                                            {{video.numberOfViews}}
                                        </div>
                                        <!--<div class="col" ng-if="!(video._id|likeVideoFilter)">-->
                                        <!--<i class="icon ion-heart text-large padding-right-5 valign-middle"></i>-->
                                        <!--{{video.likes}}-->
                                        <!--</div>-->

                                        <div class="col">
                                            <i class="icon ion-heart text-large padding-right-5 valign-middle"
                                               ng-class="{'sparup-orange':(video._id|likeVideoFilter)}"></i>
                                            {{video.likes}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-33 text-right gray text-small" ng-click="videoLib.playVideo(video)">
                                   {{video.duration|secondsToHMS}}
                                </div>
                            </div>
                        </ion-item>
                    </ion-list>
                    <div ng-if="!videoLib.showPackages && videoLib.playerUploadedVideos.videosList.length==0"
                         ng-style="videoLib.placeholder">
                        <div class="row">
                            <div class="col gray text-center">
                                You have not uploaded any videos
                            </div>
                        </div>
                        <div class="row">
                            <div class="col sparup-orange bold text-x-large text-center"
                                 ng-click="videoLib.uploadVideo()">
                                Upload a video
                            </div>
                        </div>
                    </div>
                </div>
                <ion-list ng-if="videoLib.expandlist">
                    <ion-item class="item-divider gray ">
                        <i class="icon ion-chevron-left padding-right-10" ng-click="videoLib.collapse()"></i>
                        {{videoLib.selectedPackage}} <i class="right icon ion-edit"
                                                        ng-click="videoLib.showAddVideoToPackageModal()"></i>
                    </ion-item>
                    <ion-item class="item-thumbnail-left parent" ng-repeat="video in videoLib.packageVideoList"
                              ng-click="videoLib.playVideo(video)">
                        <img ng-src="{{video.thumbnail}}">
                        <h2>{{video.title}}</h2>
                        <p class="ellipsis">{{video.description}}</p>
                        <div class="row row-no-padding video-duration">
                            <div class="col gray text-small">
                                <div class="row row-center row-no-padding">
                                    <div class="col padding-right-5">
                                        <i class="icon ion-eye text-large padding-right-5 valign-middle"></i>
                                        {{video.numberOfViews}}
                                    </div>
                                    <div class="col ">
                                        <i class="icon ion-heart text-large padding-right-5 valign-middle"></i>
                                        {{video.likes}}
                                    </div>
                                </div>
                            </div>
                            <div class="col col-33 text-right gray text-small">
                                {{video.duration|secondsToHMS}}
                            </div>
                        </div>
                    </ion-item>
                </ion-list>
            </div>


            <!--<div class="row" ng-if="videoLib.showActionDiv">-->
                <!--<div class="col">-->
                    <!--<button ng-click="videoLib.addPackage()">Add Package</button>-->
                    <!--<button ng-click="videoLib.uploadVideo()">Add Video</button>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </ion-content>
    <div class="hidden fast-animated floatButton button button-icon button-sparup-orange icon ion-plus valign-child"
         ng-class="{'visible zoomIn':videoLib.showUploadButton,'ion-plus':!videoLib.add,'ion-minus':videoLib.add}" ng-click="videoLib.selectAction()">
    </div>
    <div class="hidden fast-animated floatButton3 button button-icon button-sparup-orange icon ion-folder valign-child"
         ng-class="{'visible slideInRight':videoLib.add,' slideOutRight':!videoLib.add}" ng-click="videoLib.showAddPackageModal()">
    </div>
    <div class="hidden fast-animated floatButton4 button button-icon button-sparup-orange icon ion-ios-videocam valign-child"
         ng-class="{'visible slideInUp':videoLib.add, ' slideOutDown':!videoLib.add}" ng-click="videoLib.uploadVideo()">
    </div>
    <!--<div class="hidden fast-animated floatButton button button-icon button-sparup-orange icon ion-android-drafts valign-child"-->
    <!--ng-class="{'visible zoomIn':videoLib.showReviewButton}" ng-click="videoLib.goToReview()">-->
    <!--<span class="badge badge-sparup-orange absolute">10</span>-->
    <!--</div>-->
    <div ng-if="videoLib.showSpinner" class="absolute z-50" ng-style="videoLib.fullDim">
        <ion-spinner icon="ios" class="spinner-assertive absolute screenCenter "></ion-spinner>
    </div>
</ion-view>
