.padding-0{
  padding: 0!important;
}

.padding-10{
    padding: 10px!important;
}

.margin-0{
  margin: 0!important;
}

.margin-top-0 {
  margin-top: 0 !important;
}

.margin-top-5 {
    margin-top: 5px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-top-15 {
    margin-top: 15px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.margin-top-25 {
    margin-top: 25px !important;
}

.margin-top-30 {
    margin-top: 30px !important;
}

.padding-top-0{
    padding-top: 0 !important;
}

.padding-top-5 {
    padding-top: 5px !important;
}

.padding-top-10 {
    padding-top: 10px !important;
}

.padding-top-15 {
    padding-top: 15px !important;
}

.padding-top-20 {
    padding-top: 20px !important;
}

.padding-top-25 {
    padding-top: 25px !important;
}

.padding-top-30 {
    padding-top: 30px !important;
}

/*Bottom-margins and paddings*/
.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.margin-bottom-15 {
    margin-bottom: 15px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-bottom-25 {
    margin-bottom: 25px !important;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}

.padding-bottom-0{
    padding-bottom: 0 !important;
}

.padding-bottom-5 {
    padding-bottom: 5px !important;
}

.padding-bottom-10 {
    padding-bottom: 10px !important;
}

.padding-bottom-15 {
    padding-bottom: 15px !important;
}

.padding-bottom-20 {
    padding-bottom: 20px !important;
}

.padding-bottom-25 {
    padding-bottom: 25px !important;
}

.padding-bottom-30 {
    padding-bottom: 30px !important;
}

/*left-margins and paddings*/
.margin-left-5 {
    margin-left: 5px !important;
}

.margin-left-10 {
    margin-left: 10px !important;
}

.margin-left-15 {
    margin-left: 15px !important;
}

.margin-left-20 {
    margin-left: 20px !important;
}

.margin-left-25 {
    margin-left: 25px !important;
}

.margin-left-30 {
    margin-left: 30px !important;
}

.padding-left-0{
  padding-left: 0 !important;
}

.padding-left-5 {
    padding-left: 5px !important;
}

.padding-left-10 {
    padding-left: 10px !important;
}

.padding-left-15 {
    padding-left: 15px !important;
}

.padding-left-20 {
    padding-left: 20px !important;
}

.padding-left-25 {
    padding-left: 25px !important;
}

.padding-left-30 {
    padding-left: 30px !important;
}

/*right-margins and paddings*/
.margin-right-5 {
    margin-right: 5px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-right-15 {
    margin-right: 15px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-right-25 {
    margin-right: 25px;
}

.margin-right-30 {
    margin-right: 30px;
}

.padding-right-0{
    padding-right: 0 !important;
}

.padding-right-5 {
    padding-right: 5px !important;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-right-15 {
    padding-right: 15px;
}

.padding-right-20 {
    padding-right: 20px;
}

.padding-right-25 {
    padding-right: 25px;
}

.padding-right-30 {
    padding-right: 30px;
}

.img-rounded {
    border-radius: 50%;
}
.text-x-small{
    font-size: 0.6em !important;
}

.text-small {
    font-size: 0.8em !important;
}

.text-normal {
  font-size: 1em !important;
}

.text-medium {
    font-size: 1.2em !important;
}

.text-large {
    font-size: 1.4em !important;
}

.text-x-large {
    font-size: 1.6em !important;
}

.text-xx-large {
  font-size: 1.8em !important;
}

.text-xxx-large {
  font-size: 2em !important;
}


.bold {
    font-weight: bold;
}

.normal {
    font-weight: normal;
}

.thin {
    font-weight: lighter;
}

.italic {
    font-style: italic;
}

.ion-nifty-modal {
    position: absolute;
    right: 5%;
    width: 90%;
    min-height: 0 !important;
    /*height: 400px !important;*/
    top: 25%;
    /*bottom: 5%;*/
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.ion-nifty-modal .ion-modal-content-custom {
    width: 100%;
    height: 100%;
    /*border-radius: 10px;*/
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
    .active .modal-backdrop-bg {
        opacity: .5;
    }

    .modal-backdrop-bg {
        -webkit-transition: opacity 300ms ease-in-out;
        transition: opacity 300ms ease-in-out;
        background-color: #000;
        opacity: 0;
    }
}

.border-light{
    border: 1px solid white !important;
}
.border-top-light{
    border-top: 1px solid white !important;
}
.border-bottom-light{
    border-bottom: 1px solid white !important;
}
.border-left-light{
    border-left: 1px solid white !important;
}
.border-right-light{
    border-right: 1px solid white !important;
}

.border-lightgray{
    border: 1px solid lightgray !important;
}
.border-top-lightgray{
    border-top: 1px solid lightgray !important;
}
.border-bottom-lightgray{
    border-bottom: 1px solid lightgray !important;
}
.border-left-lightgray{
    border-left: 1px solid lightgray !important;
}
.border-right-lightgray{
    border-right: 1px solid lightgray !important;
}

.border-dark{
    border: 1px solid #555555 !important;
}
.border-top-dark{
    border-top: 1px solid #555555 !important;
}
.border-bottom-dark{
    border-bottom: 1px solid #555555 !important;
}
.border-left-dark{
    border-left: 1px solid #555555 !important;
}
.border-right-dark{
    border-right: 1px solid #555555 !important;
}

.border-gray{
  border: 1px solid #ccc !important;
}
.border-top-gray{
  border-top: 1px solid #ccc !important;
}
.border-bottom-gray{
  border-bottom: 1px solid #ccc !important;
}
.border-left-gray{
  border-left: 1px solid #ccc !important;
}
.border-right-gray{
  border-right: 1px solid #ccc !important;
}

.justify{
    text-align: justify;
}
.div-center{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.list-no-margin{
  margin-top: 0!important;
  margin-bottom: 0 !important;
}
.relative{
  position: relative;
}
.parent-bottom{
  position: absolute;
  bottom: 0;
}
.no-border-radius{
  border-radius: 0 !important;
}
.gray{
  color: gray;
}
.dark-gray{
    color: #444;
}
.padding-horizontal-20{
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.padding-horizontal-16{
    padding-left: 16px !important;
    padding-right: 16px !important;
}
.padding-horizontal-3{
    padding-left: 3px !important;
    padding-right: 3px !important;
}
.ellipsis{
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}