/* Empty. Add your own CSS if you like */
.button.button-sparup-orange {
    border-color: #1da1f1;
    background-color: #1da1f1;
    color: #fff;
}

.button.button-sparup-orange.dark {
    border-color: #1da1f1;
    background-color: #1da1f1;
    color: #fff;
}

.button.button-sparup-orange:hover {
    color: #fff;
    text-decoration: none;
}

.button.button-sparup-orange.active,
.button.button-sparup-orange.activated {
    border-color: #1da1f1;
    background-color: #1da1f1;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
}

.button.button-sparup-orange.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #1da1f1;
}

.button.button-sparup-orange.button-icon {
    border-color: transparent;
    background: none;
}

.button.button-sparup-orange.button-outline {
    border-color: #1da1f1;
    background: transparent;
    color: #1da1f1;
}

.button.button-sparup-orange.button-outline.active,
.button.button-sparup-orange.button-outline.activated {
    background-color: #1da1f1;
    box-shadow: none;
    color: #fff;
}

.sparup-orange {
    color: #1da1f1 !important;
}

.login-button {
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
}

.sparup-orange-bg {
    background-color: #1da1f1 !important;
}

.signup-bg {
    background-color: #fdfdfd !important;
}

.sparup-gray {
    color: #979a9c;
}

.sparup-gray-bg {
    background-color: #979a9c;
}

.div-centered-90, .div-centered-90 .list {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.div-centered-80 {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.div-centered-60 {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.no-border {
    border: none !important;
}

.textarea {
    background: #eeeeee;
    width: 100%;
    color: gray;
    line-height: 15px;
    padding: 10px;
    resize: none;
}

/*Custom colored bar*/
.bar.bar-fxt-gray {
    border-color: #a5a5a5;
    background-color: #ebebeb;
    background-image: linear-gradient(0deg, #a5a5a5, #a5a5a5 50%, transparent 50%);
    color: #444;
}

.bar.bar-fxt-gray .title {
    color: #444;
}

.bar.bar-fxt-gray.bar-footer {
    background-image: linear-gradient(180deg, #a5a5a5, #a5a5a5 50%, transparent 50%);
}

.bar-fxt-gray .button {
    border-color: #a5a5a5;
    background-color: #ebebeb;
    color: #444;
}

.bar-fxt-gray .button:hover {
    color: #444;
    text-decoration: none;
}

.bar-fxt-gray .button.active, .bar-fxt-gray .button.activated {
    border-color: #959595;
    background-color: #e5e5e5;
}

.bar-fxt-gray .button.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #444;
    font-size: 17px;
}

.bar-fxt-gray .button.button-icon {
    border-color: transparent;
    background: none;
}

.button-bar.bar-fxt-gray > .button {
    border-color: #a5a5a5;
}

/*Custom colored tabs*/
.tabs-fxt-gray > .tabs,
.tabs.tabs-fxt-gray {
    border-color: transparent;
    background-color: #ebebeb;
    /*background-image: linear-gradient(0deg, #a5a5a5, #a5a5a5 50%, transparent 50%);*/
    color: #444;
    font-size: 1em;
}

.tabs-fxt-gray > .tabs .tab-item .badge,
.tabs.tabs-fxt-gray .tab-item .badge {
    background-color: #fff;
    color: #444;
    font-size: 1em;
}

.tabs-striped.tabs-fxt-gray .tabs {
    background-color: #ebebeb;
}

.tabs-striped.tabs-fxt-gray .tab-item {
    color: #444;
    font-size: 1em;
    opacity: 1;
}

.tabs-striped.tabs-fxt-gray .tab-item .badge {
    opacity: 0.2;
}

.tabs-striped.tabs-fxt-gray .tab-item.tab-item-active, .tabs-striped.tabs-fxt-gray .tab-item.active, .tabs-striped.tabs-fxt-gray .tab-item.activated {
    margin-top: 0;
    color: #fff;
    border-style: solid;
    border-width: 2px 0 0 0;
    border-color: #1da1f1;
    background-color: gray;
    font-size: 1em;
}

.tabs-fxt-gray.tabs-top > .tabs {
    border: none !important;
}

.login-label {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 40px !important;
    padding-left: 0;
    text-align: center;
}

.login-input {
    padding-right: 0 !important;
    text-align: center;
}

.limitWidth {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.limitLogoHeight {
    max-height: 130px;
}

.grid {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.max-300 {
    max-width: 300px;
}

.valign-parent {
    display: table;
    width: 100%;
}

.valign-child {
    display: table-cell;
    vertical-align: middle;
}

.sport-image {
    border: 1px solid #1da1f1;
    border-radius: 5px;
}

.selected-sport-image {
    border: 1px solid #00ff00;
    border-radius: 5px;
}

.profile-navicons {
    position: absolute;
    bottom: 3px;
    z-index: 1;
    width: 100%;
    height: 40px;
}

.experience .list .item.item-checkbox {
    background-color: transparent;
    /*border: none !important;*/
    padding-top: 7px !important;
    padding-bottom: 5px !important;
}

.experience .list .item.item-checkbox .item-content {
    white-space: pre-line;
!important;
}

.tournament .list .item.item-checkbox {
    background-color: transparent;
}

.tournament .list .item.item-checkbox .item-content {
    white-space: pre-line;
!important;
}

.slider-pager{
    bottom: 32px !important;
}
.checkbox-sparup input:before,
.checkbox-sparup .checkbox-icon:before {
    border-color: #ddd;
}

.checkbox-sparup input:checked:before,
.checkbox-sparup input:checked + .checkbox-icon:before {
    background: #1da1f1;
    border-color: #1da1f1;
}

.profile-header {
    border: none !important;
    background-image: none !important;
}

.padding-bottom-50 {
    padding-bottom: 40px !important;
}

.tabs-sparup-orange > .tabs,
.tabs.tabs-sparup-orange {
    border-color: #979a9c;
    background-color: #fff;
    background-image: linear-gradient(0deg, #979a9c, #979a9c 50%, transparent 50%);
    color: #979a9c;
}

.button-bar.bar-sparup-gray > .button {
    border-color: #828282;
}

.bar.bar-sparup-gray {
    border-color: #828282;
    background-color: #979a9c;
    background-image: linear-gradient(0deg, #828282, #828282 50%, transparent 50%);
    color: #fff;
}

.bar.bar-sparup-gray .title {
    color: #fff;
}

.bar.bar-sparup-gray.bar-footer {
    background-image: linear-gradient(180deg, #828282, #828282 50%, transparent 50%);
}

.bar-sparup-gray .button {
    border-color: #828282;
    background-color: #979a9c;
    color: #fff;
}

.bar-sparup-gray .button:hover {
    color: #fff;
    text-decoration: none;
}

.bar-sparup-gray .button.active, .bar-sparup-gray .button.activated {
    border-color: #727272;
    background-color: #848789;
}

.bar-sparup-gray .button.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #fff;
    font-size: 17px;
}

.bar-sparup-gray .button.button-icon {
    border-color: transparent;
    background: none;
}

.button-bar.bar-sparup-orange > .button {
    border-color: #1da1f1;
}

.bar.bar-sparup-orange {
    border-color: #1da1f1;
    background-color: #1da1f1;
    background-image: linear-gradient(0deg, #1da1f1, #1da1f1 50%, transparent 50%);
    color: #fff;
}

.bar.bar-sparup-orange .title {
    color: #fff;
}

.bar.bar-sparup-orange.bar-footer {
    background-image: linear-gradient(180deg, #1da1f1, #1da1f1 50%, transparent 50%);
}

.bar-sparup-orange .button {
    border-color: #1da1f1;
    background-color: #1da1f1;
    color: #fff;
}

.bar-sparup-orange .button:hover {
    color: #fff;
    text-decoration: none;
}

.bar-sparup-orange .button.active, .bar-sparup-orange .button.activated {
    border-color: #727272;
    background-color: #848789;
}

.bar-sparup-orange .button.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #fff;
    font-size: 17px;
}

.bar-sparup-orange .button.button-icon {
    border-color: transparent;
    background: none;
}

.my-menu.sidemenu-bg {
    /*background-image: url('../img/sidemenu-bg.jpg');*/
    /*background-position: center center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    background-color: #1da1f1;
}

.sidemenu-footer.bar.bar-footer {
    background-color: transparent !important;
    height: 88px !important;
    color: white;
}

.has-sidemenu-footer {
    bottom: 88px !important;
}

.sidemenu-footer {
    background-image: none !important;
}

.sidemenu-profile-photo {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    max-width: 100px;
    max-height: 100px;
    border: 5px solid #eee;

}

.sidemenu-small-button {
    color: white;
    border: 2px white solid;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    line-height: 32px;
    min-height: 32px;
}

.sidemenu-small-button.icon:before {
    font-size: 24px;
    line-height: 28px;
}

.sidemenu-list .item{
    background: transparent !important;
    border: none;
    border-bottom: 1px solid rgba(238, 238, 238, 0.73);
    color: white;
    text-align: center;
    font-size: 16px;
}

.sidemenu-list .item.item-complex .item-content{
    background: transparent !important;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 16px !important;
}

.sidemenu-list .list {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 30px;*/
}

.feed-list .list .item-avatar-left > img:first-child {
    border-radius: 0 !important;
    top: 10px;
}

.search-list.list .item-avatar > img:first-child {
    border-radius: 0 !important;
}

.search-list.list .item-avatar {
    min-height: 61px;
    padding-bottom: 5px;
}

.search-list.list .details {
    font-size: 12px;
    color: gray;
}

.feed-list .list .item-avatar-left h2, .feed-list .list .item-avatar-left p {
    white-space: pre-line;
}

.feed-list .list .item-avatar-left {
    padding-top: 10px;
    padding-bottom: 5px;
    border: none;
    min-height: 62px !important;
}

/*.item-avatar-left.item-avatar-right,*/
/*.item-avatar-left.item-avatar-right .item-content {*/
/*padding-right:16px;*/
/*min-height: 72px; }*/
/*.item-avatar-left.item-avatar-right > img:last-child,*/
/*.item-avatar-left.item-avatar-right .item-image,*/
/*.item-avatar-left.item-avatar-right .item-content > img:last-child,*/
/*.item-avatar-left.item-avatar-right .item-content .item-image {*/
/*position: absolute;*/
/*top: 60px;*/
/*left: 16px;*/
/*max-width: 40px;*/
/*max-height: 40px;*/
/*width: 100%;*/
/*height: 100%;*/
/*border-radius: 0; }*/

.coach-player-toggle {
    border: 1px solid white;
    height: 24px;
    line-height: 22px;
    color: white;
    border-radius: 12px;
    text-align: center;
}

.coach-player-toggle div:first-child {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.coach-player-toggle .selected {
    background-color: white;
    color: #1da1f1;
    font-weight: bold;
}

.coach-player-toggle div:last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.coach-player-toggle .not-selected {
    background-color: transparent;
    color: gray;
}

.signup.coach-player-toggle {
    border: 1px solid #ddd;
    height: 24px;
    line-height: 22px;
    color: white;
    border-radius: 12px;
    text-align: center;
}

.signup.coach-player-toggle .selected {
    background-color: #1da1f1;
    color: white;
    font-weight: bold;
}

.signup.coach-player-toggle .not-selected {
    background-color: #fdfdfd;
    color: #ddd;
}

.signup-list .list, .signup-list .list label {
    /*background-color: #fdfdfd;*/
}

.errors{

    color: red;
}
.errors-light-bg {
    height: 20px;
    color: red;
    background-color: #fff;
    line-height: 20px;
    font-size: 12px !important;
    text-align: center;
}

.bar.bar-stable .title.create-profile {
    font-size: 14px;
    /*color: #1da1f1;*/
    text-align: center;
}

.chat-button {
    min-width: 50px;
    border-radius: 0;
}

.search-person-likes {
    position: absolute;
    top: 16px;
    right: 20px;
}

.cover-picture {
    height: 200px;
    background-image: url('../img/coach.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cover-picture-player {
    height: 200px;
    background-image: url('../img/player.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cover-picture-profile {
    height: 200px;
    background-image: url('../img/player.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.video-frame{
    background-image: url('../img/icon.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20%;
}

.profile-picture {
    width: 100%;;
    border-radius: 50%;
    border: 2px solid #1da1f1
}

.profile-basic {
    width: 100%;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.parent {
    position: relative;
}

.profile-details-map {
    max-height: 100px;
}

.video-duration {
    position: absolute;
    bottom: 5px;
    right: 0;
    width: 100%;
    padding-left: 106px;
    padding-right: 16px;
}
#profile-videos{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    background-color: #f8f8f8;
}
#basicInfo{
    position: absolute;
    top:0;
    width: 100%;
    background-color: #f8f8f8;
}
@-webkit-keyframes slideInFromRight {
    from {
        visibility: visible;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        visibility: visible;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInFromRight {
    from {
        visibility: visible;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        visibility: visible;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInFromRight {
    -webkit-animation-name: slideInFromRight;
    animation-name: slideInFromRight;
    -webkit-animation-duration: 0.2s;
    -moz-animation-duration: 0.2s;
    -o-animation-duration: 0.2s;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
@-webkit-keyframes slideOutToLeft {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {

        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes slideOutToLeft {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {

        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

.slideOutToLeft {
    -webkit-animation-name: slideOutToLeft;
    animation-name: slideOutToLeft;
    -webkit-animation-duration: 0.2s;
    -moz-animation-duration: 0.2s;
    -o-animation-duration: 0.2s;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

@-webkit-keyframes slideInFromLeft {
    from {
        visibility: visible;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        visibility: visible;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInFromLeft {
    from {
        visibility: visible;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {visibility: visible;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInFromLeft {
    -webkit-animation-name: slideInFromLeft;
    animation-name: slideInFromLeft;
    -webkit-animation-duration: 0.2s;
    -moz-animation-duration: 0.2s;
    -o-animation-duration: 0.2s;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
@-webkit-keyframes slideOutToRight {
    from {

        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {

        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

@keyframes slideOutToRight {
    from {

        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {

        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

.slideOutToRight {
    -webkit-animation-name: slideOutToRight;
    animation-name: slideOutToRight;
    -webkit-animation-duration: 0.2s;
    -moz-animation-duration: 0.2s;
    -o-animation-duration: 0.2s;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.z-9{
    z-index: 9;
}
.z-10{
    z-index: 10;
}
.z-11{
    z-index: 11;
}
.z-48{
    z-index: 48;
}
.z-49{
    z-index: 49;
}
.z-50{
    z-index: 50;
}
.filter-sort-row{
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
}
.item-checkbox.filter-checkbox{
    border: none;
    background-color: transparent;
}
.item-checkbox.rating-checkbox{
    border: none;
    background-color: transparent;
    padding-left: 0 !important;
}
.checkbox-sparup-orange input:before,
.checkbox-sparup-orange .checkbox-icon:before {
    border-color: #ddd; }

.checkbox-sparup-orange input:checked:before,
.checkbox-sparup-orange input:checked + .checkbox-icon:before {
    background: #1da1f1;
    border-color: #1da1f1; }
.toggle.toggle-sparup-orange input:checked + .track {
    border-color: #ef473a;
    background-color: #1da1f1; }
.toggle-small .toggle-sparup-orange input:checked + .track {
    background-color: #1da1f1; }

.toggle-small .toggle-sparup-orange input:checked + .track .handle {
    background-color: #1da1f1; }

.tag-selected{
    /*border:1px solid #f09242;*/
    /*border-radius: 5px;*/
    background-color: #1da1f1 !important;
}
.bar-subheader.bar-sparup-gray .title{
    font-size: 14px;
}
.wide-as-needed {
    overflow: visible;
    white-space: nowrap;
}
.row-mod{
    white-space: normal;
    display: block;
}
.col-mod{
    display: inline-block;
}
.videos-sport-selected{
    padding-left: 10px;
    padding-right: 10px;
    color: #f09242;
    font-weight: bold;
    font-size: 1.2em;
}
.videos-sport-not-selected{
    padding-left: 10px;
    padding-right: 10px;
    color: #aaa;
}
.bar-subheader.bar-stable.border-bottom-sparup-orange{
    border-bottom: 1px solid #f09242;
    border-color: #f09242;
    background-image: linear-gradient(0deg, #f09242, #f09242 50%, transparent 50%);
}
.valign-middle{
    vertical-align: middle;
}

.video-title{
    padding: 20px 20px 10px 20px !important;
    font-size: 1.8em;
    line-height: 1.1em;
}
@-webkit-keyframes slideOutToBottom {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {

        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes slideOutToBottom {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {

        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

.slideOutToBottom {
    -webkit-animation-name: slideOutToBottom;
    animation-name: slideOutToBottom;
    -webkit-animation-duration: 0.2s;
    -moz-animation-duration: 0.2s;
    -o-animation-duration: 0.2s;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

@-webkit-keyframes slideInFromBottom {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInFromBottom {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInFromBottom {
    -webkit-animation-name: slideInFromBottom;
    animation-name: slideInFromBottom;
    -webkit-animation-duration: 0.2s;
    -moz-animation-duration: 0.2s;
    -o-animation-duration: 0.2s;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.sportsPickPopup .popup-buttons {
    display: none;
}

.sportsPickPopup .popup {
    background-color: white;
    border-radius: 20px;
}

.sportsPickPopup .popup-body {
    padding: 0 !important;
}

.popup-separator {
    border-bottom: 1px solid #eee;
}
.sub-tab-1{
    border-right: 1px solid #ddd;
}
.selected-sub-tab{
    font-size: large;
    font-weight: bold;
    color: #1da1f1;
}
.bar-no-border{
    border:none !important;
    background-image: none !important;
}


.has-subheader .slider-element{
    position: absolute;
    width: 100%;
    left:0;
    top:0;
}
.bar .slider-element{
    position: absolute;
    width: 100%;
    left:0;
    top:0;
}

.profile-sport-dropdown{
    position: absolute;
    width: 100%;
    left:0;
    top:44px;
}
.profile-sport-dropdown2{
    position: absolute;
    width: 100%;
    left:0;
    top:88px;
}
.hidden{
    visibility: hidden;
}
.visible{
    visibility: visible;
}
.feedbackButton{
    z-index: 50;
    position: fixed;
    bottom: 12%;
    left:7%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* border: 1px solid #1da1f1; */
    box-shadow: 1px 2px 5px 1px gray;
    text-align: center;
    background-color: #1da1f1 !important;
    min-height:40px;
    line-height: 40px;
}
.feedbackButton.button:before{
    line-height: 35px;
    min-height: 40px;
    font-size: 28px;
}
.floatButton{
    z-index: 50;
    position: fixed;
    bottom: 12%;
    right:7%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* border: 1px solid #1da1f1; */
    box-shadow: 1px 2px 5px 1px gray;
    text-align: center;
    background-color: #1da1f1 !important;
}
.floatButton.button:before{
    line-height: 60px;
}
.floatButton2{
    z-index: 50;
    position: fixed;
    bottom: 5%;
    right:7%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* border: 1px solid #1da1f1; */
    box-shadow: 1px 2px 5px 1px gray;
    text-align: center;
    background-color: #1da1f1 !important;
}
.floatButton2.button:before{
    line-height: 55px;
}
.floatButton3{
    z-index: 49;
    position: fixed;
    bottom: 12%;
    right:35%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* border: 1px solid #1da1f1; */
    box-shadow: 1px 2px 5px 1px gray;
    text-align: center;
    background-color: #1da1f1 !important;
}
.floatButton3.button:before{
    line-height: 60px;
}
.floatButton4{
    z-index: 49;
    position: fixed;
    bottom: 28%;
    right:7%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* border: 1px solid #1da1f1; */
    box-shadow: 1px 2px 5px 1px gray;
    text-align: center;
    background-color: #1da1f1 !important;
}
.floatButton4.button:before{
    line-height: 60px;
}
.radio-sparup-orange.item-radio input:checked + .radio-content .radio-icon,
.radio-sparup-orange.item-radio input:checked + .radio-content .item-content{
    color: #1da1f1;
}
.radio-sparup-orange.item, .radio-sparup-orange.item-radio .item-content{
    background-color: transparent;
}
.radio-sparup-orange.item-radio .item-content{
    /*padding-top: 8px;*/
    /*padding-bottom: 8px;*/
}
.button-in-alert{
    margin: 0 15% !important;
    width: 70% !important;
}
.padding-header{
    padding-top: 44px;
}
.bar.bar-clear .title.dark{
    color: #444;
}
.video-thumbnail{
    width: 40%;
    border:1px solid #ddd;
}
.transparent-bg{
    background-color: transparent;!important;
}
.video-detail-label{
    border: none !important;
    background-color: transparent !important;
    border-bottom: 1px solid #ddd !important;
}
::-webkit-input-placeholder {
    color: #888 !important;
    font-size: 12px !important;
}

:-moz-placeholder { /* Firefox 18- */
    color: #888 !important;
    font-size: 12px !important;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #888 !important;
    font-size: 12px !important;
}

:-ms-input-placeholder {
    color: #888 !important;
    font-size: 12px !important;
}
.bar.edit-cover{
    position: absolute;
    top:0;
    right:0;
    color: #444;
}
.translucent-bg{
    background-color: rgba(0,0,0,0.2);
}
.dark-translucent-bg{
    background-color: rgba(0,0,0,0.8);
}
.inner-tab{
    position: absolute;
    width: 100%;
    left: 0;
}
.activity-list{
    font-size: 14px;
}
.padding-bottom-16{
    padding-bottom: 16px;
}
.padding-bottom-1{
    padding-bottom: 1px;
}
.text-12{
    font-size: 12px !important;
}
.text-14{
    font-size: 14px !important;
}
.text-16{
    font-size: 16px !important;
}
.text-18{
    font-size: 18px !important;
}
.text-20{
    font-size: 20px !important;
}
.chat-bubble{
    border: 1px solid #ddd;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}
.right{
    float: right;
}
.left{
    float: left;
}
 .header-item.title {
    transition-duration: 0ms;
}
 .header-item.buttons {
    transition-duration: 0ms;
}
 .footer-button{
     height: 75px !important;
     border:none !important;
     background-image: none !important;
 }
 .footer-button .button{
     height: 45px !important;
     border-radius: 22px !important;
 }
 .button-small-rounded{
     border-radius: 15px!important;
 }


.list .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
    line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
    display: block !important;
}
.question-area{
    min-height: 75px;
}
.has-subsubheader {
    top: 132px; }
.platform-ios.platform-cordova .modal-wrapper .modal .has-subsubheader {
    top: 132px; }
.platform-ios.platform-cordova:not(.fullscreen) .has-subsubheader {
    top: 152px; }

.sport-filter{
    border-bottom-width: 10px;
    border-top-width: 8px;
}


.bar-subsubheader {
    top: 88px;
    height: 44px; }
.bar-subsubheader .title {
    height: 43px;
    line-height: 44px; }
.platform-ios.platform-cordova:not(.fullscreen) .bar-subsubheader {
    top: 108px; }
.dropmenu-content{
    font-size: 14px;
    padding-left: 21px;
}

.fast-animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.v-fast-animated {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.margin-top-m10{
    margin-top: -10px;
}
.bar-slim{
    height:30px;
    padding: 0;
    border-top: 2px solid #444 !important;
    border-bottom: 2px solid #444 !important;
}
@-webkit-keyframes slideInDown_mod {
    from {
        -webkit-transform: translate3d(0, -30%, 0);
        transform: translate3d(0, -30%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInDown_mod {
    from {
        -webkit-transform: translate3d(0, -30%, 0);
        transform: translate3d(0, -30%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInDown_mod {
    -webkit-animation-name: slideInDown_mod;
    animation-name: slideInDown_mod;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}

@-webkit-keyframes slideOutUp_mod {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, -30%, 0);
        transform: translate3d(0, -30%, 0);
    }
}

@keyframes slideOutUp_mod {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, -30%, 0);
        transform: translate3d(0, -30%, 0);
    }
}

.slideOutUp_mod {
    -webkit-animation-name: slideOutUp_mod;
    animation-name: slideOutUp_mod;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}

@-webkit-keyframes slideInDown_videoLib {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInDown_videoLib {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInDown_videoLib {
    -webkit-animation-name: slideInDown_videoLib;
    animation-name: slideInDown_videoLib;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}

@-webkit-keyframes slideOutUp_videoLib {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

@keyframes slideOutUp_videoLib {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

.slideOutUp_videoLib {
    -webkit-animation-name: slideOutUp_videoLib;
    animation-name: slideOutUp_videoLib;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}

.search-bar{
    -webkit-transition: max-width 1s;
    -moz-transition: max-width 1s;
    -ms-transition: max-width 1s;
    -o-transition: max-width 1s;
    transition: max-width 1s;
    background: #e5feff;
    overflow: hidden;
/*height: 0;*/
    width: 0%;
}

.search-bar .expand{
    width:100%
}

.search-toggle{
    -webkit-transition: background .1s linear;
    -moz-transition: background .1s linear;
    -ms-transition: background .1s linear;
    -o-transition: background .1s linear;
    transition: background .1s linear;
    background: #00b8c9;
    border-radius: 3px;
    color: #fff;
    display: block;
    font-size: 30px;
    margin: 0 0 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}
.animate-maxwidth{
    overflow: hidden;
    -webkit-transition: max-width 0.6s;
    -moz-transition: max-width 0.6s ;
    -o-transition: max-width 0.6s ;
    transition: max-width 0.6s ;
}

.full-maxwidth{
    max-width: 80%;
}
.zero-maxwidth{
    max-width: 0%;
}
@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.v-fast-fadeout{
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-animation-duration: 0.1s;
    animation-duration: 0.1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.v-slow-fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.tabs-shadow{
    box-shadow: 1px 1px 4px #ddd;
}
.profile-nav-buttons{
    height: 30px;
    min-height: 30px;
    line-height: 28px;
}
.profile-nav-buttons:before{
    padding-top: 1px !important;
    height: 30px !important;
    min-height: 30px !important;
    line-height: 28px !important;
}
.width-60{
    width: 60%;
}
.bar-sportname{
    height: 30px;
    padding-right: 5px;
    line-height: 28px;
    border: 1px solid #1da1f1;
    border-right: none;
    background-color: #1da1f1;
    color: white;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.profile-sportname{
    height: 30px;
    padding-right: 5px;
    line-height: 28px;
    border: 1px solid #1da1f1;
    border-right: none;
    background-color: #1da1f1;
    color: white;
    border-radius: 4px;
}
.profile-add-sport{
    height: 30px;
    line-height: 28px;
    border: none;
    background: none;
    color: #1da1f1;
    text-align: right;
    padding-right: 15px !important;
}
.bar-search-box{
    border: 1px solid #999;
    border-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.border-bottom-none{
    border-bottom: none;
}
.border-top-none{
    border-top: none;
}
.filter-label{
    padding-left: 5px;
    min-width: 20%;
}
.slider-min{
    position: absolute;
    position: absolute;
    color: #1da1f1;
    top: 0;
    font-size: 0.8em;
}
.slider-value{
    position: absolute;
    position: absolute;
    color: #1da1f1;
    top: 0;
    font-size: 0.8em;
    min-width: 30px;
    text-align: center;
}
.caution{
    color: #00c9ca !important;
}
.sportname-vanish{
    padding: 0 !important;
    border: 0;
}
.animate-width{
    overflow: hidden;
    -webkit-transition: width 1s;
    -moz-transition: width 1s ;
    -o-transition: width 1s ;
    transition: width 1s ;
}
.width-0{
    width: 0;
}
.absolute{
    position: absolute !important;
}
.tabs .tab-item .badge.badge-sparup-orange,
.badge.badge-sparup-orange {
    background-color: #1da1f1;
    color: #fff; }
.reviewed-video{
    background-color: #e8e8e8;
}
.reviewed-video.item-icon-right .icon{
    right:6px !important;
    height:32px !important;
    font-size:20px !important;
}
.review-box{
    min-height: 150px;
}
.bar.item-input-inset .item-input-wrapper{
    margin-top:0 !important;
}
.bar-margin{
    margin-top:44px;
}
.gray-border{
    border:1px solid #aaa;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}
#addAcademy{
    padding-left: 1px !important;
    padding-right: 1px !important;
}
.balanced{
    color:#33cd5f !important;
}
.paid-video-icon{
    position: absolute;
    top: 8px;
    right: 15px;
}
.stable-bg{
    background-color: #f8f8f8 !important;
}
.description{
    max-height: 80px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
}
.stream-card{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
.stream-card .item{
    background-color: white;
    font-size: 35px;
    font-weight: bold;
    line-height: 62px;
    height: 80px;
    min-height: 80px;
    color: #1da1f1;
    text-align: center;
}
.stream-card .item img{
    max-height:60px;
    max-width: 60px;
}
.active-week{
    color: #1da1f1 !important;
}
.categories-filter {
    overflow: scroll;
    white-space: nowrap;
    margin-bottom: 1px;
}
#videoArea video{
    max-height: 200px !important;
}
.col-45 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 45%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 45%;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%;
}
@media (max-width: 567px) {
    .responsive-sm {
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
    .responsive-lg .col, .responsive-lg .col-45{
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -moz-box-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
        margin-bottom: 15px;
        margin-left: 0;
        max-width: 100%;
        width: 100%;
    }
}
@media (max-width: 767px) {
    .responsive-md {
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
    .responsive-lg .col, .responsive-lg .col-45{
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -moz-box-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
        margin-bottom: 15px;
        margin-left: 0;
        max-width: 100%;
        width: 100%;
    }
}

@media (max-width: 1023px) {
    .responsive-lg {
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
    .responsive-lg .col, .responsive-lg .col-45{
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -moz-box-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
        margin-bottom: 15px;
        margin-left: 0;
        max-width: 100%;
        width: 100%;
    }
}
.bar.bar-transparent{
    background: none;
}
.placeholder-icon-clickable{
    position: absolute;
    right: 58px;
    top: 11px;
}
.round-left-corners{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.filter-toggle span{
    font-size: 0.8em !important;
    color: gray !important;
}
.item-thumbnail-left-small,
.item-thumbnail-left-small .item-content {
    padding-top: 8px;
    padding-left: 60px;
    min-height: 70px;
padding-bottom: 8px;
}
.item-thumbnail-left-small > img:first-child,
.item-thumbnail-left-small .item-image,
.item-thumbnail-left-small .item-content > img:first-child,
.item-thumbnail-left-small .item-content .item-image {
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 45px;
    max-height: 45px;
    width: 100%;
    height: 100%; }

.screenCenter{
    top:47%;
    left:47%;
}
.divBackgroundGray
{
    margin:2px;
    border:3px solid #1da1f1 !important;
}
.package-icons{
    float:right;
}
.package-icons i{
    font-size: 24px;
}
.uploadTags{
    display: inline-block;
    height: 40px;
    background-color: gray;
    border-radius: 20px;
    padding: 0 10px !important;
    line-height: 40px;
    color: white;
    margin: 5px;
    text-align: center;
}
.comment-icon:before{
    line-height: 40px !important;
}
.no-border-right{
    border-right: none !important;
}
.border-radius-50{
    border-radius: 50%;
}
.animate-maxheight{
    overflow: hidden;
    -webkit-transition: max-height .5s;
    -moz-transition: max-height .5s ;
    -o-transition: max-height .5s ;
    transition: max-height .5s ;
    transition-timing-function: ease-out;
}
.zero-maxheight{
    max-height: 0;
}
.full-maxheight{
    max-height: 900px;
}
.item-thumbnail-left.training-streams{
    padding-left: 90px !important;
}
.gray-bg{
    background-color: #ddd !important;
}
.margin-10{
    margin: 10px;
}
.bar-header.bar-addActivity{
    height: 64px !important;
    border-bottom: 1px solid #ddd;
    box-shadow: 1px 1px 2px #ddd;
}
.has-header.has-bar-addActivity{
    top:64px !important;
}
.special-header-button-right{
    position: absolute;
    right:0;
    top:0;
}
.activity-list .list{
    margin:10px;
}
.unit-select{
    padding-left: 0!important;
    max-width: 100% !important;
}
.inpage-tab{
    min-height: 34px;
    line-height: 34px;
}
.tabbed-tag{
    height: 44px;
    background-color: gray;
    color: white;
    line-height: 44px;
    font-size: 1.2em;
}
.scroll-x{
    overflow-x: scroll;
}
.bottom-shadow{
    box-shadow: 0 2px 3px #888;
}
.line-height-40
{
    line-height: 40px;
}


.valign-parent {
    display: table;
    width: 100%;
}

.valign-child {
    display: table-cell;
    vertical-align: middle;
}
.text-superlarge{
    font-size: 3em;
}
.chart-legend-1{
    height:15px;
    width:15px;
    background-color: #e74c3c;
    display: block;
}
.chart-legend-2{
    height:15px;
    width:15px;
    background-color: #27ae60;
    display: block;
}
.chart-legend-3{
    height:15px;
    width:15px;
    background-color: #3498db;
    display: block;
}
.card-row{
    line-height: 16px;
    padding-bottom: 10px;
    padding-top:10px;
}
.overflow-vis{
    overflow: visible;
}
.sports-dropdown{
    position: absolute;
    width: 100%;
    top:44px;
    left:0;
}
.bar-sportname-row{
    padding: 10px 10px 0 10px;
    margin-bottom: 10px;
}
.nowrap{
    white-space: nowrap !important;
}
.feedback-label {
    border: none;
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    text-align: center;
}